[2022-04-21 17:30] #109 closed

[2022-04-21 17:32] fbernaly commented on #110
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:32] #110 closed

[2022-04-21 17:33] fbernaly commented on #113
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:33] #113 closed

[2022-04-21 17:34] fbernaly commented on #115
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:34] #115 closed

[2022-04-21 17:35] fbernaly commented on #116
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:35] #116 closed

[2022-04-21 17:37] fbernaly commented on #117
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/

[2022-04-21 17:37] #117 closed

[2022-04-21 17:38] fbernaly commented on #119
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/

[2022-04-21 17:38] #119 closed

[2022-04-21 17:40] fbernaly commented on #120
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/g

[2022-04-21 17:40] #120 closed

[2022-04-21 17:40] #121 closed

[2022-04-21 17:41] fbernaly commented on #123
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/g

[2022-04-21 17:41] #123 closed

[2022-04-21 17:42] fbernaly commented on #100
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/g

[2022-04-21 17:42] #100 closed

[2022-04-21 17:43] fbernaly commented on #124
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/g

[2022-04-21 17:43] #124 closed

[2022-04-21 17:47] fbernaly commented on #81
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/g

[2022-04-21 17:55] fbernaly commented on #128
@caofuqing: The Google's Pose Detection API only returns the landmarks, what you see in this [post](https://developers.google.com/ml-kit/vision/pose-detection/classifying-poses) is outside the scope of the original API and therefore of this plugin. To do something like that you need to use the landmarks (the output of this plugin) and feed them into a model you have trained. In that example they a

[2022-04-21 17:55] #128 closed

[2022-04-21 18:00] fbernaly commented on #130
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Start using:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/g

[2022-04-21 18:00] #130 closed

[2022-04-21 18:01] #134 closed

[2022-04-21 18:03] #135 closed

[2022-04-21 18:06] fbernaly commented on #137
@om-ha: this sounds like a great idea, could you send a PR implementing what you propose?

Otherwise we will close this one for inactivity until someone steps in to implement it.

[2022-04-21 18:11] fbernaly commented on #138
It depends of your rotation and how you create the InputImageData, look at this:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_commons#usage

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_commons/lib/src/input_image.dart

Feel free to send a PR if you find a better solution or improvements.

[2022-04-21 18:11] #138 closed

[2022-04-21 19:55] #225 closed

[2022-04-21 19:58] X-SLAYER commented on #213
yes `flutter build apk --release` solved the issue

[2022-04-21 19:58] #213 closed

[2022-04-21 20:20] ryanaidilp commented on #221
@fbernaly I'm updating my app to use this plugin and it worked now. Thanks.

[2022-04-21 20:20] #221 closed

[2022-04-22 02:03] fbernaly commented on #143
Image Labeling and Object tracking can have remote custom models downloaded from Firebase, in order to wrap all that functionality under the same plugin both [google_mlkit_image_labeling](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_image_labeling) and [google_mlkit_object_detection](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pack

[2022-04-22 02:03] #143 closed

[2022-04-22 02:05] fbernaly commented on #146
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-22 02:05] #146 closed

[2022-04-22 11:29] arazinger opened #230 "PlatformException : com.google.mlkit.common.MlKitException: This detector is already closed!"
Hi,
I'm using *google_mlkit_text_recognition* plugin in the following way, but there seems to be an issue after TextRecognizer is closed:

[code]

I would expect that new TextRecognizer instances could still be created and used?

[2022-04-22 16:03] kodol73 opened #231 "TextRecognizer works ok on Android but the result letters are all corrupted on iOS"
Hi,

I got recommended to use google_mlkit_text_recognition instead of google_ml_kit as followes
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/207

However, it still works ok on Android but not on iOS using google_mlkit_text_recognition as using google_ml_kit

recognizedText.text look ok on Android but the letters in it are all corrupted on iOS
For now, I need only English TextReco

[2022-04-22 16:09] fbernaly commented on #231
@kodol73 : could you share an image of the text you are trying to recognize? I have been trying text recognizer and it works for me.

[2022-04-22 16:16] fbernaly commented on #231
Here you have some screenshoot of the example app in iOS and it is working.

![IMG_0050](https://user-images.githubusercontent.com/7014968/164754138-c19a3b63-900c-4521-a3ab-86ab91e9fa18.PNG)

![IMG_0051](https://user-images.githubusercontent.com/7014968/164754152-2a3dc7d0-c597-4d9d-ac4d-7a61b16278c7.PNG)

[2022-04-22 16:17] fbernaly commented on #230
@arazinger : thanks for finding that bug, we will fix it in the next release.

[2022-04-22 17:54] fbernaly commented on #230
This is fixed in this PR:  https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/229

And released in version [0.2.0](https://pub.dev/packages/google_mlkit_text_recognition/versions/0.0.2)

Details:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/229/commits/cf28dd5233eeb35219f92fdd7b611f6b2d85951e#diff-5d7206290bb61a20123c996baf3eaf530bca7435976397cca10399adbd39c998
- https://

[2022-04-22 17:54] #230 closed

[2022-04-24 07:22] Ashfaque-231219 opened #232 "Hey first of all i want to say thanks to you for making such cool plugins . but i have issue in digital ink recongnition i give the error the firebase not configure please solve this issue if any one find the solution"

[2022-04-24 14:48] fbernaly commented on #232
@Ashfaque-231219 : update title and description of this issue and provide more details.

[2022-04-24 15:20] fbernaly commented on #232
if you are using `google_ml_kit` then you need to read our readme:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit

and start using: `google_mlkit_digital_ink_recognition`

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_digital_ink_recognition

Confirm if that solves your issue

[2022-04-25 12:50] Holofox commented on #230
@fbernaly,

see also:

[code]

[code]

[2022-04-25 14:25] fbernaly commented on #230
Thanks @Holofox: I noticed that as well, and it will be included in PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/229 as well

[2022-04-25 19:57] fbernaly commented on #230
[google_mlkit_image_labeling](https://pub.dev/packages/google_mlkit_image_labeling) was update in https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/229/commits/3085835e210e677460176e764ad162edccb416cf as part of https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/229

[2022-04-25 22:01] fbernaly commented on #230
[google_mlkit_object_detection](https://pub.dev/packages/google_mlkit_object_detection) was update in https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/229/commits/aaf8130e5b3b14f310f1cd40cf3672a00e6f792b as part of https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/229

[2022-04-26 04:35] naoaki-kaito commented on #217
@fbernaly it works thank you.

[2022-04-26 04:35] #217 closed

[2022-04-26 06:36] pdhiepCMCJapan commented on #231
i have a same problem, it detect wrong text when run on IOS flutter

[2022-04-26 09:31] kodol73 commented on #231
It seems that some images of text are recognized correctly, but some other images of text are corrupted
I just tried with example app, but has the same result

The result of recognizing below image is corrupted
Please check with the below image

![IMG_1391](https://user-images.githubusercontent.com/11918801/165269422-5b9b03ac-e02f-4711-a16d-9a30a97797d4.JPG)

[2022-04-26 10:23] Ashfaque-231219 opened #233 "Issue in DigitalInkRecogniton shwoing issue in ios"
[Firebase/Core][I-COR000003] The default Firebase app has not yet been configured. Add `FirebaseApp.configure()` to your application initialization. This can be done in in the App Delegate's application(_:didFinishLaunchingWithOptions:)` (or the `@main` struct's initializer in SwiftUI). Read more: https://goo

[2022-04-26 17:13] fbernaly commented on #233
you must be using `google_ml_kit` instead of `google_mlkit_digital_ink_recognition`. I created a new project in Flutter and added `google_mlkit_digital_ink_recognition` in my yaml file to confirm that no Firebase dependencies are added and so far no, this is my Podfile.lock:

[code]

If you intention is to use only Digital Ink Recognition then just use `google_mlkit_digital_ink_recognition` rather

[2022-04-26 21:02] fbernaly commented on #231
@kodol73 : I tried your image with the example app and so far it does not look corrupted to me. It looks pretty much good to me.

![IMG_0052](https://user-images.githubusercontent.com/7014968/165391594-2640b595-dc5a-482a-b9f2-dcaa7e54add5.PNG)

[2022-04-26 21:38] fbernaly commented on #149
Try latest version.: https://pub.dev/packages/google_ml_kit/versions/0.9.0

[2022-04-26 21:38] #149 closed

[2022-04-26 21:41] fbernaly commented on #151
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_barcode_scanning` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 21:41] #151 closed

[2022-04-26 21:47] fbernaly commented on #154
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_barcode_scanning` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

So far I am able t

[2022-04-26 21:47] #154 closed

[2022-04-26 21:49] fbernaly commented on #156
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_barcode_scanning` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

Closing due to ina

[2022-04-26 21:49] #156 closed

[2022-04-26 21:50] #158 closed

[2022-04-26 21:51] fbernaly commented on #161
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_object_detection` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 21:51] #161 closed

[2022-04-26 21:55] fbernaly commented on #167
This issue duplicates https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/165.

Closing this issue and moving conversation to https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/165.

[2022-04-26 21:55] #167 closed

[2022-04-26 21:55] #168 closed

[2022-04-26 21:59] fbernaly commented on #169
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

You can find more details on why you those issues here:

- https://github.com/b

[2022-04-26 21:59] #169 closed

[2022-04-26 21:59] fbernaly commented on #194
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

You can find more details on why you those issues here:

- https://github.com/b

[2022-04-26 21:59] #194 closed

[2022-04-26 22:01] fbernaly commented on #172
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_barcode_scanning` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin
- https://github.co

[2022-04-26 22:01] #172 closed

[2022-04-26 22:02] fbernaly commented on #174
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 22:02] #174 closed

[2022-04-26 22:05] fbernaly commented on #176
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_barcode_scanning` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin
- https://github.co

[2022-04-26 22:05] #176 closed

[2022-04-26 22:06] fbernaly commented on #177
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 22:06] #177 closed

[2022-04-26 22:06] fbernaly commented on #178
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

You can find more details on why you those issues here:

- https://github.com/b

[2022-04-26 22:06] #178 closed

[2022-04-26 22:08] fbernaly commented on #181
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 22:08] #181 closed

[2022-04-26 22:11] fbernaly commented on #182
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_barcode_scanning` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin
- https://github.co

[2022-04-26 22:11] #182 closed

[2022-04-26 22:12] fbernaly commented on #185
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 22:12] #185 closed

[2022-04-26 22:15] fbernaly commented on #188
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

You can find more details on why you those issues here:

- https://github.com/b

[2022-04-26 22:15] #188 closed

[2022-04-26 22:15] fbernaly commented on #195
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

You can find more details on why you those issues here:

- https://github.com/b

[2022-04-26 22:15] #195 closed

[2022-04-26 22:16] fbernaly commented on #189
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project. You can start using `google_mlkit_barcode_scanning` instead.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin
- https://github.co

[2022-04-26 22:16] #189 closed

[2022-04-26 22:34] fbernaly commented on #197
@AlexsandroZanella2: could you send a PR with your contribution? also, include the iOS portion

[2022-04-26 22:39] fbernaly commented on #198
this is coming from the native Firebase library, look at this: https://firebase.google.com/docs/perf-mon/disable-sdk?platform=android

[2022-04-26 22:39] #198 closed

[2022-04-26 22:41] fbernaly commented on #199
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

You can find more details on why you got those issues here:

- https://github.c

[2022-04-26 22:41] #199 closed

[2022-04-26 22:43] fbernaly commented on #200
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 22:43] #200 closed

[2022-04-26 22:43] fbernaly commented on #200
Example app uses the camera, give it a try: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/documentation/packages/google_ml_kit/example

[2022-04-26 22:46] fbernaly commented on #202
follow the suggestion by @jdiazgon55 .

`camera_view.dart` has been move here: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/documentation/packages/google_ml_kit/example/lib/vision_detector_views/camera_view.dart

[2022-04-26 22:46] #202 closed

[2022-04-26 22:48] fbernaly commented on #203
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

And try the example app, it is working for both ios and android, pay attention

[2022-04-26 22:48] #203 closed

[2022-04-26 22:49] fbernaly commented on #204
Cropping an image is outside of the scope of this plugin.

[2022-04-26 22:49] #204 closed

[2022-04-26 22:51] fbernaly commented on #205
Try the latest version.

Also note that `google_ml_kit` has been split in multiples plugins, to avoid adding unnecessary dependencies to your project.

More details here:
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin

[2022-04-26 22:51] #205 closed

[2022-04-26 22:51] #218 closed

[2022-04-26 22:51] #219 closed

[2022-04-26 22:52] #222 closed

[2022-04-26 22:52] #232 closed

[2022-04-26 22:55] fbernaly commented on #193
Thanks for reporting the issue. We will fix in upcoming version.

[2022-04-27 00:35] kodol73 commented on #231
You tried it on iPhone, right?
Can you please let me know your phone model and iOS version?

[2022-04-27 01:14] fbernaly commented on #231
I tried with both an iPhone 11 and iPhone 6S, both with iOS 15 and I am using Xcode 13.3

[2022-04-27 04:34] vladaman opened #235 "removeme"

[2022-04-27 04:54] fbernaly commented on #235
@vladaman : what was the issue? is it solved? can we close it?

[2022-04-27 14:46] #235 closed

[2022-04-27 15:09] fbernaly commented on #193
Fix is included in this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236

[2022-04-27 19:30] #193 closed

[2022-04-27 19:31] fbernaly commented on #190
Fix is included in this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236

details: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236/commits/b4b9fdf2b8feb5081461e60d4750640907ac51eb

will be available in v0.2.0

[2022-04-27 19:31] #190 closed

[2022-04-27 19:32] fbernaly commented on #155
Fix is included in this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236

details: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236/commits/26b1b6cfbedbf920956c2904139ef87baf298381

will be available in v0.2.0

[2022-04-27 19:32] #155 closed

[2022-04-27 19:32] fbernaly commented on #157
Fix is included in this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236

details: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/commit/26b1b6cfbedbf920956c2904139ef87baf298381

will be available in v0.2.0

[2022-04-27 19:32] #157 closed

[2022-04-27 19:35] fbernaly commented on #165
This issue was resolved in other conversation.

Look at this example: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/179#issuecomment-1077527570

[2022-04-27 19:35] #165 closed

[2022-04-27 22:51] fbernaly commented on #179
Thanks @Holofox  for the workaround, we are including it in this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236

details here: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/236/commits/08f4e02d381688b3a0d0a23b8c9061d66611da71

it will be available in v0.2.0

[2022-04-27 22:51] #179 closed

[2022-04-28 01:29] parkerhutchinson opened #237 "E/ModelUtils( 9441): Failed to open model file"
I can only assume I'm doing this right since there is no documentation around using local label options and where someone would store their custom tflite model. But I'm pretty sure this would be all I need to load one in and have it working yet:
[code]
**pubspec.yaml**
[code]
**output:**
[code]
which then causes more errors:
[code]

google_ml_kit: ^0.9.0
target SDK: 30

**NOTE:** I was also gettin

[2022-04-28 01:42] fbernaly commented on #237
This is was resolved in https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/179.

And here you have the documentation: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_image_labeling#load-local-custom-model

BTW, you need to start using `google_mlkit_image_labeling` instead of `google_ml_kit`.

More details here: https://github.com/bharat-biradar/G

[2022-04-28 01:42] #237 closed

[2022-04-28 05:49] hsangtini opened #238 "google_mlkit_translation missed two languages download."
https://developers.google.com/ml-kit/language/translation/android#java

Please check document.

Create a [Translator](https://developers.google.com/android/reference/com/google/mlkit/nl/translate/Translator) object, configuring it with the source and target languages:
[code]

Make sure the required translation model has been downloaded to the device. Don't call translate() until you know the model

[2022-04-28 06:24] fbernaly commented on #238
@hsangtini: thanks for pointing out to the java documentation. Our plugin uses both the java and the obj-c APIs depending on the platform you are running in Flutter.

did you look at our documentation?

In our documentation we added a class to make sure you download the model before you call `translateText()`, look at this:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packag

[2022-04-28 06:24] #238 closed

[2022-04-28 06:28] fbernaly commented on #238
BTW: I just check in our java code and we are downloading the model if needed:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_translation/android/src/main/java/com/google_mlkit_translation/TextTranslator.java#L55

same for ios:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_translation/ios/Classes/GoogleMlKitTran

[2022-04-28 16:06] kodol73 commented on #231
it's weird, I just upgraded iOS to 15.4.1, but the same result
It generated corrupted text like the following with the image
[code]

Just in case, I test with google_ml_kit 0.8.0 because example app uses google_ml_kit

Please help me to solve this issue

[2022-04-28 20:34] hsangtini commented on #238
@fbernaly Thank you for quick reply. I just want to talking about pre-download a combo, like englishGermanTranslator.
BTW i can solved pre-download by send first translate and catch the result success or fail.

Regards,

[2022-04-28 20:44] fbernaly commented on #238
I noticed the current readme in master has some errors, I updated the readme with more details here: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/239/commits/8933c591eea49678c31a39e99bae5ecfc0763608

You can used `OnDeviceTranslatorModelManager` to pre-download the languages you need before translating.

Look at the updated read how you can use `OnDeviceTranslatorModelManager` and l

[2022-04-28 21:11] codyfilatov commented on #231
I had this same issue, but resolved it on iOS.

Still testing android but I am passing the File from camera plugin cameraController.takePicture() as the InputImage.fromFile(imageFile) and looking at text it had almost no relevant data, and any data it did have was like:
A
ooD
TM

After removing the google_ml_kit plugin, and replacing it with only the google_mlkit_text_recognition: ^0.2.0 it works

[2022-04-28 21:25] fbernaly commented on #231
Thanks @codyfilatov for the suggestion.

Do you still have issues with Android? both platforms are working okay?

@kodol73 : give it a try

[2022-04-28 22:13] codyfilatov commented on #231
Both platforms are working okay now.
Although I did not have this issue with Android to begin with.

The only issue I am having now on iOS is the orientation of my image when processing, it thinks it is in landscape when it is in portrait, so the bounding boxes are messed up, does not happen on Android. My image does not have any exif orientation data. I would be nice to have if no orientation dat

[2022-04-28 22:20] fbernaly commented on #231
@codyfilatov: once you figure the orientation out, share here or create another issue if necessary. I have seen issues with different orientations as well.

[2022-04-29 11:04] bipin-sakariya opened #240 "InputImageRotation issues: Vertical images are not working, etc..."
In Flutter I am trying to detect text from images in horizontal orientation is working perfectly but Vertical orientation text is not detected.
I am using the google_ml_kit plugin.
Anyone has a solution for this or another way to achieve this functionality.

Here you can check it is working with native android :- https://github.com/googlesamples/mlkit/tree/master/android/vision-quickstart

[2022-04-29 11:27] kodol73 commented on #231
I just tested the newly released version of google_mlkit_text_recognition, 0.2.0, nothing else changed
The issue doesn't appear any more

Thanks

[2022-04-29 11:35] codyfilatov commented on #231
Sharing here just as a note.
The orientation issue was caused by no EXIF orientation data on the image in iOS taken from the camera plugin takePicture function. Since the image file had no EXIF orientation data I assume the text regognizer (and barcode scanner) was returning odd (not incorrect) values.

The values did not translate as expected as when I set a Container DecorationImage as the same

[2022-04-29 14:28] codyfilatov commented on #231
[code]

This is what I use for my use case. Keep in mind I only want portrait.
I use the package:image/image.dart . Ignore the bad code, I'll clean it up later.

[code]

[2022-04-29 19:58] prooshani commented on #240
Same Problem here.

I am using the example app provided by the package author.
It works fine in portrait mode but if I rotate the device all the API's stop working or acting malfunction.

To be specific, I am using Samsung Galaxy Tab A7 SM-T505 right now and it is not working OK.

To test if there is a problem in imageOrientation I just added a log print over this function inside _processCameraIma

[2022-04-29 20:13] fbernaly commented on #240
This issue has to do with the orientation of your device/camera/inputImage. The example app is not production code and only works on portrait mode. Feel free to modify the example app to support landscape, but you need to edit this method: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_ml_kit/example/lib/vision_detector_views/camera_view.dart#L304-L342

I have n

[2022-04-29 20:15] fbernaly commented on #240
Another comment in another discussion that might help you to resolve your issue is here: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/231#issuecomment-1113390253

[2022-04-29 20:19] fbernaly commented on #231
Closing this issue.

Fix: [google_mlkit_text_recognition](https://pub.dev/packages/google_mlkit_text_recognition) instead of `google_ml_kit`.

More details here: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_text_recognition

Moving `InputImage` and `InputImageRotation` issues to: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/240

[2022-04-29 20:19] #231 closed

[2022-04-30 08:07] srodrigo opened #241 "Object Detection example crashes the app on Android"
When I just compile and lunch the app on Android 10 (QPOS30.52-29-7-6) on a Moto G7 Power, and open the Object Detection example, the camera shows for a moment, then the app crashes due to out of memory. I leave the stacktrace below.

I'm not sure how this is implemented, but looks like a memory leak might be causing the issue?

[code]

[2022-04-30 09:51] prooshani commented on #240
As you mentioned earlier, I believe it is something related to camera package which cannot find the correct aspect ratio after orientation change.
To be exact, the imageProcess is working on something different than what you have in cameraPreview because, if you move the camera at the edge, where the barcode is merely outside the cameraPreview, you can see that it can detect the barcode correctly.

[2022-04-30 09:53] prooshani commented on #240
From my view the current culprit is this widget from camera_view.dart:

`  Widget _liveFeedBody() {
    if (_controller?.value.isInitialized == false) {
      return Container();
    }

    final size = MediaQuery.of(context).size;
    // calculate scale depending on screen and camera ratios
    // this is actually size.aspectRatio / (1 / camera.aspectRatio)
    // because camera preview size is r

[2022-05-01 09:47] KalanaPerera commented on #197
I am trying face detection on Android Nexus 6P (Physicaldevice) Video is so much laggy.  Do you have any recommendations/suggestions to improve the performance?

[2022-05-02 15:00] Knaackee opened #242 "PlatformException on Digital Ink Recognition"
I tried this little example but got an Exception on `await _digitalInkRecognizer.recognize(i);`.

### pubspec.yaml

google_mlkit_digital_ink_recognition: ^0.2.1

Example:

[code]

[code]

Any idea?

Thanks!

[2022-05-02 15:09] fbernaly commented on #242
Could you share the exception log you are getting?

[2022-05-02 16:11] Knaackee commented on #242
Here we go.

[code]

[2022-05-02 17:24] fbernaly commented on #242
@Knaackee : `StrokePoint.t` should be a long. that is what the exception is telling you. Also, if you go to the line where the exception is being thrown you will see that it is expecting a long:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_digital_ink_recognition/android/src/main/java/com/google_mlkit_digital_ink_recognition/DigitalInkRecognizer.java#L73

[2022-05-02 17:27] fbernaly commented on #197
@KalanaPerera: try using a lower resolution.

[2022-05-02 17:40] fbernaly commented on #241
@srodrigo: did you add the `google-services.json` to you Android project as explained in the readme?

More detail why here:

- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit/example
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master#firebase-dependency-custom-models
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-05-02 19:43] fbernaly commented on #197
are you developing a mobile app?

[2022-05-02 20:20] Knaackee commented on #242
Now it works as expected.

Thank you very much!

[2022-05-02 20:20] #242 closed

[2022-05-03 06:05] KalanaPerera commented on #197
Yes, Using flutter

[2022-05-03 07:47] Knaackee opened #244 "Question about Digital Ink Recognition"
I tried the Digital Ink Recognition Plugin and have a question. I am uncertain if this is the right place to ask.

Drawing a word or sentence works great, but what if I want to insert a word before.
e.g., I draw “World” and then I draw “Hello” before.
I expected the result would be “Hello World” but instead it is “World Hello”.

Does anybody know how to achieve the behavior I expected?

Thanks a l

[2022-05-03 14:35] millerovv opened #245 "App won't build for Web"
Hi! We've been actively using `google_ml_kit` for text recognition.
Not so long ago we switched to [our own fork](https://github.com/simpleclub-extended/Google-Ml-Kit-plugin) of the library in order to minimize APK sizes by removing unnecessary ML packages.

@fbernaly [contacted us](https://github.com/simpleclub-extended/Google-Ml-Kit-plugin/pull/1#issuecomment-1105486674) with a proposal to try o

[2022-05-03 15:47] fbernaly commented on #245
@millerovv : are you running google_ml_kit on web? We did not include web target, actually ML Kit is only for iOS and Android as per Google's website: https://developers.google.com/ml-kit

If you are doing, could you provide more details, I am interested to know how.

[2022-05-03 17:19] fbernaly commented on #244
I thought it was because the stroke takes a timestamp:

https://developers.google.com/ml-kit/vision/digital-ink-recognition/ios#build_an_ink_object

But I also hardcoded the example app and removed the timestamp, and it is still returning World Hello. I think the native API is taking the ink sequentially for processing: it process stroke 1, and then 2... and so on. Maybe you need to have some logi

[2022-05-03 17:29] fbernaly commented on #197
I am not familiar with MediaPipe, but it seems that is has a lot of capabilities.

Since both: ML Kit and MediaPipe are run by Google, maybe (I am not sure), both are using the same for ML processing, I see that in their home, MediaPipe has pretty much the same APIs that ML Kit:
- https://google.github.io/mediapipe/#ml-solutions-in-mediapipe
- https://developers.google.com/ml-kit

Since they will

[2022-05-03 17:29] #197 closed

[2022-05-03 21:46] Knaackee commented on #244
Thanks for your quick reply!

I tested the sample on my android tablet.

The sample recognizes the text and does an overlay (see images).
So, the recognizer returns not only the text, but also the boundaries of the strokes.

This is precisely what I want. Can we make this happen?

Thanks again!

## Drawing
![Screenshot_20220503-234146_ML Kit Digital Ink Recognition Demo](https://user-images.github

[2022-05-03 23:18] fbernaly commented on #244
@Knaackee : I played with the native app, and the app is processing the `Ink` the same way this plugin is doing.

To be more specific this plugin is just grabbing the `Ink` you are passing in the method, wrapping in a json, passing using FlutterMethodChannel to the native later and in the native layer we decode that json back to an `Ink` object and pass it to the MLKit API. When the response is re

[2022-05-03 23:27] Knaackee commented on #244
Thank you very much!

This was very helpful.

[2022-05-03 23:36] fbernaly commented on #244
Ok, closing issue.

[2022-05-03 23:36] #244 closed

[2022-05-03 23:38] fbernaly commented on #244
@Knaackee: if our plugin is helpful do not forget to thumbs up our plugin in pub.dev or give it a star here.

[2022-05-04 06:59] millerovv commented on #245
@fbernaly 👋
We only use google_ml_kit functionality on mobile platforms. On the Web version of the app the features that require ML are not available to the user. Therefore, it's inconvenient that `google_mlkit_text_recognition` prevents us from building single project for all of the platforms.

[2022-05-04 14:38] fbernaly commented on #245
Ok, will try that in a demo project and let you know.

[2022-05-05 09:45] trueinnidhi commented on #89
Facing similar issue here. Face detection in real time is not working for SM-T500 and SM-A23. Please provide a solution for the same.

[2022-05-05 14:52] fbernaly commented on #89
@trueinnidhi: this has to do with the Camera plugin you are using, the resolution of the images, and the orientation. Many devs have reported similar issues for many APIs not detecting, but all of them has to do with the same. You will need to play with those variables until you find the combination that creates the correct InputImage for the detector.

Similar issues:
- https://github.com/bharat-

[2022-05-05 16:56] Knaackee opened #246 "Setting writingArea for Digital Ink Recognition"
Is it possible to set the `writingArea `for the recognizer like described [here](https://developers.google.cn/ml-kit/vision/digital-ink-recognition/ios) ?

I didn't find anything.

Thanks!

[2022-05-05 18:32] fbernaly commented on #246
We have not included that yet, we can include it in our next release or feel free to send a PR with your contribution.

[2022-05-05 19:04] fbernaly commented on #244
@Knaackee: Their documentation also supports the output you are getting when writing world and then hello.

https://developers.google.cn/ml-kit/vision/digital-ink-recognition/ios#stroke-ordering.

[2022-05-05 20:17] Knaackee commented on #244
Yes i already read and tried ist (Stroke ordering) .

Works good.

[2022-05-05 21:35] Knaackee commented on #246
I could do it for android, but not for iOS. (at least not using objective-c)

[2022-05-05 22:09] fbernaly commented on #246
PR should contain both for us to release it

[2022-05-05 22:18] Knaackee commented on #246
Of course.

Since It's only about adding one argument, I hope that I will find someone to help.

If someone with decent objective-c experience reads this and would like to help.
Please comment here.

I would even pay for that feature.

[2022-05-05 22:40] fbernaly commented on #246
ok, you can pay me!!!

this is the PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/247 it includes both iOS and Android and updated the README with new details.

[2022-05-05 23:30] Knaackee commented on #246
Oh wow. This is nice.

Bit you started before we talked about the price 😉

What, you think, ist a fair price?

[2022-05-06 15:30] #246 closed

[2022-05-06 15:42] Knaackee commented on #246
Thanks a lot! What about a compensation?

[2022-05-06 15:44] fbernaly commented on #246
What is you email ?and we can discuss details

[2022-05-06 15:45] Knaackee commented on #246
dknaack@gmail.com

[2022-05-07 06:05] definev commented on #221
I'm facing the same issue with the latest version (0.3.0)

[2022-05-07 16:16] fbernaly commented on #221
@definev : share your logs, please

[2022-05-07 16:39] definev commented on #221
I fix it, but it's pretty hard to spot where I'm wrong. I don't transform properly the raw image from `CameraImage` i get from `camera` packages to `InputImage` which `processImage` function in `FaceDetector` need. I think you should create a helper plugin that transforms `CameraImage` to `InputImage`. I see the example app and get this code to transform the image, can you wrap this into a plugin

[2022-05-07 17:39] fbernaly commented on #221
@definev : I am glad you found a solution for your issue. Thanks for clarifying that the issue was in the process of getting an `InputImage` from `CameraImage` and not it our plugin.

We have documented that extensively in our README, and that code your shared is in both the example app and the README: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_commons

[2022-05-07 19:01] prooshani opened #248 "Barcode scanner's canvas is not painting at the correct position"
I am using this awesome plug-in and appreciate for the effort you are sharing.
I am using barcode scanner and I have problem with the position of rectangle (canvas) which is painting around the detected barcode.
I have spent a good time finding the source of problem but I was not able to find it.

Has anyone faced the same problem?
or
Has anyone know how I can fine tune the location of the painted

[2022-05-07 19:21] fbernaly commented on #248
@prooshani : have you try out example app? We are drawing a rect on top using he corners. Is that what you want to achieve?

[2022-05-07 19:31] prooshani commented on #248
Yes, I have tried that and it is far top from the detected barcode and make it complicated especially when there is multiple  barcodes available.
In fact, if we have 2-3 barcodes on top of each other, you cannot decide which painted rect belongs to which barcode.

[2022-05-07 20:01] fbernaly commented on #248
Could you share a screenshot of what you are getting? And what device are you using for testing?

[2022-05-11 07:47] vmalyi commented on #245
@fbernaly, any help needed here to move this forward?

[2022-05-11 10:56] matanby opened #251 "Face contour is only detected for a single face when multiple faces are detected"
Hi,

When using the `FaceDetector` to detect faces in images where multiple faces are present, and `enableContours` is set to `true`, the returned list of faces contain face contours for one face only. For the rest of the faces, the `_contours` map contain only null values .

https://user-images.githubusercontent.com/8208862/167833362-80663182-192b-451b-9305-54751f322409.mov

[2022-05-11 14:03] iremiko opened #252 "How can I add gestures to recognized text?"
Hi,
I want to select text from recognized texts, how can I do that?

[2022-05-11 14:17] fbernaly commented on #251
That is no bug, that is how the Google API works, and it is explained in their documentation:

Source: check this `contourMode` in this table:  https://developers.google.com/ml-kit/vision/face-detection/ios#1.-configure-the-face-detector

[2022-05-11 14:17] #251 closed

[2022-05-11 14:18] fbernaly commented on #252
@iremiko : could you provide more details? I dont get what you want to do

[2022-05-11 15:02] iremiko commented on #252
When I click on one of the articles read, how can I add a gesture to close the page and return the article I clicked to the previous page?
![img1](https://user-images.githubusercontent.com/47665203/167881890-4e45696c-bf17-4ec0-a3f0-83ec548341de.png)
![img2](https://user-images.githubusercontent.com/47665203/167881915-e8704952-76b4-457e-bfa4-b243029c59d5.png)
![img3](https://user-images.githubuserc

[2022-05-11 15:40] fbernaly commented on #252
@iremiko: that is outside the scope of this plugin, that is more like a general Flutter question. So far this plugin is working for you and returning the recognized text. That is all this plugin will do. This plugin does not provide any widget for you to handle the response, that is up to the consumer/developer.

To learn more about Taps, drags, and other gestures: https://docs.flutter.dev/develop

[2022-05-11 15:40] #252 closed

[2022-05-11 16:35] fbernaly commented on #245
@vmalyi, @millerovv:

I created a Flutter project with `image_picker` and `google_mlkit_text_recognition`, for both iOS, Android and web. Simple app: button in the center of the screen, it opens the image picker, once image is selected then an `InputImage` is created from path, then passed to `TextRecognizer`, `recognizedText` is printed in the console.

And so far, it is working for the 3 platfor

[2022-05-11 22:38] prooshani commented on #240
The landscape zoomed picture problem rooted from this part of the code:

[code]
If you change the `scale: scale` to `scale:1` it will fix the landscape orientation zoom problem but with some drawbacks.
The main cons of doing this is the aspect ratio of the camera preview, which looks to be not the same as the main scaffold's body.
After all, I think passing 1 to `scale` may solve the problem for n

[2022-05-13 20:07] prooshani opened #253 "weird issue for Text Detector in landscape orientation"
I am working with ML Kit Text Detector recently and found that there is a problem in detecting texts in landscape mode.
While it is working OK in portrait mode, in landscape mode it is not working correctly for horizontal texts but verticals.
I mean, if you put a text in the same orientation of the camera (as a normal way to do so) it will not detect any text but, if you rotate the text by 90 degr

[2022-05-13 20:47] fbernaly commented on #253
@prooshani: I think it is related to the same ImageRotation issue https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/240, you need to figure out the rotation for the `InputImage`. As long a you pass the correct `InputImage` with the correct orientation and metadata, the plugin will detect the text correctly. It is not the plugin not working, but the InputImage with wrong orientation.

T

[2022-05-13 20:54] fbernaly commented on #245
@millerovv  and @vmalyi : any update? did you try my POC?

[2022-05-13 21:52] prooshani commented on #253
I have fixed the barcode and zoomed camera preview in barcode scanner and camera_view and I will re-check and PR the results. However, I need more tweaking for the camera view and I think there is something wrong in InputImageData's rotation attribute. I have checked and it is returning 90 degrees at all orientations which is not correct and make these issues for the example app which is kinda a s

[2022-05-14 06:51] prooshani commented on #253
I have found the problem root.
This part from camera_view cannot detect and reflect the correct orientation of the screen and camera. Therefore, the detected barcode/text and etc are faulty in landscape mode:

[code]

[2022-05-14 06:57] fbernaly commented on #253
Do you have a fix for that?

[2022-05-14 07:41] prooshani commented on #253
Working on it.
Will let you know here.

[2022-05-14 08:10] prooshani commented on #253
OK, after spending hours to find a flutter SDK's native class to detect exact orientation (PortraitUP, PortraitDown, landscapeLeft, landscaperight) I have found that this will not happen without and external package like [Native Device Orientation](https://pub.dev/packages/native_device_orientation).
I don't know if you have any interest to fix the example code using any external package or not.
I

[2022-05-14 19:14] millerovv commented on #245
Hi @fbernaly!
Sorry for the delayed response. Thank you for that example! It turns out, that the package had conflicts with some other dependencies in our project. We managed to overcome that problem and the app successfully launched on web.
Appreciate your help on this. Let's resolve that issue 👍

[2022-05-14 19:14] #245 closed

[2022-05-14 19:22] fbernaly commented on #245
Great I am glad it is fixed

[2022-05-14 20:33] fbernaly commented on #253
Yea, go ahead and fix the example app using the external package. Update the readme as needed.

[2022-05-17 06:41] Ellymayr opened #254 "Pose Detection on Images"
Hi there I have the issue that the pose detection do not draw the lines and points of an image from the gallery. would be awesome if somebody can help me out.

[2022-05-17 19:46] fbernaly commented on #254
@Ellymayr: do you mean in the example app?

This plugin only returns the detected landmarks. This plugin does not provide a widget for you to draw the landmarks on top of you image. That is outside the scope of this plugin.

You can look at our example app for some guidance, however we know that the example app is not complete, it is not production code and it is intended to demonstrate some of th

[2022-05-18 12:40] g123k opened #255 "iOS: Crash when input image is cropped (Barcode scanning)"
On [SmoothApp](https://github.com/openfoodfacts/smooth-app), we use your dependency to detect barcodes.
We have an algorithm that allows to [crop the image](https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/scan/camera_image_cropper.dart), which works well on Android.

However on iOS, it seems that if the image is not the "full" one, the app will crash:

[code]

[2022-05-18 12:46] valentinkatic opened #256 "Object detection example doesn't update view"
While using example app to try Ml plugins I noticed object detector doesn't draw any objects.
After some debugging I noticed ObjectDetectorPainter class always returns false on 'shouldRepaint' overriden function.

[2022-05-18 14:43] #256 closed

[2022-05-18 14:50] bharat-biradar commented on #137
Running the plugin on isolate would take away the flexibility. Developer can always run the functions exposed in the api on different isolate should they prefer it. Hence we are closing this issue.

[2022-05-18 18:02] fbernaly commented on #255
@g123k: I am glad you are using our plugin in your app. Could you provide more details? Steps to reproduce? I cloned you [repo](https://github.com/openfoodfacts/smooth-app) and tried to run your app, but first I got issues with the Flutter version, I was using `2.10.5` and was not able con run `flutter pub get` successfully. After I updated my Flutter version to `2.13.0` I was able to run `flutter

[2022-05-18 18:52] fbernaly commented on #137
BTW, I just ran across this open source app that is using our  [google\_mlkit\_barcode\_scanning](https://pub.dev/packages/google_mlkit_barcode_scanning) plugin and they are using isolates. Here is a very good example how to do it if you are interested:

- https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/scan/mkit_scan_helper.dart#L17-L20
- https://github.com/

[2022-05-18 23:49] fbernaly commented on #255
@g123k: I was not able to run your app, but after looking at your code and learning how you are using the plugin and cropping the `CameraImage`, I created a branch in my example app, I copied your `CameraImageCropper`, and added an overlay to differentiate the area that is actively scanning (cropping area) and I found 2 issues with your code.

**Issue 1**

I think that Y′UV420p (and Y′V12 or YV12)

[2022-05-18 23:53] fbernaly commented on #254
No, that wont work, actually force unwrapping `inputImage.inputImageData!` will crash your app because you  are reading the image from a file, when you read the image from a file `inputImageData` is null. Unless you find a way to pass the inputImageData then it will work.

[2022-05-19 00:56] dimitchik opened #258 "Entity extraction crashing/not working"
Calling `annotateText()` throws the following exception:
`NoSuchMethodError (NoSuchMethodError: The method 'toInt' was called on null.
Receiver: null
Tried calling: toInt())`
Tried following inputs:
- `google.com`
- `www.google.com`
- `https://google.com`

Judging by the call stack, the exception occurs because the string is mistakingly recognised as `EntityType.trackingNumber` instead of `EntityT

[2022-05-19 01:57] dimitchik commented on #258
I don't have a fix, only discovered this a couple hours ago

You can reproduce this by running the example app, choosing entity extraction, and typing in any string that contains a url

[2022-05-19 03:02] fbernaly commented on #258
@dimitchik : fix is included in this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/259, and released in [v0.4.0](https://pub.dev/packages/google_mlkit_entity_extraction)

[2022-05-19 03:02] #258 closed

[2022-05-19 06:38] Ellymayr commented on #254
alright thank you! sadly i can not find a solution to draw the landmarks over my image. Maybe somebody solved that already or have an input for me for creating the _customPaint

[2022-05-20 00:08] jtkeyva opened #260 "Save Digital Ink as SVG?"
Is it possible to save the digital ink as an svg file?
thanks

[2022-05-21 07:08] Ellymayr commented on #254
is there a guidance page where I can read how to solve my problem? or an example with an similar task?
many thanks in advance!!

[2022-05-21 07:23] fbernaly commented on #254
@Ellymayr : we have plenty of documentation in our readmes on how to use our API to get the landmarks or our detection particular to the API you are using. We also have plenty of links in our readmes that point to more documentation by Google on specifics of their APIs.

However what you want to do is outside the scope of this plugin. This plugin will only help you you detect the landmark on a giv

[2022-05-21 12:40] anil-shrestha opened #261 "in InputImage.fromBytes, InputImageData is required while InputImage.fromFile does not require it"
In InputImage.fromBytes, InputImageData is required while InputImage.fromFile does not require it

for that to work I am writing the bytes to file and then loading InputImage.

`      Uint8List? imageString = base64Decode(<base64 string>);`
`      final dir = (await getTemporaryDirectory()).path;`
`      final imageFile = File('$dir/a.png')..writeAsBytesSync(imageString!);`
`      final image = In

[2022-05-21 16:36] fbernaly commented on #254
Here you have some tutorials:
- https://api.flutter.dev/flutter/widgets/CustomPaint-class.html
- https://api.flutter.dev/flutter/rendering/CustomPainter-class.html
- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_ml_kit/example/lib/vision_detector_views/painters/pose_painter.dart
- https://medium.com/flutter-community/a-deep-dive-into-custompaint-in-flutter-47ab

[2022-05-21 16:36] #254 closed

[2022-05-21 16:51] fbernaly commented on #260
Thanks for using this plugin!!!

This plugin will help you to recognize text from a given [Ink](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_digital_ink_recognition/lib/src/digital_ink_recognizer.dart#L90-L99), which is a collection of [Stroke](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_digital_ink_recognitio

[2022-05-21 16:51] #260 closed

[2022-05-21 17:33] anil-shrestha commented on #261
I am getting base64 string from api response.

[2022-05-21 17:38] fbernaly commented on #261
Could you be more specific?

How you reading the image? Could you share the code how you are doing that? What plugin you are using to read the image? Image_picker? Camera?

[2022-05-22 07:41] jtkeyva commented on #260
aweseome! thanks for the thorough answer. i'll poke around. some drawing packages have brush thickness and fancy brushes, perhaps ill try to implement that at some point

[2022-05-22 08:00] anil-shrestha commented on #261
[code]

[2022-05-22 14:48] fbernaly commented on #261
Oh, I see, you are downloading the image from the cloud. In that case I think what you are doing is correct: you need to create a `File` from the url. You wont be able to use the other constructor: `InputImage.fromBytes` because you do not have the `InputImageData` which comes from camera device that is taking the photo.
I was looking in stackoverflow if there is an easier way to get a File from U

[2022-05-22 14:48] #261 closed

[2022-05-23 11:31] luffynas opened #262 "File Not Found (Persmission Denied)"
I was try **google_mlkit_face_detection** v.0.3.0 and return error after take photo from camera like this:

[code]

How to solve this issue?

**Android Manifest**
[code]

**Legacy Code**
`android:requestLegacyExternalStorage="true"`

**Flutter Version**
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.0.1, on macOS 12.3.1 21E258 darwin-x64, locale en-GB)
[

[2022-05-23 15:36] edwinmacalopu opened #263 "use disaggregated model mlkit face detection"
Why not use the disaggregated model to reduce the weight of the app?

instead of using

[code]

Should use

[code]

[2022-05-23 16:36] fbernaly commented on #262
@luffynas: that seems more like an issue with how you are capturing the image rather than the plugin, how are you capturing the image. This plugin does not capture the image, once you have capture the image: from the gallery or the camera, this plugin only detects the faces in the give `InputImage`. We do not requiere you to add and permission to your manifest or  setting any legacy flag like you

[2022-05-23 16:44] fbernaly commented on #263
@edwinmacalopu: using the dependency from Google Play Service  would require your app to have an internet connection to  download the model. But at the same time, if they are downloading your app from the AppStore we could assume they have internet. But nothing guarantee that they will open the app immediately to download the model... that is why we went with the dependency that already includes t

[2022-05-23 18:30] pbrejdak opened #264 "ObjectDetector does not work for InputImage.fromFilePath() or InputImage.fromFile()"
Currently `ObjectDetector` works only for `InputImage.fromBytes` which is working only when operating `Camera` plugin since there is no other way to encode `planeBytes` for `InputImageData`. I'm attaching photos below from example app provided in this repository

<details>
<summary>When I'm trying to process via camera image it's working properly. Photo below</summary>

![Screenshot_2022-05-23-20-

[2022-05-23 18:59] fbernaly commented on #264
@pbrejdak: are you changing the mode from `stream` to `single` for `ObjectDetectorOptions`? https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_object_detection/lib/src/object_detector.dart#L74

The example app is hardcoded to use always stream, but feel free to send a PR fixing that.

[2022-05-23 19:08] fbernaly commented on #264
When I tweaked the example app to use single instead of stream:

![Screen Shot 2022-05-23 at 12 08 09 PM](https://user-images.githubusercontent.com/7014968/169889373-787c404f-d104-40da-96b5-9e5a8b5e7679.png)

It is working, do the same in your code:

![Screenshot_20220523-120435](https://user-images.githubusercontent.com/7014968/169889182-0b16ad21-9c92-4de8-8b1c-e215170f0ddf.png)

[2022-05-23 19:11] fbernaly commented on #264
BTW, our plugin does not provide a widget to draw the bounding rect or id on top of your image, that is something extra that the example app is doing, but we are only doing it for the camera feed, for gallery we are just printing the text and tracking id as you can see in my screenshoot.
You can handle the drawing on top of your image if needed.

[2022-05-26 17:33] #262 closed

[2022-05-27 21:09] tattivitorino opened #265 "Not detecting faces on iOS 14 on an image from imagePicker front camera"
Hello everyone,
I am having a problem detecting faces on iOS 14 with an image coming from the image picker (source: camera).
I take the picture with the front camera and start processing to detect faces. I'm using an older version of the ml kit because I can't upgrade my project at the moment.

Android is working perfectly

The first error that i have is this: (i've researched a bit and appears to

[2022-05-27 21:15] fbernaly commented on #265
@tattivitorino: you need to start using the latest version, in fact you need to stop using `google_ml_kit` and start using `google_mlkit_face_detection` if you intention is only to use Face detection, we wont be able to provide support for an old version when a new one is available. First you need to confirm that issue is reproducible in the latest version and then we can help.

Look at this for w

[2022-05-27 21:16] fbernaly commented on #265
Also, give our example app a try, so far it is working for iOS: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit/example

[2022-05-27 21:19] fbernaly commented on #265
BTW, Did you added this to your `Info.plist`? Even though you are using the image picker you are still using the camera, and therefore you need to add those permission descriptions.

[code]

If that is the case, that is outside the scope of this plugin.

[2022-05-28 11:26] tattivitorino commented on #265
@fbernaly thank you so much for your reply! I will discuss with my team the project upgrade as it is long overdue!
I didnt add the Microphone permission because we're not recording video, but I'll certainly give it a try! And I know we should use the plugins separately because of the increase in the size of the binaries.
Anyway.. thanks a lot for the help! Cheers

[2022-05-29 06:09] pbrejdak commented on #264
Thank you very much for such a detailed answer to my question, it helped. If I will have a spare hours I will gladly do a PR to fix adding images from gallery to the processor.

[2022-05-29 06:09] #264 closed

[2022-05-30 09:39] hassanyassiin opened #266 "[!] Invalid `Podfile` file: [!] Specifying multiple `post_install` hooks is unsupported.."

[2022-05-30 09:52] #266 closed

[2022-05-30 19:08] tattivitorino commented on #265
@fbernaly
I setup a simple project using the updated versions of Flutter, FaceDetection, Image Picker and so on.. and I'm still facing the same problem.. see below please! I'm able to convert the XFile into InputImage but processing to detect faces does return faces empty!

[code]
My pubspec:
[code]
Info.plist
[code]

Podfile

[code]
XCode Build Settings:
![image](https://user-images.githubusercon

[2022-05-31 02:30] hassanyassiin opened #267 "Adding armv7 to the Excluded Architecture cause: 'Error (Xcode): Framework not found Pods_Runner'"
when I remove armv7 and replace it by armv64 the error gone! what should I do in this case ?

[2022-05-31 03:22] nwjun opened #268 "InputImageRotationMethods Not Found"
When creating Input Image from CameraImage, the documentation stated the rotation method as:

[code]

However, the method is not found in the plugin.

[2022-05-31 07:27] hassanyassiin opened #270 "Once I added this package to the project the image_picker package stopped working !!"
once I added this package, I wasn't able to select images anymore by image_picker I tried with several projects. the gallery will open but the image will return nul, I don't know why but that what happening

[2022-05-31 11:08] 049er opened #271 "Object Detection not working on saved Image."
I found this issue on my own app that uses this library when I updated to the latest version.
I used the example app to test if it was an issue on my side.

When using a saved image to detect objects it does not detect any.

![Screenshot_2022-05-31-13-00-10-520_com google_mlkit_example](https://user-images.githubusercontent.com/22274130/171159311-0e056de6-9307-4d54-9b9a-a94739738d9d.jpg)

However

[2022-05-31 11:14] tattivitorino commented on #265
@ykiran thanks for your reply!
I am assuming "thumbnail" is the alias you gave for the image package? so that would be:
[code]
I'll give it a try!

[2022-05-31 11:14] 049er commented on #248
Hi, I'm having a similar problem with the example app. (Xiaomi Redmi Note 10s)
The barcodes are not being outlined properly.

![Screenshot_2022-05-31-13-10-00-981_com google_mlkit_example](https://user-images.githubusercontent.com/22274130/171160546-23c067a4-849d-4785-b145-2579a4f1e5d5.jpg)

Flutter Doctor:
[✓] Flutter (Channel stable, 3.0.1, on Ubuntu 22.04 LTS 5.15.0-33-generic, locale en_ZA.UTF

[2022-05-31 12:01] tattivitorino commented on #265
@ykiran it worked! I'll leave the solution here in case someone else has the same issue!
thanks a lot!

[code]

[2022-05-31 12:31] hassanyassiin opened #272 "Target Integrity (Xcode): The linked framework 'Pods_Runner.framework' is missing one or more architectures required by this target: arm64."
As mentioned in the documentation that we should add armv7 in the Excluded Architecture but when added this arm64 added automatically beside amv7 and i386. is it ok for that ? and I also when configuring iOS to firebase I only added the json file that downloaded to the runner without adding step 3 and 4 (adding code to the appDelegate)  as I suggested by someone, so is it right ?

[2022-05-31 16:16] fbernaly commented on #268
Thanks for finding this bug in the documentation.

[2022-05-31 16:19] #268 closed

[2022-05-31 17:41] fbernaly commented on #270
Look at your dependencies. Fixing `image_picker` is outside the scope of this plugin. Check our example app, it is using `image_picker` and it is working with no issues in both iOS and Android, so I am afraid this more an issue is your dependencies and how you are configuring your project.

Check our example app, clone our repo: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pa

[2022-05-31 17:41] #270 closed

[2022-05-31 17:44] #271 closed

[2022-05-31 17:50] fbernaly commented on #248
@049er: that is an issue in the example app (outside the actual plugin) that it is not resizing correctly the output of the detection (the plugin). Feel free to send a PR fixing the barcode painter: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_ml_kit/example/lib/vision_detector_views/painters/barcode_detector_painter.dart We always welcome contributions.

[2022-05-31 17:52] hassanyassiin commented on #270
Hello, thanks for your response, i have two question, first when i added armv7 to the excluded architecture, the arm64 qdded by default when i try to remove it it shows me error, second when configuring firebase to the ios app i only added the bundle id and the GoogleService-info.plist to the project without any extra code, is it right like that ?

TEST
Get Outlook for Android<https://aka.ms/AAb9y

[2022-05-31 17:53] #265 closed

[2022-05-31 17:58] fbernaly commented on #272
I case of iOS you also need to call

[code]

in the `AppDelegate`

[2022-05-31 19:01] fbernaly commented on #270
yes, unfortunately  in case of object detection you need Firebase, and that is because for this API there is this one feature that allows you to download your model from Firebase. And since the plugin bundles everything together we have not found a way to get rid of that. Other than adding the GoogleService-info.plist to the project you need to initialize [Initialize Firebase in your app](https://

[2022-05-31 19:02] fbernaly commented on #270
What do you mean with added automatically? never seen that?

[2022-05-31 19:02] fbernaly commented on #272
Other than adding the GoogleService-info.plist to the project you need to initialize [Initialize Firebase in your app](https://firebase.google.com/docs/ios/setup#initialize-firebase).

[2022-05-31 19:02] #272 closed

[2022-05-31 19:02] #263 closed

[2022-06-01 06:28] hassanyassiin commented on #270
ok then i added the GoogleService-info.plist to my project and i initialized firebase in my app but i didn't add the firebase sdk into my app as step 3 said is it necessary ?

Once i added the amrv7 there ....
<img width="1512" alt="Screen Shot 2022-06-01 at 9 26 13 AM" src="https://user-images.githubusercontent.com/94860683/171341233-b182f637-d5b1-4e62-b1c7-2ae7bb77ff2b.png">

Then arm64 added he

[2022-06-01 09:27] renanyoy commented on #255
I have same crash in our app on ios but without any cropping.. it works on android.

[code]

[code]

[2022-06-01 14:45] hassanyassiin opened #273 "Which size should be the input image inorder to detects all its objects"
First I tried to inset this image, it detects null

![image_one](https://user-images.githubusercontent.com/94860683/171431700-2115284f-874a-4be4-a760-586bb9137a16.jpeg)

Then when I cropped it, it detects 3 objects, great!!
![image_two](https://user-images.githubusercontent.com/94860683/171431899-ae62176d-9c31-4854-9041-984b74842177.jpeg)

Also this image it detects objects without cropping (one o

[2022-06-01 15:47] fbernaly commented on #273
There are 3 constructor methods for an `InputImage`:
- from file path
- from file
- from bytes

Only when you create an `InputImage` from bytes you need to set the size.  And from what you have share it seems that you are using the path, so, you do not need to set the size. I guess your issue is another: you are not setting the correct settings for the object detector:

Since you are processing on

[2022-06-01 15:47] #273 closed

[2022-06-01 16:13] fbernaly commented on #255
@renanyoy: are hardcoding `processingFormat` and setting the wrong format for iOS, the format for iOS should be `InputImageFormat.bgra8888`.

I also copied your code in our example app and it is running with no crash. I replaced my method for `_processCameraImage` with you code and it is working, no crash. So, I think it should be something else in your project.

[2022-06-01 17:23] fbernaly commented on #273
Interesting... I uploaded your images and tested with our example app and I am getting the same result, when the image is cropped it is not detecting the object, but so far I think it is the Google API not detecting. What I would recommend you to do is: try Google's sample app and try your images, if you still can reproduce the issue, then we need to report the issue to Google.

You can get their

[2022-06-01 19:25] DeepakSinghRawat opened #275 "Custom object detection model giving wrong predictions on Android"
Hi,

I am trying to use a custom object detection model in the example app provided by you. I am using the latest version of [google_mlkit_object_detection: ^0.4.0](https://pub.dev/packages/google_mlkit_object_detection) plugin.

I replaced the [object_labeler.tflite](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_ml_kit/example/assets/ml/object_labeler.tflite)

[2022-06-01 19:35] fbernaly commented on #275
@DeepakSinghRawat: could you share your custom model, I will take a look.

[2022-06-02 03:22] DeepakSinghRawat commented on #275
@fbernaly Please download the model from [here](https://drive.google.com/file/d/1lTuoCKZFtumeckqmqh8Hde4J__JRBH65/view?usp=sharing). Let me know if you need any other information.

[2022-06-02 06:50] renanyoy commented on #255
thank you for your reply
I'm wondering if it's maybe a problem with the camera addon 0.9.7+1

on iOS brga I get that
[code]

and on android yuv
[code]

[2022-06-02 07:24] renanyoy commented on #255
thank you @fbernaly for your reply.
in fact my code wasn't working anymore with last camera 0.9.7+1 addon on android too
I fixed with this code
[code]
and iOS works too in yuv, still crashing if I setup brga for the camera..

[2022-06-02 22:55] fbernaly commented on #275
@DeepakSinghRawat : I created this branch with you model: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/fruits_model

Give it a try.

I am not an expert in Machine Learning or trying models. I cannot tell you if the model is well trained or not, but so far the testing I did with my Pixel4 I am getting this:

![Screenshot_20220602-151324](https://user-images.githubusercontent.com/7014

[2022-06-03 12:25] hassanyassiin opened #276 "How to convert the detected object to a XFile or File .... !"
How to convert the detected objects to a File like the image below ?

![WhatsApp Image 2022-06-03 at 3 20 50 PM](https://user-images.githubusercontent.com/94860683/171853058-a11190f1-1eaf-4eff-b3f3-fd71c8a0482e.jpeg)

[2022-06-03 12:27] hassanyassiin commented on #270
@fbernaly Please can you help to fix this issue about adding the amr64 automatically ? because I'm not able to run my app on the iOS simulators but on any iOS real device it works great and also on the android devices/emulators

[2022-06-03 14:36] fbernaly commented on #276
You need to crop the image, using the boundingReact returned by the detector. But that is outside the scope of this plugin. This plugin will only detect the object and return an instance of [DetectedObject](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_object_detection/lib/src/object_detector.dart#L180-L210). How you process that response it up to the dev

[2022-06-03 14:36] #276 closed

[2022-06-03 14:41] hassanyassiin commented on #270
Hello, no I’m excluding the armv7 in the project level but once i added there, it automatically added to the target level then if i remove it in the target level the simulator will throw an error

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Francisco Bernal ***@***.***>
Sent: Friday, June 3, 2022 5:31:31 PM
To: bharat-biradar/Google-Ml-Kit-plugin ***@***.***>

[2022-06-03 14:46] fbernaly commented on #270
Compare side by side with our example app. Ours can be ran in the simulator

[2022-06-03 15:08] DeepakSinghRawat commented on #275
Dear @fbernaly Thank you for taking a look at the issue I am facing. I tried your repo on a few real fruits but got wrong predictions. For example here are the predictions from your flutter app and mlkit's android app. Flutter app is predicting `apple` which is wrong. mlkit's android app is predicting `tomato` for the same image which is correct. I even changed `multipleObjects: false` in the flut

[2022-06-03 16:54] hassanyassiin commented on #270
Thanks for your response, kindly can you send me the buildsettings in the target runner please ? I want to see the excluded architecture in you target level

TEST
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Francisco Bernal ***@***.***>
Sent: Friday, June 3, 2022 5:47:02 PM
To: bharat-biradar/Google-Ml-Kit-plugin ***@***.***>
Cc: hassanyassiin ***@***.***

[2022-06-03 16:56] fbernaly commented on #270
it is in the repo: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit/example/ios

clone our repo and run the app

[2022-06-05 17:51] hassanyassiin commented on #270
@fbernaly Thanks for your help! i clone the app and it is working great in all devices but except on the IOS simulators, the app run in the IOS simulator  without errors but what happen is that the image picker will return null when select an image, and even the object detector package didn't work in the IOS simulator and what i noticed that once i run the app the arm64 added automatically into th

[2022-06-05 20:15] fbernaly commented on #270
Sorry, I cannot do anymore, I also running on a M1 processor and for me it is perfectly running on the iOS simulator. I cannot reproduce the same issue you are facing. I mage picker is working as well.

[2022-06-10 09:31] ClemPalf opened #277 "Performance optimization."
Hi!

I am really interested in your Pose Detection plugin, however, I find it a bit 'slow'.
Another plugin was created a few months ago, and it is running way faster, you can find it [here](https://pub.dev/packages/body_detection).
According to its creators, it is because they implemented both the camera stream and the model inferences on the native side. Which makes it faster than using separate

[2022-06-10 13:47] ClemPalf commented on #277
I just realized that the [example app](https://github.com/0x48lab/flutter_body_detection/tree/main/example) from the supposed 'faster' package I was referring to, has fewer FPS on the camera stream.
Which means it is easier for the pose rendering to follow the body and give the impression it is faster. Although it looks nice, it doesn't necessarily mean that it runs faster than yours. I will keep

[2022-06-12 07:48] Toolenaar opened #279 "Model wont load from phone storage"
Hi I am building a tool to test Models. For this I want to be able to load a model in an android emulator. However when I try to load this from storage I keep getting 'java.io.FileNotFoundException'. The model works when I load it from the assets folder. But I just cant get it to load from another file path. Any idea why? Or if this is even possible?

I am using the following to load a file opened

[2022-06-13 01:42] fbernaly commented on #279
To ensure that in both platforms that file will be accesible and you wont have to copy the file in 2 different folder (one for iOS and one for Android), we decided to go with assets folder. All the files in assets folder will be available for both platforms.

For you logs I guess you tested with Image Labeler, so, look at this in our README, it specifies where to put your models:

https://github.c

[2022-06-17 08:13] craigomac opened #283 "Smallest Text Detection elements for Chinese are lines, not characters"
According to the documentation at https://developers.google.com/ml-kit/vision/text-recognition:

I'm initialising a text recogniser like so:

[code]

What I'm seeing is that at the `element` level, text is still grouped into contiguous lines—not individual characters, and not even compound words and phrases.

[2022-06-17 16:13] fbernaly commented on #283
@craigomac: could you compare running the native example, use the same image and let us know if for the native the API is also returning the same for elements.

https://github.com/googlesamples/mlkit

[2022-06-22 08:08] craigomac commented on #283
Thanks @fbernaly. I verified that the native frameworks have the same behaviour and have raised this as a bug with MLKit here: https://github.com/googlesamples/mlkit/issues/535.

[2022-06-22 17:45] #283 closed

[2022-06-25 17:51] arsallion313786 opened #285 "Not Working on Android 11 and 12"
I have added latest google ml kit version in our flutter app its working fine for Android 9 but for higher versions Android 11 and 12 not working even i tested google ml kit example app and same behaviour for Android 11 and 12. I also tried this for IOS and there its working fine.  On Android 11 and developer all feature are not working properly.

If any one try google ml kit features for Android

[2022-06-26 05:08] fbernaly commented on #285
@arsallion313786 : what do you mean with "not working"? which API are you using: face detection, barcode, text recognition, etc? I used a Pixel 4 with Android 12 to test our example app, and so far all the APIs are working. So, could you be more specific what is not working for you Android 12 testing device?
Also, thanks for trying Google's  native app, if you are getting the same behavior in Goog

[2022-06-26 05:16] arsallion313786 commented on #285
@fbernaly
Thanks to comment. I have Samsung A23 Testing device and i have tested Barcode and Text detection API its working fine on all iOS devices and on Android Devices which they have version upto 9 but same code not working for Android 11 and 12.
I really wonder if all things working fine for all iOS devices and also for Android 9 then why not for Android 11 and 12

[2022-06-27 21:32] umangsh commented on #285
Possibly related, google_mlkit_barcode_scanning doesn't work for me on Pixel 3, Android 12. The camera switches on, but nothing happens when pointed at a barcode. Barcode detection works fine on iOS. Flutter logs:

I/Camera  (20069): close
W/Camera  (20069): The selected imageFormatGroup is not supported by Android. Defaulting to yuv420
I/Camera  (20069): startPreview
I/Camera  (20069): CameraCapt

[2022-06-29 17:31] ZiyadF296 opened #286 "Issue when using Google-ML-Kit and cloud_firestore at the same time."
Hello,

I have developed an app where I am using Firebase cloud_firestore. Everything works perfectly fine there. However, when I add this plugin as a dependency into my `pubspec.yaml` file, I get an error throw, and somehow `cloud_firestore` calls stop working. I cannot read, write, get, update, etc... If I remove this Google-ML-Kit dependency, the error disappears and the cloud_firestore starts

[2022-06-30 16:26] svonidze opened #287 "Flutter. Face Detection. No face detected on Samsung Galaxy A23 Android 12: Access denied finding property "ro.mediatek.platform""
The application written with Flutter, the Face Detection works ok on many other devices but does not work on Samsung Galaxy A23 Android 12.

Found this line in the Android Studio log
[code]
**Google ML kit is not compatible with the processor?**

Full log
[code]

[2022-07-01 00:42] tbm98 opened #288 "barcode scanning can not scan this image (scan from file)"
![20220626_224049](https://user-images.githubusercontent.com/52562340/176800628-fa515c05-09e6-4ee0-b2be-1d8590718ebf.jpg)

[2022-07-01 08:22] genkiyoshi0101 opened #289 "Barcode and Face recognition not recognized on some Xiaomi devices"
## Overview
I can't to scan barcode and recognize face on some Xiaomi devices with google_ml_kit's example app. The Xiamoi devices that can't recognize are as follows:

* Redmi Note 10 JE (Android 12)
* Redmi 9T (Android 10)

Other android devices and IOS devices can scan barcodes as expected. The same goes for facial recognition.

## Steps to Reproduce

1. Execute `flutter run` on the code sample

[2022-07-01 12:37] jbx1 opened #290 "iOS crash with "MLKInvalidImage: Input image must not be nil." after upgrading from google_ml_kit 0.7.3 to google_mlkit_barcode_scanning 0.3.0"
Using Camera 0.9.8+1
After switching packages from `google_ml_kit: ^0.7.3` to `google_mlkit_barcode_scanning: ^0.3.0` and changing the parts of the code that broke, mainly:

Replaced

[code]

with

[code]

and

[code]
 with

[code]

and

[code]

with

[code]

It works on Android but on iOS I get a crash, with the following exception.

`MLKInvalidImage: Input image must not be nil.`

I can't figure

[2022-07-01 21:31] umangsh commented on #285
From the linked bug, there is likely an issue with some Android 12 devices (emulators are okay) and google_mlkit_barcode_scanning:

1. Works on emulators - Pixel 3, Pixel5 with Android 12, Pixel 3 with Android 9.
2. Works on device - lenovo Tab with Android 10.
3. Works on Samsung Galaxy Tab S6 Lite, Android 12.
4. Does NOT work on Pixel 3 and Pixel 5 with Android 12.
5. Does NOT work on Nokia x20

[2022-07-02 20:42] sorgfal commented on #285
nokia x20 android 12

[2022-07-04 14:56] GeorgeSamirTechno-politan opened #291 "Face detection doesn't work probably on IOS"
this is warning. the image taken from camera with selfi cam.
WARNING]The specified colorspace format is not supported. Falling back on Libyuv.

[2022-07-06 10:07] nero-angela commented on #290
I have the same problem sometimes with `TextRecognizer`.
[code]

[2022-07-07 08:01] std-s opened #292 "Dependency problem between firebase_core and google_ml_kit."
hi,
  I have this problem, how to solve it?

[code]
[code]
![image](https://user-images.githubusercontent.com/99468005/177722225-9ec8eeb0-9c41-493a-b515-eec6984ed45c.png)

[2022-07-08 13:29] MichiruNakam commented on #292
I was having the same problem since Friday 01/07. The problem seems that this package is outdated and does not work with FirebaseCore 9.2.0. My workaround was to downgrade some packages in the pubspec.yaml, and adding the package `firebase_core_platform_interface` with a fixed version:
[code]
Don't forget to run `flutter clean`

[2022-07-08 16:25] mahbubabbas commented on #285
Not working on Vivo Y33T having android 12

[2022-07-08 17:03] meet7sagar opened #293 "Issue while running the flutter app on actual iOS Device."
Hello guys, I've been stuck on this issue for the last 3 days. Here is my pubspec.yaml file.

[code]

And the response from flutter I get every time I try to run the app on an iOS device.

[code]

Please help me with this.

[2022-07-10 18:09] nirbar89 commented on #292
Same here any update?

[2022-07-11 16:29] floheitzmann opened #294 "Simulator app crashed after using google_mlkit_language_id function"
Hi 👋
I've tried the `google_mlkit_language_id 0.3.0` plugin to detect the language from user comments but when I use the `await languageIdentifier.identifyLanguage(text);` function my app crashes.

I don't know what to do next, I have complied with the requirements and added everything.

My crash report because it's too long for GitHub. https://pastebin.com/jAJ9gFmD

[2022-07-13 11:17] Ahmad-Jarrar opened #296 "Adjust face tracking"
I am using the face detection module with tracking on. I don't find the tracking to be very accurate, and the ids change too often and essentially the bounding boxes drawn are jittery.

I want to know is there a way to adjust the tracker (i.e change the number of missed frames to drop track). Or to incorporate a different tracker.

[2022-07-13 19:29] prathamesh-mutkure commented on #291
Facing the same issue

[2022-07-13 19:29] prathamesh-mutkure commented on #293
Try unintstalling Podfile.lock and renistalling cocoapods

[2022-07-13 23:48] fbernaly commented on #265
@prathamesh-mutkure : could you share, please?

[2022-07-14 05:07] 04pd commented on #292
facing same issue any update?

[2022-07-14 07:00] ErrorCode-404 commented on #285
I am using this plugin together with the camera plugin to create a barcode scanner. The imageSream on the CameraController delivers CameraImage's which will be used for barcode detection while using the mlkit BarcodeScanner.
On some devices like Pixel 6 everything works good and fast. But on the Pixel 5 the detection doesn't work at all.
I am holding the camera over the barcode but nothing happens

[2022-07-15 09:27] SebghatYusuf commented on #292
same issue

[2022-07-18 15:17] GeorgeSamirTechno-politan opened #299 "Issue with IOS devices"
Facing issue while detecting face images on IOS devices with lower front camera resolutions (iPhone 8).
Although there is no problem with iPhone XS (which has face detection camera).
If we use the same iPhone 8 camera to take a photo then use the algorithm to process it, it works fine. But doesnt work on images taken directly by the camera.
How can we workaround this issue?

[2022-07-21 22:45] fbernaly commented on #299
Make sure your input image conforms with these resolution guidelines: https://developers.google.com/ml-kit/vision/face-detection/ios#input-image-guidelines

[2022-07-21 22:51] fbernaly commented on #292
Hi guys, sorry for the delay. Thanks for using our plugin. @bharat-biradar and I have been maintaining this plugin, but sometimes we cannot provide all the support you need. Both of us are busy with school, work and family. We created this plugin as an open source project. We do not have an ETA for this fix, too busy with so many things, but you are welcome to fork our repo, fix whatever is broken

[2022-07-21 23:03] fbernaly commented on #285
Hi guys, sorry for the delay. Thanks for using our plugin. @bharat-biradar and I have been maintaining this plugin, but sometimes we cannot provide all the support you need. Both of us are busy with school, work and family. We created this plugin as an open source project. We do not have an ETA for this fix, too busy with so many things, but you are welcome to fork our repo, fix whatever is broken

[2022-07-21 23:05] fbernaly commented on #293
This is how you install cocoapods: https://guides.cocoapods.org/using/getting-started.html

also make sure you run `flutter doctor` to ensure your environment is okay

[2022-07-21 23:05] #293 closed

[2022-07-21 23:07] fbernaly commented on #291
Hi guys, sorry for the delay. Thanks for using our plugin. @bharat-biradar and I have been maintaining this plugin, but sometimes we cannot provide all the support you need. Both of us are busy with school, work and family. We created this plugin as an open source project. We do not have an ETA for this fix, too busy with so many things, but you are welcome to fork our repo, fix whatever is broken

[2022-07-21 23:13] fbernaly commented on #296
All the documentation is in our repo or in Google's ML Kit official documentation:

- https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_face_detection#googles-ml-kit-face-detection-for-flutter
- https://developers.google.com/ml-kit/vision/face-detection
- https://developers.google.com/ml-kit/vision/face-detection/face-detection-concepts
- https://developers.g

[2022-07-21 23:13] #296 closed

[2022-07-21 23:58] fbernaly commented on #290
@jbx1 : you are hardcoding the values for imageRotation and inputImageFormat, try this:

[code]

[2022-07-22 00:05] fbernaly commented on #289
This seems to be related to my [comment](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/285#issuecomment-1192014260) on issue https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/285

It is related to the output coming from the `camera` plugin.

[2022-07-22 00:06] #288 closed

[2022-07-22 00:07] fbernaly commented on #287
This seems to be related to my [comment](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/285#issuecomment-1192014260) on issue https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/285

It is related to the output coming from the `camera` plugin.

[2022-07-22 00:10] fbernaly commented on #286
Hi guys, sorry for the delay. Thanks for using our plugin. @bharat-biradar and I have been maintaining this plugin, but sometimes we cannot provide all the support you need. Both of us are busy with school, work and family. We created this plugin as an open source project. We do not have an ETA for this fix, too busy with so many things, but you are welcome to fork our repo, fix whatever is broken

[2022-07-22 00:11] #279 closed

[2022-07-22 00:40] fbernaly commented on #294
ML Kit only supports 64-bit architectures (x86_64 and arm64). ML Kit does not support 32-bit architectures (i386 and armv7). Make sure the device or simulator you run conforms with that.

source: https://developers.google.com/ml-kit/migration/ios

[2022-07-22 00:40] #294 closed

[2022-07-24 07:59] codyfilatov opened #301 "TextRecognizer flat out fails reading embossed text."
Embossed text, such as a credit card number completely fails at being read.
Printed number text works fine.

What options are available to improve the accuracy of reading embossed numbers? It's half way there, but my app almost entirely relies on the ability to read this type of font.

[2022-07-25 05:24] #292 closed

[2022-07-25 05:26] fbernaly commented on #301
@codyfilatov: could you provide a sample image that is failing? I would like to take a look.

[2022-07-25 05:33] codyfilatov commented on #301
I am at 0 risk sharing this image, it's just the VISA and bank INI numbers. Nothing is PII.

Please see this image for example, it has extreme trouble identifying the card number text. Particularly the first "4" in the number. I have attempted a few things that did help slightly. I got VERY SLIGHTLY better results processing this same image as greyscale.

![20220724_222912](https://user-images.git

[2022-07-25 05:35] fbernaly commented on #301
Which plugin are you using in your yaml file?

[2022-07-25 05:38] codyfilatov commented on #301
google_mlkit_text_recognition: 0.3.0
Using TextRecognizer getting the results with nothing fancy. ImageFile is a max resolution image taken from the flutter camera plugin library. I have absolutely 0 problems with printed card text, only embossed cards cause this issue. I can understand it is more challenging to identify them, but if there are suggestions to improve the accuracy it would help sign

[2022-07-25 05:42] fbernaly commented on #301
ok, I will take a look

[2022-07-25 05:44] fbernaly commented on #301
ios or android?

[2022-07-25 05:45] codyfilatov commented on #301
Both platforms but primary testing on android

On Sun, Jul 24, 2022, 10:44 PM Francisco Bernal ***@***.***>
wrote:

[2022-07-25 10:15] reza00farjam opened #302 "Pose detection in landscape mode"
Hi
In pose detector example, landscape mode is totally unsupported and even set the device to this mode will make the camera to zoom in by default (large scale).
So, does pose detector support landscape mode? What is it's configurations if it does?

[2022-07-26 08:58] c-louis commented on #301
Certainly related to :
https://github.com/googlesamples/mlkit/issues/338

[2022-07-27 04:56] fbernaly commented on #301
Thanks @c-louis, definitely it is related, if they reported the same issue in the native sample app and since this plugin is a wrapper for the native APIs using FlutterMethodChannel, then we will experience the same issue.
@codyfilatov: We are going to keep this issue open, but there is nothing we can do until they fix the native libraries. Keep an eye on https://github.com/googlesamples/mlkit/iss

[2022-07-27 09:06] kucukkaa opened #306 "why barcode scanner just find max 10 objects"
im trying on example for understanding how the features works.

in barcode scanner mode(on example) with image from gallery it just find max 10 barcodes. in image there is 25 barcodes and when i try it on camera mod(open image on computer) it can find all barcodes.
when i cut the image(inculude not founded barcodes in orijinal image) and add white areas for set it same size of the original image i

[2022-07-27 15:10] rahman77889 opened #307 "Scaning realtime Text Recognition not return anything in some devices"
Hi

i have follow example for scaning text recognition and implement to my flutter project

it's work on many devices such as : Samsung brand
but it just return empty data on many devices such as : VIVO, XIAOMI

I have try update resolution ResolutionPreset.high to ResolutionPreset.medium but it still doesn't work

Please help me

Thank you

[2022-07-28 09:44] ashishktrn commented on #117
have you found any solution? I'm facing the same problem please help me

[2022-07-28 11:03] ashishktrn commented on #117
please help me how you fixed this??

[2022-07-30 08:28] jainshubham commented on #307
Facing the same issue. @rahman77889, did you find a solution to this?

[2022-07-30 08:29] jainshubham commented on #307
Facing the same issue. @rahman77889, did you find a solution to this?

[2022-08-02 11:16] cimplesid opened #308 "Anyway to recognize the text in complex scenarios ?"
<img width="457" alt="Screen Shot 2022-08-02 at 5 01 37 PM" src="https://user-images.githubusercontent.com/29953052/182362025-638ac177-60bb-40b8-b7db-a97dde643851.png">

[2022-08-02 11:17] cimplesid commented on #308
<img width="454" alt="Screen Shot 2022-08-02 at 5 02 29 PM" src="https://user-images.githubusercontent.com/29953052/182362187-b7f70a72-5061-4a33-aa49-538b4583efdf.png">

[2022-08-02 16:38] fbernaly commented on #308
????
@cimplesid: Add detail description please? Otherwise we will close issue.

[2022-08-03 09:51] rahman77889 commented on #307
finnaly i have solved this issue, by doing these 2 methods in one process :

first method use following default rules realtime scan until get result for compatible devices
second method using timeout such as 4 second / 5 second then trigger shoot photo then try to call ocr with image path

second method it works for uncompatible devices

because this issue not solved until now by @bharat-biradar

[2022-08-03 17:41] fbernaly commented on #307
@rahman77889:  @bharat-biradar and I have been maintaining this plugin for fun. It started as a side project. We do not have an ETA for your issue. You are welcome to dive into the code and send a PR with your contribution, this is an open source project. In particular your issue is challenging for us because we do not have all the testing devices you guys have and report issue with.
Also, conside

[2022-08-04 18:42] Alvarocda commented on #307
I don't know if the problem is similar, but I'm having problems reading texts with the data coming straight from the camera's Stream in real devices.

In the emulator, everything works perfectly, I can get the texts from a photo or directly from the camera feed.

But on real devices, I can only read text from photos, when trying to read straight from camera feed, no text is detected.

I tested it

[2022-08-04 22:00] Alvarocda commented on #307
I found that if you set the camera's ResolutionPreset to LOW, the text recognition starts working perfectly on real devices, any value above low and it stops working.

[code]

[2022-08-05 04:33] cimplesid commented on #308
How can we extract Text from above image ? Can we modify given model to do. so ?

[2022-08-07 09:03] MenaRaafat opened #309 "Barecode scanner only scans urls on Nokia X20"
The barcode scanner doesn't scan any type of data other than URLs.

This issue is only present on Nokia X20 device
https://www.gsmarena.com/nokia_x20-10838.php

ex:
123 --> No response
ABC  -> No response
https://www.github.com  --> Responds

[2022-08-08 12:14] danPyk commented on #241
I have also tried object detection from example and I'm getting OutOfMemoryError error. I assume, according to this - https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_object_detection#firebase-dependency-for-remote-models that I don't need firebase, but I have it included anyway.
After launch I can see a few 'slides', then the screen freezes and after about

[2022-08-08 15:17] fbernaly commented on #308
This is the guidelines for text detection: https://developers.google.com/ml-kit/vision/text-recognition

What you are asking it is not supported the Google's API.

[2022-08-08 15:17] #308 closed

[2022-08-08 15:34] Alvarocda commented on #307
Yesterday I managed to make the lib recognize texts with the camera in higher resolution.

I noticed that when I use a quality above LOW, the GC works non-stop and the app crashes seconds after starting the recognition.
![image](https://user-images.githubusercontent.com/12532704/183455793-3c6ebe5a-a864-413a-8f08-3aa140b37777.png)

Looking on Google, I found that there is a flag that you need to pu

[2022-08-08 17:27] fbernaly commented on #307
@Alvarocda: could you implement those changes in our example app and a PR with your contributions?

[2022-08-09 11:15] AngelEric22 opened #310 "FaceDetector not working in iPhone cameras"
If we take photos in iPhone
 final XFile? image = await picker.pickImage(
      source: ImageSource.camera,
      maxWidth: 300,
      maxHeight: 300,
      preferredCameraDevice: CameraDevice.front,
    );
final List<Face> faces = await faceDetector.processImage(inputImage); always give empty list

final FaceDetector faceDetector = FaceDetector(
      options: FaceDetectorOptions(
          enabl

[2022-08-10 02:14] enlightDEV commented on #287
Similar problem with Samsung S20 #285

[2022-08-10 02:14] LeeLoHoon commented on #287
Similar problem with Samsung S20

[2022-08-10 08:51] AngelEric22 commented on #310
Fixed by Giving

class CompressObject {
  File imageFile;
  String path;
  int rand;

  CompressObject(this.imageFile, this.path, this.rand);
}

Future<String> compressImage(CompressObject object) async {
  return compute(decodeImage, object);
}

String decodeImage(CompressObject object) {
  Im.Image? image = Im.decodeImage(object.imageFile.readAsBytesSync());
  Im.Image smallerImage = Im.copyResi

[2022-08-10 21:51] vidalbenjoe opened #311 "draw boundingRect on top of still image not showing"
boundingRect is not showing on a captured image or from the gallery for the object detection.
Please see the code below for your reference.

` String text = 'Objects found: ${objects.length}\n\n';
      for (final object in objects) {
        text +=
            'Object:  trackingId: ${object.trackingId} - ${object.labels.map((e) => e.text)}\n\n';
      }
      _text = text;
      // TODO: set _cu

[2022-08-10 23:48] fbernaly commented on #311
Drawing the boundingRect on top of your input image is outside the scope of these plugin. Refer to README for the features of this plugin: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_object_detection.

[2022-08-10 23:48] #311 closed

[2022-08-12 08:09] Waruna-Kaushalya opened #312 "Language models are not downloaded from 'downloadModel' in google_mlkit_translation"
Language models are not downloaded from downloadModel in google_mlkit_translation. But when translating by translateText, if the relevant language model is not downloaded, the model will be downloaded automatically. And it is translated correctly. What is the reason for this? (deleteModel also works).

DEBUG CONSOLE
[code]

Tested
isWifiRequired: true & isWifiRequired: false
[code]

minSdkVersion

[2022-08-12 12:22] Theunodb opened #313 "PlatformException when trying to detect objects on a custom model (3D tensor vs 4D tensor)"
I used Cloud AutoML to train a custom model that suppose to detect marks on a piece of paper. I have the dataset exported as a TFLite file, and i have it hosted on firebase.

I managed to download the file and initiate the objectDetector fine. but are getting an error when processing an input image.

This is how i download the model file
[code]

This is how i initialise the object detector:
[code]

[2022-08-17 12:19] bqubique opened #314 "Image dimension, ByteBuffer size and format don't match. Please check if the ByteBuffer is in the decalred format."
[code]

I'm getting this error when using Pose Detector. This is how I receive the image from camera:
[code]
_processCameraImage(CameraImage image) method is as follows:

[code]
processImage(InputImage inputImage) is as follows:
[code]
pubspec.yaml
[code]

[2022-08-17 18:12] danPyk opened #315 "Object Detection and barcode scanner example crashes the app on Android physical device"
First of all - hats of for the creators of this plugin.
I have the same issue as described here - https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/241

I've tried object detection from example and I'm getting OutOfMemoryError error. I assume, according to this - https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_object_detection#firebase-dependenc

[2022-08-18 03:00] rraayy opened #317 "Face detect not work when using tablet with landscape"
Hi, I run the face detect sample code on my Samsung S5e tablet and Lenovo M10,
I have a problem when using tablet with landscape mode.
You can see the preview will zoom in the camera and the face detect won't success.

![222](https://user-images.githubusercontent.com/4694572/185283244-1fb6ac61-5e07-4f86-8e6f-10d22f4cff8d.png)

When run the sample code run in the same tablet with portrait, the face

[2022-08-20 17:53] thelastknightahk commented on #291
Hello Guys !
pls check it. It is working well
https://stackoverflow.com/questions/73292337/flutter-google-ml-kit-plugin-facedetector-not-working-in-iphone-cameras

[2022-08-23 09:59] goncalo-oliveira opened #321 "Influencing results by giving suggestions"
Depending on the quality of the photo and the steadiness of the photographer, the text recognized can sometimes be misinterpreted. For example, an `I` might be read as an `L` or a `1`.

If it was possible to suggest that the text we are scanning is all capitals, for example, we could potentially minimize this.

If there's any way of doing this, I probably missed, so any hints are welcome.

[2022-08-24 09:42] HarsHvA opened #323 "Why does this plugin generate libmlkit_google_ocr_pipeline.so for x86 architecture?"
Flutter dosen't support x86 architecture. But this plugin still generates libmlkit_google_ocr_pipeline.so for x86. Due to which we get libflutter.so missing error and the app crashes. Is there anyway we can stop creating libmlkit_google_ocr_pipeline.so for x86 architecture?

[2022-08-24 16:17] fbernaly commented on #323
is that for Android or iOS?

[2022-08-24 16:40] HarsHvA commented on #323
@fbernaly for android

[2022-08-29 08:35] #323 closed

[2022-08-29 22:32] nohe427 opened #325 "Setting enableRawSizeMask: false, crashes the app"
Using Flutter and deploying to Android. When trying to use selfieSegmentation and grabbing the full mask with `enableRawSizeMask: false,`, my app crashes when running `final mask = await segmenter.processImage(inputImage);`.

[2022-08-31 14:28] Anpoda opened #326 "APK size increases by 300MB+ when importing a library (flutter)."
Good afternoon! I am writing an application on Flutter and decided to use your library: https://pub.dev/packages/google_ml_kit.

Before importing the library, the application size was 149MB. After importing and building the APK, the size increased to 420MB.

Question: if the download limit for Google Play is 150MB for APK, then how can I use the plugin? Can it be compressed?

[2022-08-31 14:57] fbernaly commented on #326
Did you read our readme? There we explain that google_ml_kit is the umbrella plugin and there are also individual plugins for each API you can use: like face detection or text detection, etc. Depending of your app you should used one of those individual plugins and that will reduce the size of unnecessary APIs and models, unless your app uses all the APIs then you will need to use the umbrella plu

[2022-09-01 08:05] SoundConception opened #328 "BarcodeScanner sometimes returns old result while no barcodes are in CameraPreview"
### Issue:
During repeated use the BarcodeScanner sometimes returns the last previously scanned barcode result while no barcodes are in CameraPreview. I have [raised this issue on stackoverflow](https://stackoverflow.com/questions/73538063/flutter-ml-kit-barcodescanner-returns-old-result-how-do-i-stop-this), but have received no practical responses to date.

At around 22 seconds into this [Screen

[2022-09-02 07:57] SoundConception commented on #328
I appears slower devices are more sensitive to this issue. Perhaps this suggests some sort of race condition is occuring?

[2022-09-03 03:42] jaysignorello opened #332 "iOS memory crash while using google_mlkit_face_detection"
After processing 15+ images on an iPhone 7 (physical device), I'm getting the following resource limit error.

[code]

I've tried to close the resource in between images and keep the same resource open for all, but nothing seems to prevent that error.

[2022-09-03 08:41] SoundConception commented on #328
Have confirmed the actual issue is the `CameraController` `CameraImage` stream, so will close the issue.

Determined this by converting the supplied YUV420 format `CameraImage` to a png each time `BarcodeScanner` detected a barcode, and displayed the image used next the the result.
Though you don't see it in the video recording, it looks like the very first frame delivered from the `CameraControll

[2022-09-03 08:41] #328 closed

[2022-09-03 15:28] jaysignorello commented on #332
Closing this out, since I'm no longer able to reproduce, which leads me to believe it was an error on my part.

[2022-09-03 15:28] #332 closed

[2022-09-07 09:48] JoergPf opened #333 "CocoaPods could not find compatible versions for pod "GTMSessionFetcher/Core""
Hi, I just installed google_ml_kit: ^0.12.0 and when I want to run on iOS I get the error:

[code]
Do I have to downgrade GTMSessionFetcher/Core? Or is there a better way to handle this?

Thx!

[2022-09-07 10:34] ssbateni opened #334 "TextRecognizer for Arabic script"
this package do not recognize language that based on Arabic script.

[2022-09-07 20:31] igniti0n opened #335 "google_mlkit_image_labeling and google_mlkit_text_recognition not working for Firebase hosted models"
Describe the bug

Using packages  `google_mlkit_image_labeling: ^0.4.0` and  `google_mlkit_text_recognition: ^0.4.0` with custom Firebase hosted ML models fails on `pod install`

Getting different kinds of errors, like so:

[code]
# Uncomment this line to define a global platform for your project
platform :ios, '10.0'

# Enable firebase-hosted models #
pod 'GoogleMLKit/LinkFirebase'
pod 'Firebase'

[2022-09-08 15:18] Fudal opened #336 "CocoaPods could not find compatible versions for pod "GoogleMLKit/BarcodeScanning""
I cannot build flutter ios app, because I still have an error:
[code]

Flutter doctor -v:
[code]

[2022-09-09 18:18] doc-rj-ebay commented on #290
@fbernaly We're occasionally seeing the same crash signature in Crashlytics, using the following:

[code]

We also see some related logging before the crash:
[code]

Stack trace:
[code]

[2022-09-10 20:59] GorIvanov opened #339 "Google_mlkit_face_detection java.lang.OutOfMemory Error"
Performance question/issue.

It can't process a stream from the camera in real time. I got only 10 fps on Samsung s21 ultra ( Exynos 2100 ).
If I try to process more frames per second, then after 3-5 minutes there is a sharp overflow of memory and an error  java.lang.OutOfMemory Error.

Regarding the load on the processor, regardless of whether I process 10 frames or 30, the load is at 45%, that i

[2022-09-10 23:20] #339 closed

[2022-09-12 05:02] tegaranugroho opened #340 "Face Detection doesn't work when face inside identity card, must be zoom"
I'm trying to detect faces on the ID card, but why when the card frame looks full the face is not detected? only detected when zooming.

Device : Android 12
Lib version :  google_mlkit_face_detection: ^0.4.0

![ezgif-3-318e07434c](https://user-images.githubusercontent.com/21018017/189577050-49d77cdf-ec77-4ddf-9325-0f3e955024ca.gif)

[2022-09-13 07:09] ttb-inc opened #341 "Sign is canceled when Pod update is performed."
After updating Xcode to the latest,
Sign is canceled when Pod update is performed.

Xcode Version 14.0 (14A309)

[code]

Thank you.

[2022-09-14 00:49] Heech commented on #275
I'm having a similar problem when trying to use our custom model in the object detection example project.
Seeing the same results as when the default `assets/object_labeler.tflite` model is used.
Even when changing to a non-existing file path the app gives no errors but showing same results regardless.

[2022-09-14 13:33] florianhenonin commented on #341
Use this in Podfile :
`post_install do |installer|
  installer.pods_project.targets.each do |target|
    flutter_additional_ios_build_settings(target)
    target.build_configurations.each do |config|
      config.build_settings["DEVELOPMENT_TEAM"] = "FNB26M6BKR"
    end
  end
end
`

[2022-09-15 02:17] ttb-inc commented on #341
It's resolved.
Thank you

[2022-09-15 02:18] ttb-inc commented on #341
It's resolved.
Thank you

[2022-09-15 02:19] #341 closed

[2022-09-18 09:08] vishisht08 commented on #340
@tegarnugroho hii i would like to contribute to this issue. please assign me this.

[2022-09-19 11:58] tegarnugroho commented on #340
@vishisht08 actually i don't know how to assign task to you in this issue, because I don't have permission to do that, maybe repository owner can give it @bharat-biradar

[2022-09-21 21:11] jasonJamEther commented on #313
I am getting the same error when running my custom model. Mine is stored locally.

[2022-09-22 15:07] Nemasio commented on #285
Hey, im having the same issue as you all, on some Android devices face recognition is not working. I did get to make it work on a lot of previusly affected devices by seting the camera quality to "High", sacrificing some performance.
But still i have some devices affected. The list of the ones i know they are directly affected: Xiaomi Redmi 2201117TG, Motorola G71 G5.
I did a lot of development wi

[2022-09-22 15:26] Nemasio commented on #307
Hey, all of this is most probably related to this issue with Camera:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/285

[2022-09-22 15:28] Nemasio commented on #315
Hey, this is probably related to the issue with some specific phisical devices, havin trouble with Camera plugin and resolution presets:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/285

[2022-09-22 17:38] lenlaw opened #343 "ML-Kit Face mesh detection - is it a likely future addition?"
ML-Kit Face mesh detection -  is it a likely future addition?

[2022-09-25 09:47] MaxmaxB opened #344 "Pose detection always return one pose"
Hello I'm using the flutter pose detection kit and it works well for a single person on the image. But if they are more than 1 person on the image it still return only 1 pose. The processImage method return an array of poses so I was expecting that it was supported. Any reason for that? Thanks

[2022-09-26 22:48] GorIvanov opened #346 "Can't detect faces on Lenovo Tab P11 TB-J606F Tablet. P.S. Native MLKit-Vision app works well."
I/flutter (11695): [CameraDescription(0, CameraLensDirection.back, 90), CameraDescription(1, CameraLensDirection.front, 270)]
W/Camera  (11695): The selected imageFormatGroup is not supported by Android. Defaulting to yuv420
E/libc    (11695): Access denied finding property "persist.vendor.camera.privapp.list"
W/com.gor.cantest(11695): type=1400 audit(0.0:1048): avc: denied { read } for name="u:ob

[2022-09-27 10:13] urmatt commented on #346
Check which image is sending to ml kit.
I think problem in sending image.

[2022-10-01 08:43] realArafatBen commented on #9
Currently, I am stuck here... how can I get the inputImageData from a file.
All that is been returned is null

[2022-10-01 08:44] realArafatBen commented on #53
Currently, I am stuck here... how can I get the inputImageData from a file.
All that is been returned is null

[2022-10-01 21:14] khjde1207 commented on #294
I found a solution.
[      'id': id,](https://github.com/khjde1207/Google-Ml-Kit-plugin/blob/e2f5f813ec586ce8bf8fd25e15e6dd415d17d1ae/packages/google_mlkit_language_id/lib/src/language_identifier.dart#L44)

[2022-10-01 22:11] noga-dev opened #349 "[Barcode_Scanner] ITF bad data"
ITF of 26 numbers yields wrong data.

For example this:
![image](https://user-images.githubusercontent.com/2067558/193430060-cdd421df-66ef-45fd-b694-a25fdfb91dce.png)

Yields random data of random length like this:
3330343537383233303435373832333034353738

Or this:
1216171160010131

Or this:
1213141516171812131415161718121314151617

Sometimes it can reproduce the same wrong data, so it's not like

[2022-10-03 02:44] Maxhoppr commented on #344
This could be reproduce using the example app.

[2022-10-03 16:19] fbernaly commented on #349
@noga-dev : send a PR with your fix

[2022-10-03 17:46] noga-dev commented on #349
There's no simple fix. Issue is 2-fold:
First is ml model requiring more training.
Second is instability of ITF format.

The first can be addressed, but not the second.

[2022-10-04 15:55] SamHastings1066 commented on #336
I had a similar issue and I believe it relates to the fact that in the yaml file in the root directory each of the individual mlkit dependencies are being defined using a local path. Those local directories seem to have mlkit plugins with inconsistent references. I solved this by commenting out the path line in the yaml file -> running pub get -> going into the ios folder -> deleting my podfile.lo

[2022-10-11 06:19] Lawati97 commented on #346
I am getting the same issue not sure why

[2022-10-11 18:31] Nitish-Kamath commented on #349
Hey man !! Can you assign me this task :)

[2022-10-14 15:09] abinvs-2019 opened #353 "Need Audio recognitions in this plugin"
Need audio recognition feature to use audio services in the device.

[2022-10-21 11:02] nashirdrabi opened #355 "Cannot run on iOS"
I cannot do pod install as I am receiving this error

[!] CocoaPods could not find compatible versions for pod "GoogleMLKit/MLKitCore":
  In Podfile:
    google_mlkit_face_detection (from `.symlinks/plugins/google_mlkit_face_detection/ios`) was resolved to 0.4.0, which depends on
      GoogleMLKit/FaceDetection (~> 3.1.0) was resolved to 3.1.0, which depends on
        GoogleMLKit/MLKitCore (= 3.1

[2022-10-21 16:46] sikandernoori commented on #333
Same issue.

[code]

[2022-10-22 15:10] antoniopetricc commented on #355
same problem

[2022-10-22 15:41] antoniopetricc commented on #333
Same issue

[!] CocoaPods could not find compatible versions for pod "GTMSessionFetcher/Core":
  In Podfile:
    firebase_auth (from `.symlinks/plugins/firebase_auth/ios`) was resolved to 4.0.2, which depends on
      Firebase/Auth (= 10.0.0) was resolved to 10.0.0, which depends on
        FirebaseAuth (~> 10.0.0) was resolved to 10.0.0, which depends on
          GTMSessionFetcher/Core (~> 2.1)

[2022-10-22 15:52] sikandernoori commented on #333
The problem is with GTMSessionFetcher/Core.

Firebase Auth uses version 2.1 [link](https://github.com/CocoaPods/Specs/blob/68ec86b7926781457a465b3ef2b026f831b8b8ed/Specs/6/3/6/FirebaseAuth/10.0.0/FirebaseAuth.podspec.json#L54)

While MLKIT uses version 1.1 [link](https://github.com/CocoaPods/Specs/blob/68ec86b7926781457a465b3ef2b026f831b8b8ed/Specs/c/c/6/MLKitCommon/8.0.0/MLKitCommon.podspec.json#

[2022-10-22 20:54] antoniopetricc commented on #333
How long will we have to wait for a fix?

[2022-10-23 12:16] Mohammad-Abureesh commented on #346
I am getting same issue on Redmi 9T , until now i am not found any solution.  if you solved this issue add here

[2022-10-23 12:27] Mohammad-Abureesh commented on #346
Check which image is sending to ml kit.
I think problem in sending image.

i am try to send file image and its work @GorIvanov

   var input = InputImage.fromFilePath(picked.path);
recognitions => size = 1

[2022-10-23 13:36] Ashkan-Sarlak commented on #344
From [google's documentation](https://developers.google.com/ml-kit/vision/pose-detection):

[2022-10-25 12:28] phiyale opened #357 "Dependency conflict with flutterfire (firebase - google_mlkit_face_detection) [GTMSessionFetcher/Core]"
Hello,
flutterfire released a major update, 4 days ago. after updating firebase libs I got the error below:

[code]

I've updated the face_detection package but error still occurs,
**in pubspec.yaml**
[code]

**flutterfire side:**
https://github.com/firebase/flutterfire/commit/9627c56a37d657d0250b6f6b87d0fec1c31d4ba3
https://github.com/firebase/flutterfire/pull/9708

**flutter doctor:**
[code]
Are

[2022-10-26 05:54] willisra commented on #357
I'm facing the same problem but for google_mlkit_text_recognition ( MLKitTextRecognitionKorean and MLKitTextRecognitionJapanese )

I guess the conflict will be solved for all the modules at once since it's a common dependency.

[2022-10-26 11:34] benyaminbeyzaie opened #358 "iOS crash on identifyLanguage"
[code]
I tried to identify language using language identifier, in Android everuthing is working fine but on iOS app crash with this log:
[code]

[2022-10-30 06:36] nutchanon-c commented on #286
I'm also having this issue. Has anyone found/made any fixes?

[2022-10-30 06:47] ZiyadF296 commented on #286
You can use the standalone plug in for what you want to use instead of using this entire plug in.

[2022-10-31 03:02] nutchanon-c commented on #286
I will try that. If I were to use the text recognition plugin, do you recommend the V1 or V2?

[2022-10-31 04:48] ZiyadF296 commented on #286
I would of course always use the latest version. It introduces fixes and improvements over the previous version.

[2022-10-31 13:58] Nemasio commented on #285
Hello, i have a list of devices where the library is NOT working (Ranked from TOP to BOTTOM in amount of devices that have my app, and none of the users with this devices could do face detection.)

motorola, moto g(30)	553
motorola, moto g(9) power	547
motorola, moto g(9) play	545
motorola, moto g51 5G	538
motorola, moto g52	401
motorola, moto e(7) plus	396
samsung, SM-A235M	377
samsung, SM-G975F

[2022-10-31 14:19] Nemasio commented on #346
Hello, this issue is most probably related to the non detection of face or barcode on spacific devices:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/285

[2022-11-01 02:18] nutchanon-c commented on #286
Using the standalone fixes my issue. Thank you.

[2022-11-03 09:30] Faiizii commented on #302
Can you share some more information. Because I tried it today in both MODEs (Portrait and Horizontal) everything was working find.

[2022-11-04 20:05] allanwolski-openco opened #360 "Update google_mlkit_face_detection package version"
Can you build a new package release with #356 changes please?

[2022-11-04 20:17] fbernaly commented on #360
on it

[2022-11-04 21:47] fbernaly commented on #360
New version has been released: https://pub.dev/packages/google_mlkit_face_detection

[2022-11-04 21:47] #360 closed

[2022-11-05 01:28] motoki-osaki commented on #357
@phiyale
I cannot access the IssueTracker you indicate. Why is that?

[2022-11-05 08:47] motoki-osaki commented on #357
@phiyale
Thanks. There must have been over 100 votes...are you going to remove them? How irresponsible.

[2022-11-05 10:40] Imesh7 opened #363 "Error: 'Rect' isn't a type - google_mlkit_face_detection"
when switch into google_mlkit_face_detection version 0.4.0 to 0.5.0.
I got a error.

[code]

`flutter doctor -v`
[code]

I found a solution, upgrade **flutter verion to 3.3.7** now it works for this version.

[2022-11-05 14:51] sibylantoninobajeli commented on #357
This is a frustrating situation!!! I cannot access anymore to https://issuetracker.google.com/issues/254418199 , and I am blocked with my App upgrade development!!
I cannot see the status and votes ( till yesterday have been more than 115 votes).

[2022-11-07 09:05] dmitry-kotorov commented on #357
Latest update did not resolve the issue. And I cannot access https://issuetracker.google.com/issues/254418199 as well. Could you please kindly share ETA for the fix to be available?

[2022-11-07 13:34] allanwolski-openco commented on #360
Thanks @fbernaly

[2022-11-08 05:21] motoki-osaki commented on #357
Now can access it. What's going on...
https://issuetracker.google.com/issues/254418199#comment22

[2022-11-08 15:49] jorgeroncero commented on #357
I've managed to workaround this issue until a new stable MLKitVision/MLKitCommons version is released.

I didn't test all features of MLKit but for me it's building and working for barcode scanning. I don't know if there could be any potential error since we are overriding the GTMSessionFetcher version from 1.1 to 2.1 without any code check.

The steps are:

1. Create MLKitVision.podspec.json file

[2022-11-10 07:01] DevarshRanpara commented on #357
Hey @jorgeroncero Thanks for this, Any idea how can I implement this in my CI/CD tool? I am using codemagic for it.

[2022-11-11 01:25] psatler opened #364 "Unable to compile for iOS due to MLKit lib conflict"
Hi, thanks for the efforts on providing such packages for the community. It helps a lot!

Below is the issue I'm facing currently with some of your plugins and another one that I'm using.

I'm using the [mobile scanner](https://pub.dev/packages/mobile_scanner) package, and both [TextRecognition](https://pub.dev/packages/google_mlkit_text_recognition) and [translation](https://pub.dev/packages/goog

[2022-11-11 09:20] sibylantoninobajeli commented on #357
I'm sorry @DevarshRanpara ... I have no idea, I use Fastalane as CI/CD.

Cheers, Tony

[2022-11-11 14:36] steven230500 commented on #357
Hi, not worked for me:
[code]
Any suggestion? thanks.

[2022-11-11 15:10] motucraft commented on #357
I have applied the above workaround and referred to the podfile shared here. It worked for me.
Thanks to those who shared their information.
https://github.com/firebase/flutterfire/issues/9761#issuecomment-1301997595

[code]

<details>
<summary>My Podfile here</summary>

[code]

</details>

[2022-11-11 15:40] TalebRafiepour opened #365 "App crashes (on iOS) when try to detect face"
error log:
[code]

flutter doctor:

[code]

google ml kit version :
[code]

[2022-11-11 15:40] steven230500 commented on #357
Thanks, it worked with mobile_scanner: ^3.0.0-beta.1

[2022-11-14 04:30] Kevinpahlevi commented on #364
im facing this issue too, any update for this problem ?

[2022-11-14 08:23] mahmoudsfares commented on #309
Same problem on Oppo A95

[2022-11-14 18:05] georgiansarghi opened #366 "Likelihood in Pose landmarks is not reliable"
**Description**
The pose landmarks returned by `google_mlkit_pose_detection` are very unreliable. For example, in [this video](https://user-images.githubusercontent.com/19435539/201732501-59ad11aa-d39c-4ee8-848e-e64095e5cbff.mov) every landmark drawn as a green circle has `likelyhood >= 0.98`.

I don’t know if this is a problem with the flutter package. If it isn’t, do you know a practical/fast so

[2022-11-15 10:49] tang85 opened #367 "NoClassDefFoundError on Android"
NoClassDefFoundError on Android

[2022-11-15 12:59] mustafiz012 commented on #363
I'm facing the same issue.

[2022-11-15 13:18] MuhamadEzzat commented on #309
I faced this issue while using Nokia X20  & Oppo A95

Just accept URLs only!

[2022-11-17 17:53] LarryAlexander opened #368 "Unable to Build due to compatibility relating to Firebase Auth"
I'm using flutter to create an application.
I'm unable to build or perform a pod install whenever I try to use the Google Ml Kit dependencies.
Dependency : google_mlkit_barcode_scanning: ^0.5.0

Notes: This error only appears when using the Firebase Auth dependency. I want to utilize the Qr code scanning feature!

Error:    firebase_auth (from `.symlinks/plugins/firebase_auth/ios`) was resolved to

[2022-11-17 18:09] emileswain commented on #368
looks like its mentioned here too https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/357

[2022-11-17 18:28] emileswain commented on #357
I can confirm it works with

PODFile -
[code]
pubspec
[code]

[2022-11-23 09:32] agreensh opened #370 "Request for information"
Will these plugins be made available for web, mac, windows, linux?

[2022-11-23 09:53] dragongesa commented on #287
@fbernaly So how to fix this issue? any suggestion?

is that because the resolution output coming from camera that give us the error ?

[2022-11-23 23:42] yoniker opened #371 "FaceDetector finds only one face (depending on FaceDetectorOptions)"
Take this simple snippet of code:

[code]

-When enableContours is true but everything else is false (that's the default) then it returns only one face (in an image with 8 faces).

-When both enableContours and enableLandmarks are true, then it finds 7/8 faces for the same image as above (in fast mode which is reasonable) but returns contours for just one face (every other contour eg for any other

[2022-11-24 05:21] jomagsm commented on #346
Have you solved the problem? If so, please write a solution

[2022-11-26 08:24] #357 closed, assigned to nobody

[2022-11-28 12:58] psatler commented on #364
Hi,
I noticed that [mobile_scanner](https://pub.dev/packages/mobile_scanner) got updated recently and because of that, I gave another go of using the latest dependencies of both mobile_scanner and the ML Kits ones I mentioned above ([TextRecognition](https://pub.dev/packages/google_mlkit_text_recognition) and [translation](https://pub.dev/packages/google_mlkit_translation)). Just by upgrading thos

[2022-11-28 12:58] #364 closed

[2022-11-28 17:12] #368 closed

[2022-11-28 17:20] fbernaly commented on #355
It seems this is not related to #357 .

@nashirdrabi : From what you shared you are using 2 packages that in iOS they use different pod versions.
**mobile_scanner**  and our plugin  both use **GoogleMLKit/BarcodeScanning** but in a previous version they were using different versions.

You need to run `flutter pub upgrade` and resolve the specific dependencies of your project.

If you are able to u

[2022-11-28 17:20] #355 closed

[2022-11-28 17:22] #333 closed

[2022-11-28 17:26] fbernaly commented on #355
Also look at: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/364

[2022-11-29 08:46] Furqan978 commented on #363
just add the below line in **google_mlkit_text_recognition-0.5.0/lib/src/text_recognizer.dart**
`import 'dart:ui';`