[2021-02-13 17:02] RCVZ opened #2 "live camera pose estimation"
out of curiosity when can we aspect live camera pose estimation?

[2021-02-14 19:13] bharat-biradar commented on #2
Hi @RCVZ.
Thank you for showing interest and opening an issue.

 I am currently in the middle of my semester exams. I will work on it as soon as possible and update you.

[2021-02-14 19:13] #2 closed

[2021-02-17 19:45] RCVZ commented on #2
Thank you @bharat-biradar.
Good luck with your exams!

[2021-02-20 05:42] bharat-biradar commented on #2
Hi @RCVZ  I have written the code for live pose estimation and commented out the part because for some reason its's not producing any results. Please see the code in the new-apis branch, if I have any development in getting the results I will update you.

[2021-03-04 06:45] marslannasr7koncepts opened #5 "Unbale to found any helping material Live Camera with Pose Detection API using flutter dart."
I am facing an issue not found any example where Live Camera implemented with Pose Detection API using flutter dart.

Please let me know anyone using it or found any helping material related this i am just found Pose Detection using static image but not using Live Camera..

Thanks

[2021-03-05 09:00] bharat-biradar commented on #5
Hi @marslannasr7koncepts thanks for opening an issue.

I had written the example for live detection on new-apis branch but I'm not getting proper results while using the camera stream. So for time being I have commmented out that part. If I have any further developments I will update you. For time being you may refer to this [example](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/624

[2021-03-05 10:32] marslannasr7koncepts commented on #5
Thanks @bharat-biradar for response I have a Question did it work when Camera is streaming no need to click on button just show Pose Detection using Live Camera not depend on any Button Click etc.

And what type of issue your facing and how much time it take to fix?

Thanks

[2021-03-05 19:10] bharat-biradar commented on #5
@marslannasr7koncepts the problem is occurring with live stream. I have tried all the methods possible but still when it comes to live stream detection no poses are being detected from the camera stream. It has been nearly a week still I haven't found a solution, so I cant say for sure for now when issue will be resolved.

Sorry for the inconvenience caused.

[2021-03-06 17:48] malithkuruppu commented on #5
@bharat-biradar do you have the same issue when you are trying to perform live text recognition using the phone camera?

[2021-03-07 12:37] bharat-biradar commented on #5
@malithkuruppu I haven't tried live text detection yet, I will get back to you once I have tried it.

[2021-03-19 06:12] malithkuruppu commented on #5
@bharat-biradar is there any solution to the above problem?

[2021-03-19 13:07] bharat-biradar commented on #5
@malithkuruppu Sorry but I have not found any solution, I was thinking of filing an issue on the official google ml kit api. Maybe there I can find why this problem is happening.

[2021-03-19 16:35] malithkuruppu commented on #5
@bharat-biradar appreciate if you can open an issue! Please leave the link to the issue in this thread.

[2021-03-23 06:10] bharat-biradar commented on #5
@malithkuruppu  [link](https://issuetracker.google.com/issues/183328530) for the issue opened in Issue Tracker.
Also I asked a question on [stackoverflow](https://stackoverflow.com/questions/66517551/send-image-stream-byte-data-flutter-to-native-android) if this helps

[2021-03-24 06:16] roticagas opened #8 "MissingPluginException No implementation found for method listen on channel"
google_ml_kit: ^0.1.0

`      barcodeScanner = GoogleMlKit.instance.barcodeScanner();
      final result = await barcodeScanner.processImage(inputImageOf(image));`

on android everything work fine. but iOS not working. with error

MissingPluginException No implementation found for method listen on channel google_ml_kit

[2021-03-24 08:35] bharat-biradar commented on #8
@roticagas thanks for opening the issue. This error occurred because the plugin doesn't support IOS implementation yet. It is only for Android as of now. Sorry for the inconvenience caused.

[2021-03-28 02:51] malithkuruppu commented on #5
@bharat-biradar will you be updating the code in this repo for live camera text and barcode recognition?

[2021-03-28 02:52] malithkuruppu commented on #5
@bharat-biradar also what is the issue that needs to be addressed at this moment for the live camera text and barcode recognition to work?

[2021-03-28 11:02] bharat-biradar commented on #5
@malithkuruppu The issue is related to rotation degree that we have to pass as a parameter while creating the input image. May be due to wrong calculation of rotation degree neither text nor poses are being detected.

[2021-03-28 15:40] malithkuruppu commented on #5
@bharat-biradar  the issue I am having is that I am unable to use live camera preview for text and barcode detection using ML kit in a Flutter app. Do you have a solution for this problem?

[2021-03-28 15:45] bharat-biradar commented on #5
@malithkuruppu Yes I have solution to display live preview but don't you want to use the camera stream data to be processed.

[2021-03-28 15:50] malithkuruppu commented on #5
@bharat-biradar I am not quite sure how about to use live camera preview. As you said, will need camera stream data for processing with ML kit.

So the current issue in the solution you have is that when the device is tilted, the app stops working?

Does it work if the rotation of the screen is locked?

[2021-03-29 10:38] bharat-biradar commented on #5
@malithkuruppu I'll share you a gist for using live camera preview. But it's not a problem with the plugin itself.

[2021-03-30 16:21] malithkuruppu commented on #5
@bharat-biradar Please correct me if I am wrong:
1. The ML Kit is working with Kotlin implementation with live camera
2.  The ML kit is working with Flutter implementation with static images
3. You are getting camera stream data for processing with ML kit.
4. The issue is ML kit is not working with Flutter implementation with live camera, because the rotation degree of the camera is not properly c

[2021-03-30 16:32] bharat-biradar commented on #5
@malithkuruppu Yes that's exactly the problem

[2021-03-30 16:36] bharat-biradar commented on #5
I have updated regarding the same in readme

[2021-03-30 18:03] bharat-biradar commented on #5
@malithkuruppu  Currently yes, this plugin is not officially from google and they mentioned in this [issue](https://issuetracker.google.com/issues/171338906) that they are not thinking of creating a flutter plugin currently.

[2021-04-02 22:45] jtmuller5 opened #9 "Creating InputImage from Bytes doesn't work"
The Pose Detector only seems to work when you create your InputImage from a file path (InputImage.fromFilePath). When I attempt to create the InputImage using the fromBytes() constructor the output is always blank. I've tried all sorts of different configurations, including changing the image rotation and format, but the result is always blank.

Have you had success with this?

[2021-04-03 03:48] bharat-biradar commented on #9
Hi, @jtmuller5 thanks for opening an issue. This problem is not only with pose detector but with other api's too, I updated this in the readme but have not published this again on pub.dev so you might not have seen it. I too tried all possibilities with other api's as well but could get results, if I find a breakthrough I will surely update you.

[2021-04-03 04:07] malithkuruppu commented on #5
@bharat-biradar do you have a branch that you are working on specifically for this issue?

[2021-04-03 21:29] bharat-biradar commented on #5
@malithkuruppu Except for master on both the branches I'm trying trial and error. You can see them for reference. Currently, I'm adding support for a new API and not focussing on this problem as I am not having any developments.

[2021-05-06 09:53] ak111in opened #12 "Support for iOS"
Do you plan to add iOS support also in the package?

[2021-05-09 14:09] bharat-biradar commented on #12
@ak111in Thanks for opening an issue. Sorry for replying late. Yes I plan to ad IOS support but it may take some time.

[2021-05-10 06:01] huuthongdev opened #13 "How can i use CameraImage (camera.startImageStream) to detect pose?"
Big thanks for your solution.

I don't know how to convert CameraImage to InputImage to use poseDetector.

[2021-05-12 05:13] itssidhere opened #14 "Can we use the on device translator with this plugin?"
Can we use the on-device translator with this plugin? I didn't find anything in the docs.

[2021-05-12 06:20] fbernaly commented on #12
are you open to contribution? I am interested in using iOS as well

[2021-05-12 15:33] bharat-biradar commented on #12
Yes I am but currently I am not taking IOS contributions as I am in the process of learning myself. I'll notify you within 10-15 days. Thanks for showing your interest.

[2021-05-12 15:35] bharat-biradar commented on #14
@itssidhere Thanks for opening an issue. Support for on device translator is not yet implemented. I hope to implement it soon.

[2021-05-12 15:38] bharat-biradar commented on #13
@huuthongdev Thanks for opening an issue. I can tell how to convert camera image to input image, but it does not detect any poses with camera stream due to some problem. I have mentioned this in the README.

[2021-05-14 10:53] florisdipt commented on #8
This is unacceptable on Google's part because https://pub.dev/packages/firebase_ml_vision did have compatibility with iOS
and they suggest migrating to this package.
Thank you for clarifying, please also put it in the docs.

[2021-05-14 14:14] bharat-biradar commented on #8
@florisdipt I know this is a problem but I am not enough experienced with IOS development yet but people are showing more interest in the project so I think support for IOS will be added with time.
It is already mentioned in the first line of docs that this plugin is for android and also the pub.dev page indicates supported platforms. If you still think it is not explicit enough please let me know

[2021-05-14 14:20] florisdipt commented on #8
Okay, I understand.
I just pressed command+f search ios and did not find any results. So thats my bad. Have a good day!
For now I'll probably will be reimplementing with Tesseract

[2021-05-14 14:30] fbernaly commented on #9
@jtmuller5: here is how you create an InputImage from Bytes:

[code]

We are using that here: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/example/lib/VisionDetectorViews/camera_view.dart#L216-L228
 and it is working.

[2021-05-14 15:29] itssidhere commented on #14
Thanks for the response. Well this question is out of curiosity, is this on device ml-kit like on device translation absolutely free to use ?

[2021-05-14 17:10] bharat-biradar commented on #14
@itssidhere Are you asking about the plugin or the original kit. If it is the original kit provided by google as far I know it's free but look at their [terms of service](https://developers.google.com/terms) for better understanding.

[2021-05-14 17:15] itssidhere commented on #14
Yes I meant the Google kit. I am thinking if they add the billing as per usage to our firebase account or something. I used cloud translation api and it ended up blowing my billing account , I wonder if that's also the case with this ml kit.

[2021-05-14 20:10] bharat-biradar commented on #14
@itssidhere No, I think it's free you just have to download the models here which will be run locally on the device.

[2021-05-18 16:38] bharat-biradar commented on #14
@itssidhere On-device translator has been implemented in version 0.3.0 though only for android.

[2021-05-18 17:09] itssidhere commented on #14
@itssidhere Great, I will check. Thanks

[2021-05-19 07:49] usestrive opened #20 "Conflicting with new firebase packages "CocoaPods could not find compatible versions for pod "GoogleDataTransport""

[2021-05-19 14:18] bharat-biradar commented on #20
@usestrive Can you please be more specific about the issue. Actually, this plugin doesn't support IOS yet may be the problem is being caused by that.

[2021-05-19 20:06] fbernaly commented on #20
@usestrive:  I added iOS support for Face Detection in this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/21. Once it is approved and merged, clone the the repo and give it a try. You only need to set your development team in the Xcode project to run the example app.

[2021-05-20 06:21] festapp86 commented on #12
We would also be highly interested in having a iOS version, too. Also willing to contribute to the project. Please give us an update any time soon. Thanks

[2021-05-22 11:55] lks-nbg opened #24 "minSdkVersion & typo"
Since firebase_ml_vision is discontinued, I am migrating to your plugin. Thereby I realized that google_ml_kit currently requires minSdkVersion >= 26, while firebase_ml_vision supported Version 16 onwards. Therefore I am wondering, if minSdkVersion 26 is really necessary or if it can be lowered, to increase compatibility. If this is not possible, I suggest adding a hint in the readme file.

Furthe

[2021-05-22 15:37] fbernaly commented on #24
what minSdkVersion do you recommend?

[2021-05-22 17:44] bharat-biradar commented on #24
I think 21 is possible.

[2021-05-22 18:58] fbernaly commented on #24
Ok, will send a PR

[2021-05-22 20:37] lks-nbg commented on #24
Thanks for your quick response! I tested the example app with minSdkVersion 21 and it seems to work as expected. A lower version was not possible, since the example app depends on the camera plugin, which requires minSdkVersion >= 21. But at least for my purposes supporting Android 5.0 and higher is more than enough.

[2021-05-23 04:53] fbernaly commented on #24
Let's close this issue after this PR is merged: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/25

[2021-05-23 08:12] #24 closed

[2021-05-23 08:52] lks-nbg opened #26 "Increased App Size"
After implementing google_ml_kit, the app size is increased by ~85 MB in debug mode and ~44 MB in release mode. I investigated this with the app size tool and found that all models/resources are always included, even if they are not used. So it would be great to be able to configure which resources are used and and which can be excluded.

The firebase_ml_vision plugin had the same issue (https://g

[2021-05-23 17:36] bharat-biradar commented on #26
@lks-nbg Thanks for pointing it out. I'll this in the docs.

[2021-05-23 20:28] HakimKramdi opened #27 "Ios GoogleDataTransport dependency error when using firebase_crashlytics"
Hello,

Im my project I have a these two dependencies:

  google_ml_kit: 0.4.0
  firebase_analytics: ^8.0.3
  firebase_crashlytics: ^2.0.4

  On android this works perfectly :)

 But on on IOS when trying to use pod install I have this error:

[!] CocoaPods could not find compatible versions for pod "GoogleDataTransport":
  In snapshot (Podfile.lock):
    GoogleDataTransport (= 9.0.0, ~> 9.0)

  I

[2021-05-24 04:04] bharat-biradar commented on #27
Hi @HakimKramdi thanks for opening the issue. I think according to [this](https://developers.google.com/ml-kit/release-notes#improvements_and_bug_fixes_6) the GoogleDataTransport version should be `8.x`. As the version here is 9 maybe it is causing this problem.

[2021-05-24 09:34] wmla419 opened #28 "face detect attributes returns null"
[code]
Why is it returns null from all these attributes after it detected a face from live camera?

[2021-05-24 13:00] HakimKramdi commented on #27
Hi @bharat-biradar  thank you for your answer.
I tried a lot a ways to resolve this but did't find a way.

A simple way to reproduce this is to use your example project included in this repo.

I just added a dependency to firestore:
`dependencies:
  flutter:
    sdk: flutter
  cloud_firestore: ^2.0.0 #added this only dependency
  google_ml_kit:
  `

 in the IOS folder, with the command "pod instal

[2021-05-24 13:05] bharat-biradar commented on #27
@fbernaly Any suggestions on how to resolve this.

[2021-05-24 13:06] bharat-biradar opened #29 "Need help!!! Looking for IOS collaborators"

[2021-05-24 14:13] fbernaly commented on #28
is this for iOS or Android?

[2021-05-24 14:17] wmla419 commented on #28
Android

[2021-05-24 14:34] wmla419 commented on #28
I just tried to clone the example project and run it on simulator, but it still return null.

[2021-05-24 15:15] fbernaly commented on #28
try running on an actual device

[2021-05-24 15:17] wmla419 commented on #28
sorry for typo, i tried to run on physica device.

[2021-05-24 15:28] fbernaly commented on #27
@HakimKramdi : the issue is the dependencies that each Flutter plugin has, when they are resolved by Flutter they depend on different versions.
As you can see our dependencies are not tight to any specific version:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/ios/google_ml_kit.podspec#L19-L21

That means that our dependencies will adapt, you can change the pod version in you

[2021-05-24 15:29] fbernaly commented on #28
ok, I will take a look at it

[2021-05-24 16:05] Tom3652 commented on #27
I am having the same issue :
[code]
But it's an issue for Google, not this plugin because it's Google's ML kit APIs that depends on an old version of GoogleDataTransport...
They should upgrade this themselves because they own both of these products

[2021-05-24 19:39] fbernaly commented on #28
@wmla419: after reviewing, the example app is working as expected look at the configuration for the Detector options, only the contour is enabled:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/example/lib/VisionDetectorViews/face_detector_view.dart#L12-L15

if you are interested in classification you can enable that as well, but be cautions, there are some constraint outlines

[2021-05-24 23:04] adriancsbna commented on #27
Hi @Tom3652.  

I have tried your solution but when I apply it, I get a conflict with google_mobile_ads in version 0.13.0

    [!] CocoaPods could not find compatible versions for pod "Firebase/CoreOnly":
      In Podfile:
        Firebase/MLVisionLabelModel was resolved to 5.0.0, which depends on
          Firebase/CoreOnly (= 5.0.0)

        firebase_core (from `.symlinks/plugins/firebase_core/i

[2021-05-24 23:12] adriancsbna commented on #26
Hi @lks-nbg
Which one should I comment to use image label?

[2021-05-24 23:29] fbernaly commented on #27
@adriancsbna : we wont get a definitive solution until Google fixes their dependencies, my suggestion: try with a version that satisfies your project

[code]

[2021-05-25 03:38] bharat-biradar commented on #26
@adriancsbna libclassifier_jni

[2021-05-25 03:38] #29 closed

[2021-05-25 05:26] Tom3652 commented on #27
@fbernaly you are right.

@adriancsbna the solution was provided by @fbernaly :
The only way so far is to downgrade the other SDK's versions.

That's why for now i am not using this plugin because i need more the latest SDKs for the other products than the ML unfortunately

I think i will make an issue on the flutter/flutter repo about it today directly for Google

[2021-05-25 08:08] #13 closed

[2021-05-25 08:46] HakimKramdi commented on #27
@fbernaly Thank you for the suggestion.

After downgrading my firebaseSdk version with
`$FirebaseSDKVersion = '7.11.0'`

I had another issue linked to the fact that I use
`use_frameworks!` in my Podfile

With this option, trying to use
`pod install` with the dependency `google_ml_kit: 0.4.0` will produce this error:
`[!] The 'Pods-Runner' target has transitive dependencies that include statically

[2021-05-25 14:13] fbernaly commented on #27
@Tom3652 and @HakimKramdi : Thanks for confirming that downgrading `$FirebaseSDKVersion` works. I know that it is not optimal, but since those pod dependencies are managed by Google, they need to update their pods.

Thanks for using this Flutter plugin. We are still working on Features and adding more every day.

[2021-05-25 16:50] adriancsbna commented on #26
Hello @bharat-biradar.

I have applied it but the size of the App has not decreased.
What should I add in ignoreAssetsPattern?

[2021-05-25 20:39] MalayAgrawal commented on #26
Yep, this did work it reduced my app-release.apk size from 323MB to 86MB but can I reduce it even more? because I only want to use OCR (image text reader).

[2021-05-25 21:38] AlexHartford commented on #12
Yes, with firebase_ml_vision getting sacked I'm quite positive you'll have a line of us wanting to contribute to get this production ready.

[2021-05-25 21:50] RealWorldApplications opened #32 "Example Project errors"
In the file **barcode_detector_painter.dart** whenever barcode.info! is referenced it needs to be replaced with barcode.barcodeUnknown!

In the file **barcode_scanner_view.dart**  the following needs to be replaced
 BarcodeFormat.Default,
    BarcodeFormat.Code_128,
    BarcodeFormat.Code_39,
    BarcodeFormat.Code_93,
    BarcodeFormat.Codebar,
    BarcodeFormat.EAN_13,
    BarcodeFormat.EAN_8,

[2021-05-25 22:38] fbernaly commented on #12
@AlexHartford, @festapp86: we have a couple of PR in the line for some refactors, and after I will give you green light to start helping with some iOS features. I already added some, you can check the README, but I will need help with the rest.

[2021-05-25 22:40] fbernaly commented on #32
@RealWorldApplications : I dont get the issue. We renamed some of that in this PR https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/30 and the new options should be `BarcodeFormat.*`, pull the latest code from master.

[2021-05-26 01:47] #28 closed

[2021-05-26 01:47] #20 closed

[2021-05-26 01:48] #14 closed

[2021-05-26 01:48] #12 closed

[2021-05-26 01:49] #9 closed

[2021-05-26 01:51] fbernaly commented on #8
@florisdipt : we added support for iOS for some features, check the README, we will release more features eventually.

[2021-05-26 01:51] #8 closed

[2021-05-26 01:54] fbernaly commented on #5
@malithkuruppu , @marslannasr7koncepts : pull the latest code from master and run the example app, we added support for the camera plugin

[2021-05-26 01:54] #5 closed

[2021-05-26 06:20] bharat-biradar commented on #26
@adriancsbna Could give me the android part of `build.gradle` that you used in your app. The same section mentioned by iks-ngb

[2021-05-26 06:27] bharat-biradar commented on #26
@MalayAgrawal Maybe it can be reduced. I looked at the size of our example app using devtools and I found this.
![image](https://user-images.githubusercontent.com/62872048/119612029-0870c480-be19-11eb-958f-994687149fa2.png)
You can exclude models by mentioning it in `ignoreAssetsPattern` but I'm not sure which among these models are used for OCR.
![image](https://user-images.githubusercontent.com/

[2021-05-26 09:45] Tom3652 commented on #27
Hello guys,

Just to tell you that the issue is now known by Google, there is a direct dependency conflict with the ```FirebaseCore``` pod in ```8.0.0``` because of ```GoogleDataTransport```.
You may need to especially decrease this dependency version to ```firebase_core: 1.1.0``` because the ```firebase_core: 1.2.0``` is giving the error.

I will let you know once the issue is resolved by Google.

[2021-05-26 12:49] Nickkorol opened #34 "Integrating in projects with Firebase causes iOS app to have errors while 'pod install'"
I have a project, where I am using firebase pubs:
  firebase_core: ^1.2.0
  firebase_crashlytics: ^2.0.3
  firebase_analytics: ^8.0.0

When I am trying to build my app for iOS device, 'pod install' command fails with description:
[code]

[2021-05-26 13:41] Sunggu opened #35 "There seems to be a problem with the library uploaded to pub.get. Related with #32 Issues"
Hello!
First of all, I used a translator because I wasn't familiar with English.

This problem seems to be related to number 32.
The version is the same as 0.4.0, but the source received after pub get and the source in the github repository are different.

[2021-05-26 14:20] bharat-biradar commented on #35
@Sunggu It is because the latest changes made have not yet been published pub.dev.

[2021-05-26 14:21] bharat-biradar commented on #34
@Nickkorol Refer to this issue #27 they also had the same problem.

[2021-05-26 14:22] Nickkorol commented on #34
BTW, even if I remove all Firebase dependencies, `pod install` finishes with error `The 'Pods-Runner' target has transitive dependencies that include statically linked binaries: (GoogleUtilitiesComponents)`

[2021-05-26 14:23] fbernaly commented on #34
Closing this issue, it is a known issue, and lets move the conversation to issue https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/27

[2021-05-26 14:23] #34 closed

[2021-05-26 18:27] fbernaly commented on #12
@AlexHartford , @festapp86 : we just released 0.5.0. That includes some iOS features, but we need your collaboration if you want to help us with some of the NL features. Pick one and let me know which one you are taking.

[2021-05-26 19:34] adriancsbna commented on #26
Hi @bharat-biradar here you have it

I managed to reduce the size by adding ignoreAssetsPattern '!mlkit_pose:' but I'm sure I can add more to lower the size further. Do you know what options there are to add there?

   buildTypes {
        release {
            signingConfig signingConfigs.debug
            aaptOptions {
                ignoreAssetsPattern '!mlkit_pose:'
            }
        }

[2021-05-26 19:40] MalayAgrawal commented on #26
[code]
![Screenshot_2021-05-27 DevTools for Flutter Dart](https://user-images.githubusercontent.com/55668156/119720947-350ff500-be88-11eb-979d-66d63e136c13.png)

OCR is working great and app size reduced to 30MB approx

[2021-05-27 00:54] Sunggu commented on #35
I understand. Thank you!
When will update that changes?

[2021-05-27 01:19] fbernaly commented on #35
@Sunggu : we published 0.5.0 today, you are good to go.

[2021-05-27 01:19] #35 closed

[2021-05-27 04:10] bharat-biradar commented on #26
@adriancsbna Try adding models along with mlkit_pose

[2021-05-27 04:12] TusharPatel18 commented on #26
since I'm using this package for scanning barcode to get results which unnecessary lib i need to excluded?
Thank you in advance : )

[2021-05-27 09:40] bharat-biradar commented on #26
@TusharPatel18 I think you should comment out common pipeline and libbarh... I'm not sure I'm guessing as it looks similar to barcode, in in ignore assets add mlkit_pse and image label. Scroll up to see this implementation

[2021-05-27 15:20] AlexHartford commented on #26
One of my apps only uses it for barcode scanning, the following is how I have it configured:
<details>
<summary>Click to expand</summary>

[code]

</details>

[2021-05-27 15:23] AlexHartford commented on #26
I'm not super familiar with the iOS side of things, is there an equivalent solution for iOS? Or is it necessary at all?

[2021-05-27 16:05] fbernaly commented on #26
not for now, 3rd party dependencies are managed in Xcode using Cocoapods or Swift Package Manager, ours uses Cocoapods. Eventually I will work on a way to only add the scanners you need, but for now in iOS the bundle comes with all.

[2021-05-27 16:05] #32 closed

[2021-05-27 16:32] AlexHartford commented on #12
@fbernaly I have no experience with iOS so I won't be very helpful on this front, but I'll be keeping an eye out for future issues that I can tackle for you. Appreciate your work on this package, it's likely going to blow up soon!

[2021-05-27 21:11] uttamgupta opened #38 "TextDetector doesn't work with hindi language "hi-IN""
It works for image with english text. it says language is undefined.

[2021-05-28 02:22] fbernaly commented on #38
Are you talking about the example app or the plugin? The example app only recognizes English, if you need another language you need to:
1. Download the model
2. pass that in the method

[2021-05-28 04:58] uttamgupta commented on #38
Thanks for response. I am using  https://pub.dev/packages/google_ml_kit . I am very new in this area, so It would be great if you could tell me where I can find model and which method you are talking about.

[2021-05-28 08:12] bharat-biradar commented on #38
@uttamgupta Currently the original google API supports only Latin - based character set, hence it is not being recognized. Look here for more details [link](https://developers.google.com/ml-kit/vision/text-recognition).

[2021-05-28 17:37] uttamgupta commented on #38
Looks like google cloud vision api is only option for other than latin based char set.  I hope this standalone google ml kit would support other language too in near future. So I am closing this issue.

[2021-05-28 17:37] #38 closed

[2021-05-29 05:03] bhanuka96 opened #39 "Why app size increase after add this plugin?"
Previously we used [firebase_ml_vision](https://pub.dev/packages/firebase_ml_vision) plugin. Now, we remove firebase plugin and use [google_ml_kit](https://pub.dev/packages/google_ml_kit) plugin.

Previously, the app size is 23MB with the firebase_ml_vision plugin.(release mode)

Now, the app size is 75MB with google_ml_kit plugin. (release mode)

[2021-05-29 05:18] bharat-biradar commented on #39
@bhanuka96 This is similar issue to #26, please look there for details. I'll be closing this issue now.

[2021-05-29 05:18] #39 closed

[2021-05-29 16:46] ashwinkey04 commented on #26
I am working on an app to use face detection alone. Is there any more stuff I can add to the `ignoreAssetsPattern` under `aaptOptions` to use only the face recognition stuff?

---
This is my current `aaptOptions`
[code]

[2021-05-29 17:05] bharat-biradar commented on #26
@ashwinkey04 Analyze the app size through dev tools and look at the instances under `assets` section. Try removing those which seem unnecessary. An example screenshot can be obtained above.

[2021-05-29 17:28] edgarfroes commented on #27
@Nickkorol this didn't work for me, sadly.

[2021-05-30 04:52] ashwinkey04 commented on #26
Thanks a lot @bharat-biradar. I removed a few models without breaking the app and managed to bring the size down to 35 MB for the bulk release apk and 23 MB for v8a. Yet to try and remove more assets as I am expected to make something less than 10 MB. Thanks for the time :)

[2021-05-31 12:34] SebghatYusuf opened #40 "No support for lower versions of the iOS, at least iOS version 10"
I'm opening this issue because the [`firebase_ml_vision`](https://pub.dev/packages/firebase_ml_vision) is discontinued and they did provide support for iOS version 10.
now I need to provide support for iOS 10 as well to be able to run my app on the older iOS phones as well, is it possible to have support for iOS version 10?

[2021-06-01 12:15] bhanuka96 commented on #26
@adriancsbna how about IOS?

[2021-06-01 13:55] AlexOliveira123 opened #41 "Error on pod install after add google ml kit plugin on project."
Anyone else with this error when adding the google_ml_kit to the project?

[!] The 'Pods-Runner' target has transitive dependencies that include statically linked binaries: (GoogleUtilitiesComponents)

[2021-06-01 14:14] Tomas-TravelUnion commented on #41
i have the same error here...
the "solution" that works for some is to comment use_frameworks! in Podfile
but this does not work for me, i cannot statically link my project, way too big and complicated... any way to solve it?

[2021-06-01 16:34] bharat-biradar commented on #41
@AlexOliveira123 @Tomas-TravelUnion this might be issue similar to #27. Take a look.

[2021-06-01 16:36] bharat-biradar commented on #40
@SebghatYusuf The ios version will be decreased to 10 and published in the version 0.5.1, wait for a day at most.

[2021-06-01 17:02] Tomas-TravelUnion commented on #41
Unfortunately no, that one is in dependency hell category and i solved it like everyone one, by selecting proper lower versions of involved packages. This one prevents pod install with use_frameworks! in Podfile. The key words in error are **statically linked binaries: (GoogleUtilitiesComponents)**

[2021-06-01 18:53] Tomas-TravelUnion commented on #41
so... i found the solution for this problem you can easily do it, just one line of code to add to google_ml_kit.podspec file:
  s.static_framework = true

[2021-06-01 19:26] fbernaly commented on #41
Thanks @Tomas-TravelUnion , we will include that in the next version

[2021-06-01 20:20] fbernaly commented on #41
Fix will be included in 0.5.1 after merging this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/42

[2021-06-01 20:20] fbernaly commented on #40
Fix will be included in 0.5.1 after merging this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/42

[2021-06-02 03:23] bharat-biradar commented on #40
@SebghatYusuf `v0.5.1` was published just now.

[2021-06-02 03:25] bharat-biradar commented on #41
@Tomas-TravelUnion @AlexOliveira123 v0.5.1 was just published, I think the issue must be solved now.

[2021-06-02 03:48] #41 closed

[2021-06-02 03:48] #40 closed

[2021-06-02 05:43] SebghatYusuf commented on #40
@bharat-biradar Thank you

[2021-06-02 11:37] AlexOliveira123 commented on #41
The problem was solved, thank you!!!! @bharat-biradar

[2021-06-02 12:40] bhanuka96 commented on #27
I downgrade my firebase plugins

[code]

Now, It's working to me

[2021-06-03 01:19] ahguerra93 opened #44 "flutter build ios fails when deployment target is lower than 13.0"
After today's update I managed to perform a "flutter run" to an ios device successfully. But when I attempted a "flutter build ios" or "flutter build ipa", the build fails. After countless tests I discovered that this only happens when the Deployment Target is set lower than 13.0. Increasing this value is not a posibility in my case since the app has been released over 2 years ago.

I created a [f

[2021-06-03 08:30] chamburr opened #45 "Text recognition from bytes crashes on iOS"
It appears that text recognition with an InputImage initialized from bytes crashes an iOS app. I have also tested the same image but initialized from file path, which works perfectly fine. Thus, the issue should be with handling the image bytes.

The following code results in crash:

[code]

The following code is OK:

[code]

Here are the logs for the crash:

[code]

Let me know if you need more i

[2021-06-03 10:12] SebghatYusuf opened #46 "Draw rectangle around detected text from image"
I've been using [`firebase_ml_vision`](https://pub.dev/packages/firebase_ml_vision) to do OCR, I used a custom painter to draw a rectangle around the detected text using [TextContainer](https://pub.dev/documentation/firebase_ml_vision/latest/firebase_ml_vision/TextContainer-class.html) class which represents dimensions of recognized text in an image. Unfortunately, I can't find any class to be abl

[2021-06-03 14:17] fbernaly commented on #45
This is the code I am using to get an `InputImage` from bytes:

[code]

  I am using that in the example app. The example app uses the `camera` plugin and here is how I convert from `CameraImage` to `InputImage` from bytes.

  https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/example/lib/VisionDetectorViews/camera_view.dart#L222-L258

I have tested that in Android and iOS using di

[2021-06-03 14:27] fbernaly commented on #46
@SebghatYusuf : Did you look at the example app? The [example app](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/example) is using the `camera` plugin to process the image like this:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/example/lib/VisionDetectorViews/text_detector_view.dart#L35-L53

The `RecognisedText` is passed to `TextDetectorPainter` and the

[2021-06-03 14:51] chamburr commented on #45
Thanks for helping out to debug!

I think you meant `inputImageFormat` instead of `imageRotation`, as I do have that in the code.

I'll be testing out the code changes tomorrow and getting back to you.

It also seems like the example [here](https://github.com/bharat-biradar/Google-Ml-Kit-plugin#1-create-an-inputimage) which I followed is incorrect. That might be due for an update too.

[2021-06-03 15:00] fbernaly commented on #45
Thanks, I forgot to update the README.

[2021-06-03 15:01] fbernaly commented on #45
you metadata should have all this:

[code]

[2021-06-03 16:04] fbernaly commented on #44
That happens to the example app as well. I found that ML Kit does not support 32-bit architectures (i386 and armv7). ML Kit does support 64-bit architectures (x86_64 and arm64). More info here: https://developers.google.com/ml-kit/migration/ios

[2021-06-03 17:10] SebghatYusuf commented on #46
@fbernaly
Thanks for clearifying that, I haven't looked to the example app.
I will look forward with the example app.

[2021-06-03 17:10] #46 closed

[2021-06-04 02:52] chamburr commented on #45
Yep, I can confirm it's working with the metadata. Thanks.

Should I keep this issue open for the suggested changes?

[2021-06-04 05:15] #45 closed

[2021-06-04 13:19] ahguerra93 commented on #44
@fbernaly  Thanks for the answer! Is there any for me to compile this app without changing the deployment version? maybe some  changing some setting in xcode to ignore these 32-bit  architectures? a subcommand in flutter maybe?

[2021-06-04 20:07] YounseoRyu opened #48 "Drawing lines that connect joints (body pose detection)"
Currently, as per body pose detection, there are dots painted on joints.
On top of that, I'd like to suggest drawing lines connecting the joints just like the image below.
As it was a simple problem, I have already implemented this feature. If you are fine with it, I'd would love to contribute this feature to the repo.
![image](https://user-images.githubusercontent.com/38140590/120857213-bf65f200-

[2021-06-05 00:19] #48 closed

[2021-06-05 23:36] Pebsie commented on #27
This is a major issue preventing any usability from the plugin. Why is this issue closed?

[2021-06-06 14:19] lvlrSajjad opened #50 "Can't run pod install with the latest versions of firebase plugins"
When I try to run pod install and run the app on iOS I encounter this error:
[code]
Dependencies I'm using:
[code]

Now I can't build my iOS app and the build is blocked.

[2021-06-06 14:48] bharat-biradar commented on #50
@lvlrSajjad Refer to this issue #20.

[2021-06-06 15:08] fbernaly commented on #50
@bharat-biradar , @lvlrSajjad : this is the correct issue and hoe other have resolved it. It is also mentioned in our readme

issue https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/27

[2021-06-06 15:08] #50 closed

[2021-06-06 18:59] sattyamjjain opened #52 "Want to use Pose detector of Ml Kit with real time streaming with Flutter, please let me know how can I handle it"

[2021-06-06 19:00] lvlrSajjad commented on #27
@fbernaly I don't want to downgrade my plugins and I think it's not a solution.
I think we should keep this issue open until this problem gets solved.

[2021-06-06 19:01] bharat-biradar commented on #52
@sattyamjjain Please see the [example](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/example/lib). It contains a fully working example.

[2021-06-06 19:01] #52 closed

[2021-06-06 19:55] Tom3652 commented on #27
The issue could stay opened but i have already [created one](https://github.com/FirebaseExtended/flutterfire/issues/6240) in the FlutterFire repo as mentioned above.
Please write directly to this issue to improve "Google`s commitment" to fix this

[2021-06-07 03:47] spedalilama opened #53 "InputImageData is null"
When running the example on a iOS device and choosing an image from the gallery the InputImageData.size and InputImageData.imageRotation is always null.

[2021-06-07 04:23] tokyokamera commented on #26
I want to use Japanese Text recognition only. What should I do?

[2021-06-07 06:10] Autocrab opened #54 "Barcode scan exception"
hi, there is a crash on specific QR
plugin version: 0.6.0

Stacktrace:

`java.lang.IllegalArgumentException: Unsupported value: [Ljava.lang.String;@998d0af
	at io.flutter.plugin.common.StandardMessageCodec.writeValue(StandardMessageCodec.java:276)
	at io.flutter.plugin.common.StandardMessageCodec.writeValue(StandardMessageCodec.java:273)
	at io.flutter.plugin.common.StandardMessageCodec.writeValue

[2021-06-07 15:07] azharj96 opened #55 "MLKNilLocalModel on iOS"
### Objective:
Image labelling using custom model done in real-time. Should run on Android & iOS.

### Steps done so far:
Used code here: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/example/lib/VisionDetectorViews/label_detector_view.dart

With the stated adaptations for using a custom model (e.g. uncommenting `processImageWithCustomModel`).

As I am building for iOS, the pa

[2021-06-07 15:54] fbernaly commented on #27
I understand that downgrading is not an optimal solution, but you need to understand as well that this plugin is a wrapper of the Google Decencies, all of the heavy lifting in done in the native frameworks provided by Google. The iOS dependencies are not open to us, and Google should fix the compatibility between their multiple pods.
So, we are going to keep this issue open just for the sake of vi

[2021-06-07 16:41] cngeru commented on #27
check out this google  [issue tracker](https://issuetracker.google.com/issues/188452839?pli=1)

[2021-06-08 04:17] bharat-biradar commented on #55
@azharj96 Did you take the first step mentioned [here](https://developers.google.com/ml-kit/vision/image-labeling/custom-models/ios#configure_a_local_model_source)  while copying the model.

[2021-06-08 04:28] bharat-biradar commented on #53
@spedalilama `InputImageData` is null because it is not necessary to provide the image data when creating an `InputImage` from a file (Note `InputImageData` is nullable) as in the native part everything is handled by the original `google ml kit` API itself.
Hope this answers your query.

[2021-06-08 12:58] #53 closed

[2021-06-08 13:42] bharat-biradar commented on #55
@azharj96 On taking a second look, I noticed that the problem was on the native side of the code. We'll fix it shortly and get back to you.

[2021-06-09 15:27] fbernaly commented on #55
@azharj96 : we just merged this PR https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/57 . I think this fixes this issue. Could you double check and if yes then let's close this issue.

[2021-06-10 00:05] spedalilama commented on #53
Yes, but if these values are null then the painter to highlight the found text doesn't get used:

if (inputImage.inputImageData?.size != null &&
        inputImage.inputImageData?.imageRotation != null) {
      final painter = TextDetectorPainter(
          recognisedText,
          inputImage.inputImageData!.size,
          inputImage.inputImageData!.imageRotation);
      customPaint = CustomPain

[2021-06-10 02:49] WillianSalceda opened #58 "Custom TFlite model error running on Object Detection"
I've been struggling with running a custom tflite model on object detection feature. I am currently building my models through Google Colab with TFLite Model Maker, and tried with another model built following Tanner Gilbert [tutorial](https://gilberttanner.com/blog/tensorflow-object-detection-with-tensorflow-2-creating-a-custom-model).

## Expected Behavior
To work normally as it works with the d

[2021-06-10 02:55] slaniado opened #59 "CocoaPods could not find compatible versions for pod "GoogleDataTransport":"
This is my flutter doctor output

[✓] Flutter (Channel stable, 2.2.1, on macOS 11.4 20F71 darwin-x64, locale es-419)
    • Flutter version 2.2.1 at /Users/slaniado/desarrollo/flutter
    • Framework revision 02c026b03c (13 days ago), 2021-05-27 12:24:44 -0700
    • Engine revision 0fdb562ac8
    • Dart version 2.13.1

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)

[2021-06-10 03:08] fbernaly commented on #59
Thanks for reporting, this is a know issue mentioned in the README. Refer to this issue https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/27.

[2021-06-10 03:08] #59 closed

[2021-06-10 03:12] fbernaly commented on #53
@spedalilama: you are right, in the example app, the painter is not working for images from the gallery  because both rotation and size are null.
However the ML kit API is working for production. Example app is not production code.
Feel free to propose a fix and send a PR. Contributions are always welcome.

[2021-06-10 04:26] bharat-biradar commented on #58
@WillianSalceda From the error log it seems the model is not compatible with ML Kit. Not all models are compatible with ml kit there are a certain set of [criteria](https://developers.google.com/ml-kit/custom-models#model-compatibility) for it to be compatible with the API. Hope this answers your query.

[2021-06-10 10:56] azharj96 commented on #55
@fbernaly when attempting to build for ios, I get the following error: `Receiver 'MLKLocalModel' for class message is a forward declaration`

Full output:

[code]

[2021-06-10 15:30] huuthongdev opened #60 "CocoaPods could not find compatible versions for pod "google_ml_kit""
I add lib to my project and run command `flutter run` on ios device. But i met a problem.

[code]

[2021-06-10 16:02] jeremy-dowdall opened #61 "Add format to BarcodeValue"
It is helpful to know what type (aka format or symbology) of barcode has been scanned - UPCa, Code128, DataMatrix, etc.

[2021-06-10 16:05] WillianSalceda commented on #58
Ok... I see that it is beyond the scope of the issue, but by any chance would you be able to explain to me how to train a model that follows the criteria? I mean, is there any way to make my 3D model to 4D (or 2D)? Or just train another model that is already 4D... I am sorry, I know it's a silly question for those who understand, but I'm doing a scientific research at my university and I don't hav

[2021-06-10 17:07] bharat-biradar commented on #58
@WillianSalceda Sorry but I am also not familiar with working with models. But you can find pre-trained models that might be compatible from [tensorflow hub](https://tfhub.dev/s?deployment-format=lite&q=object%20detection) or read this to [create your own models](https://developers.google.com/ml-kit/custom-models#train_your_own_image_classification_model).

[2021-06-10 21:55] slaniado commented on #27
Fix is planned to be released around the end of the month. [link](https://issuetracker.google.com/issues/188452839#comment7)

[2021-06-11 06:45] #61 closed

[2021-06-11 08:34] #58 closed

[2021-06-11 11:22] bisasuraj commented on #60
are you running this on m1 chip?

[2021-06-11 12:32] huuthongdev commented on #60
i running on macbook intel chip

[2021-06-13 21:24] fnoceda commented on #60
Same problem here, any solution?
  Nombre del modelo:	MacBook Pro
  Identificador del modelo:	MacBookPro10,1
  Nombre del procesador:	Quad-Core Intel Core i7
  Velocidad del procesador:	2,3 GHz
  Cantidad de procesadores:	1
  Cantidad total de núcleos:	4
  Caché de nivel 2 (por núcleo):	256 KB
  Caché de nivel 3:	6 MB
  Tecnología Hyper-Threading:	Activado
  Memoria:	16 GB

[2021-06-14 17:59] marcus-bornman commented on #55
I can confirm I am getting the same issue.

[2021-06-14 19:26] fbernaly commented on #55
it was missing an `#import` . Here is the PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/63

[2021-06-14 20:30] fbernaly commented on #60
The solution is in the logs you are getting:
[code]

And in our [README](https://github.com/bharat-biradar/Google-Ml-Kit-plugin):
[code]

By default Flutter creates an iOS project template with Minimum iOS Deployment Target: 9.0. You need to increase that in Xcode to at least 10.0. If you are specifying the ios version in you `Podfile` as well:

[code]

[2021-06-14 20:30] #60 closed

[2021-06-15 15:08] wazini-john opened #64 "[FEATURE REQUEST] Firebase Custom ML"
Add capability to load custom ML Models

[2021-06-15 16:24] #55 closed

[2021-06-15 17:38] bharat-biradar commented on #64
@wazini-john We have added support for firebase custom model for `object detection` but not published yet you can get the code from master branch, for `image labelling` and `ink recogniser` we will update them get back to you.

[2021-06-18 08:51] yusriltakeuchi opened #65 "How To Exclude Asset for App Size?"
When i use this library, the application size is too big, i want to ask how to exclude an assets when building release mode?
For example i just want to use Text Recognition only.

Thank you if you want to help my work easy.

[2021-06-18 11:14] svprdga opened #66 "Android app crash when scanning a contact barcode"
# How to reproduce
1. Create a flutter app with `google_ml_kit: ^0.6.0`
2. Implement the barcode scanning feature
3. Run it on an Android device
4. Try to scan a QR code with contact information (example attached below)

# Expected result
The lib can scan this type of code, just as it does with the other types.

# Actual result
The app crashes due to a native exception:

[code]

# Example barcode

[2021-06-18 12:11] pashtetbezd opened #67 "No way to pass image orientation"
Im trying to detect faces on image created by Camera plugin in frontal camera
scanner return empty faces list for portrait orientation images, but it works correctly when i turn device in landscape

i have tried to use InputImage.fromBytes with inputImageData but there are required fileds
required this.size,
required this.imageRotation,
required this.inputImageFormat,
required this.planeData

how

[2021-06-18 12:48] pashtetbezd commented on #67
The problem was that in some devices the exif data shows picture in landscape mode when they're actually in portrait.
I solve it by flutter_exif_rotation plugin

[2021-06-18 12:49] #67 closed

[2021-06-18 15:32] ericksprengel commented on #27
I downgraded manually my dependencies to:
[code]

But I did it by trial and error.
Is there an easier way to do it? 😅

[2021-06-18 18:17] fbernaly commented on #27
@ericksprengel: unfortunately no, there is no other way until Google fixes this: https://issuetracker.google.com/issues/188452839
Please go to that issue a leave a comment, so they could see that more people need the fix.

[2021-06-19 08:06] wazini-john commented on #64
When can we expect it in the prod ?

[2021-06-20 05:31] bharat-biradar commented on #65
@yusriltakeuchi Sorry for the late reply. Refer to #26 for this issue. You can find a work around there.

[2021-06-20 05:32] bharat-biradar commented on #64
@wazini-john Sorry I had some personal things to do. I'll add it for the `image labeling` by the end of the day.

[2021-06-20 08:12] bharat-biradar commented on #66
@svprdga Sorry for the delay. I have opened a PR which fixes this issue. Wait for it to be merged to master branch. Thank you for bringing it to our notice.

[2021-06-21 07:00] bharat-biradar commented on #64
@wazini-john Wait for the PR to be reviewed and merged.

[2021-06-22 16:31] priyeshbhuva opened #70 "Pod install error with latest version of firebase core"
Related dependencies

[code]

I'm getting the following error while installing the pod

[code]

Podfile :

[code]

[2021-06-23 05:28] bharat-biradar commented on #70
@priyeshbhuva Refer to this issue #27. It's a problem with the original API. We have to wait until they fix it.

[2021-06-23 05:28] #70 closed

[2021-06-24 08:36] #66 closed

[2021-06-24 08:36] #65 closed

[2021-06-24 08:37] #54 closed

[2021-06-24 09:58] saiful2396 commented on #70
@bharat-biradar on physical device iOS-6 Text recognition doesn't work, bar code, face recognition work. On the other hand on android it all work, can you give any suggestion please.

[2021-06-24 12:30] paj-co opened #71 "QR code scanning errors"
Hello,

I have a problem with two kinds of QR codes:
1. QR code with a company address info
![qr-address-info](https://user-images.githubusercontent.com/44299686/123260525-f3f61980-d4f5-11eb-9efe-7ec45d183155.png)
2. QR code with contact info (ex. made up contact info: John Smith +48 788 233 144 - generated by contacts app on my Samsung phone)
![qr-john-smith](https://user-images.githubusercontent

[2021-06-24 16:05] bharat-biradar commented on #71
@paj-co Did you try this with the latest code from the master branch. I think the issue was fixed for `Android` but may take some time for the IOS part.

[2021-06-25 05:52] fbernaly commented on #70
@saiful2396: I work on the iOS API, what ios version are you using? are you using the example app?

[2021-06-25 08:24] paj-co commented on #71
@bharat-biradar thanks for replay. I'm currently on Flutter 2.0.4. I will switch to newest Flutter version and run app again.

[2021-06-25 08:30] bharat-biradar commented on #71
@paj-co Sorry for the confusion but from latest code I meant code from master branch of the plugin repository. We have updated the plugin but still not published it on pub.dev.

[2021-06-25 08:40] paj-co commented on #71
@bharat-biradar my bad ;) Thanks, for quick replay 😄

[2021-06-25 08:41] francislions commented on #64
@bharat-biradar I'm currently working with your library pointing to the master branch in pubspec, because i want to use the Firebase custom model.
I have two problems:
- I have tried the remote model download and the image labeler, it works for the first time, but when i try to load another model, the new model loaded doesn't work, it seems that the old model is still there like it was cached, and

[2021-06-25 09:50] paj-co commented on #71
@bharat-biradar I checked master branch with my app by linking google_ml_kit dependency directly to github:
[code]
and everything works fine, thank you :)

However, when I have downloaded zip file from master branch to check example app, apk would not compile due to `File google-services.json is missing. The Google Services Plugin cannot function without it. ` error.

[2021-06-25 12:48] bharat-biradar commented on #71
@paj-co Yes, I had excluded the `google-services.json` file as it belonged to a different personal project. Replace it with your json file and it should work.

[2021-06-25 12:51] bharat-biradar commented on #64
@francislions Did you try calling `close()` for the previous instance before loading another model.

[2021-06-25 13:10] francislions commented on #64
I haven't called `close()`, i didn't know about it. But i restarted the app and rebuilded it sometimes, but nothing changed. I had to delete the app and rebuild to load another model.
I'm going to try with `close()` and i'll let you know if it works.

[2021-06-26 19:19] radha1990kumari opened #72 "Overrides a deprecated API"
[code]

[2021-06-27 07:25] saiful2396 commented on #70
iOS 12.5.4 followed this example but do it in different approach

[2021-06-28 14:40] bharat-biradar commented on #72
@radha1990kumari Sorry for the late reply. The warning is due to not using the latest version of original `Google ML Kit` API's in gradle. This must not pose any problem, but we'll update in the next release.

[2021-06-28 14:40] #72 closed

[2021-06-28 20:06] AXBYU opened #73 "DigitalInkRecognizer crashes on iOS"
Hi,
it seems that the DigitalInkRecognizer doesn't work on iOS as calling GoogleMlKit.vision.languageModelManager().languageModelManager.downloadModel(), readText() and isModelDownloaded() results in crashing the app. However in Android it works just fine.

Log when calling GoogleMlKit.vision.languageModelManager().languageModelManager.downloadModel('de-DE'):

[code]
[code]

I only get the logs, i

[2021-06-29 07:42] hesmnyn opened #74 "crop InputImage"
could you please help me to crop object of InputImage when it has imageType of bytes
i want textDetector.processImage(inputImage) function to only recognize a part of my camera input that user see

[2021-06-30 14:02] paj-co opened #75 "Thermal problem on iPhone"
Hi,

Recently I've got iPhone 6 (2014 model) with iOS 12.5.4 for app testing. So, it's quite dated.

I have a thermal issue when scanning QR codes for a minute or longer. iPhone 6 is getting quite warm. However my Samsung A21s (2020 model) is getting just a little warm.

I used both latest (0.6.0) version from pub.dev and latest master branch from GitHub.

When using only camera preview, without i

[2021-07-01 00:24] LucioBevilacqua commented on #27
Seems like google fixed this yesterday: https://issuetracker.google.com/issues/188452839#comment13

[2021-07-01 08:42] bhanuka96 commented on #44
@fbernaly how to enable only 32-bit architectures (i386 and armv7) existing app?

[2021-07-01 08:55] wazini-john commented on #26
@ashwinkey04 What did you exclude for only facedetection ?

[2021-07-01 09:03] wazini-john commented on #26
I'm only  using `facedetector`
 My gradle file looks like this
[code]

But the size is still huge.. especially the `hobbes.tflite`,

<img width="1440" alt="Screenshot 2021-07-01 at 11 57 16" src="https://user-images.githubusercontent.com/78900743/124097350-2b1f7a00-da64-11eb-9199-7ef51f39d058.png">
<img width="1440" alt="Screenshot 2021-07-01 at 11 58 19" src="https://user-images.githubusercontent

[2021-07-01 09:34] wazini-john opened #76 "Reduce app size by using unbundled models"
Can one use unbundled models as explained [`here`](https://developers.google.com/ml-kit/vision/face-detection/android) ?

[2021-07-01 11:58] bharat-biradar commented on #26
@wazini-john Try excluding `hobbes.tflite` it should not be related to face detection IG.

[2021-07-01 11:59] deepaklohmod6789 commented on #26
How can i remove hobbes.tflite, I also need only for face detection

[2021-07-01 12:08] bharat-biradar commented on #26
@deepaklohmod6789 Mention `hobbes.tflite` in `ignoreAssetsPattern` along with any other assets you want to ignore. Refer to the example above.

[2021-07-01 12:09] deepaklohmod6789 commented on #26
[code]
I did this but still the size is 86.6 mb

[2021-07-01 13:54] cngeru commented on #26
@deepaklohmod6789 run `flutter clean` then `flutter pub get`...
combine all options to one string `ignoreAssetsPattern '!mlkit_pose:!mlkit_label_default_model:!hobbes.tflite:'`

[2021-07-01 14:21] azharj96 opened #77 "Implementation of customModelPath for iOS"
### Objective:
Image labelling using custom model done in real-time. Should run on Android & iOS.

### Steps taken:
When running the custom model on Android, everything works perfectly. The model path I use there is just `model.tflite` and the model is placed at `/android/app/src/main/assets/model.tflite`

When running on iOS, I use the path `model.tflite` (as on Android) with the model placed at

[2021-07-01 15:03] deepaklohmod6789 commented on #26
@cngeru thanks a lot, it worked : )

[2021-07-01 16:08] fbernaly commented on #44
@bhanuka96: ML Kit does not support 32-bit architectures, you only can have 64-bit architectures (x86_64 and arm64).

[2021-07-01 16:11] bharat-biradar commented on #77
@azharj96 Can you clarify whether you are using, `v6.0.0` from pub.dev or directly using the code from master branch.

[2021-07-01 16:53] azharj96 commented on #77
@bharat-biradar I'm using the code directly from master branch as I need the fix done [here](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/55)

[2021-07-01 16:58] bhanuka96 commented on #44
@fbernaly Thank you for your reply. It's means we have to use `13+` target right?

[2021-07-01 17:02] bharat-biradar commented on #77
@azharj96 If you just want to use custom modelling and firebase remote model support pleade use `v6.0.0` from pub.dev. We recently updated the image labelling to support firebase remote model for android part and still needs to implemented for IOS. Readme also says currently image labelling for IOS is disabled. Let me know if this works.

[2021-07-01 17:45] azharj96 commented on #77
@bharat-biradar oh sorry I didn't see that! Thanks for the info.

I'm still getting the above error when using the package via the link you sent. What path should I be passing to `customModelPath`?

Also fyi, with the manual override change I mention in this issue + changing `custom` to `customLocal` on [this line](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/4c5d64f6e0d92fc98a73d3c

[2021-07-01 18:50] fbernaly commented on #27
@LucioBevilacqua : That fix is not fixing our issue. Google ML Kit is still depending on GoogleDataTransport ~> 8.0, and Firebase depends on GoogleDataTransport ~> 9.0. `pod install` cannot resolve the dependencies yet.

It is sad, but we need to keep this open until they update the ML kit pod as well.

[code]

[2021-07-01 19:54] fbernaly commented on #27
### Fix is here

I was able to find a fix for this issue. Our current [podspec](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/ios/google_ml_kit.podspec) does not specify the ML Kit versions: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/ios/google_ml_kit.podspec#L19-L26. And we want to keep it that way so it is open and you can set the version you need and

[2021-07-01 19:54] #27 closed

[2021-07-01 22:11] fbernaly commented on #44
### Fix

You need to exclude armv7 architectures in the Xcode project like this:

Go to Project > Runner > Building Settings > Excluded Architectures > Any SDK > armv7

![Screen Shot 2021-07-01 at 3 00 03 PM](https://user-images.githubusercontent.com/7014968/124194420-6da18080-da7d-11eb-8357-981379f87027.png)

Then your `Podfile` should look like this:

[code]

Notice that the minimum IPHONEOS_DEP

[2021-07-01 22:11] #44 closed

[2021-07-02 00:25] fbernaly commented on #75
Hi @paj-co : I have been testing barcode scanning with iPhone11, iOS 14 and iPhone ^s Plus, iOS14 no issues at all, phones not getting warm.

[2021-07-02 03:31] fbernaly commented on #71
@paj-co: this PR fixes the issues for iOS: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/79

[2021-07-02 08:24] paj-co commented on #75
@fbernaly thank you for clarifying :)

[2021-07-02 08:27] #75 closed

[2021-07-02 09:22] paj-co commented on #71
@fbernaly it works, thank you! :)

[2021-07-02 11:34] #71 closed

[2021-07-02 14:12] Kypsis opened #80 "When are object detection changes planned to be released to dart pub."
Apologies in advance for creating an issue for what is basically a question. But still, when are you guys planning on releasing the object detection changes to dart pub (even if rough guestimate)?

[2021-07-02 14:38] bharat-biradar commented on #80
@Kypsis Once the `IOS` part id done it will be released.

[2021-07-02 15:46] fbernaly commented on #80
@Kypsis : I have been busy with work. I am planning to work on that new feature for iOS next week. But collaborations are always welcome.

[2021-07-04 01:28] tokyokamera opened #81 "Text recognision for non english language"
Hi,
I am trying to build a Japanese ocr using this plugin.
It is working for english but for Japanese I don't have the luck.
Can you please provide an example to do the same?

Thank you!

[2021-07-04 03:45] bharat-biradar commented on #81
@tokyokamera The original API supports recognition only for Latin based scripts, hence I doubt it will work in Japanese. Look [here](https://developers.google.com/ml-kit/vision/text-recognition) for more details.

[2021-07-05 05:19] wazini-john commented on #76
@bharat-biradar ... Can it be done ?

[2021-07-05 05:44] bharat-biradar commented on #76
@wazini-john Sorry I had not noticed. I don't think ut is possible, we would need an actual application I suppose. But I'll check once and let you know. Thank you.

[2021-07-05 05:56] wazini-john commented on #76
I think loading the model from Google Play Services would lead to smaller bundles

[2021-07-05 08:05] wazini-john commented on #76
Was Running the build without specifying the project folder ie `flutter build apk --obfuscate --split-debug-info=./PROJECTNAME/build/symbols`

[2021-07-05 10:40] francislions commented on #64
Now i called `close()` on the image labeler instance and it works.
Do you have more info about the case with the model bundled with the app?
Another question, i have seen the image labeler is marked to support Android, but for iOS is in 'yet' state, so in iOS the image labeler for custom model doesn't work?

[2021-07-06 01:14] slaniado opened #82 "Error building to iOS symbol(s) not found for architecture armv7"
Hello
I am getting this error when building to iOS, I am targeting version 10.
I am able to run in the simulator, the issue comes when I run `flutter build ios --release`
I tried all the possible solutions cleaning pods also I deleted the iOS folder and build again.

`flutter doctor -v`
[✓] Flutter (Channel stable, 2.2.3, on macOS 11.4 20F71 darwin-x64, locale es-419)
    • Flutter version 2.2.3 a

[2021-07-06 02:28] fbernaly commented on #81
Since ML Kit only can recognize text in any Latin-based character set. We are closing this issue.

[2021-07-06 02:28] #81 closed

[2021-07-06 02:32] fbernaly commented on #82
@slaniado : the fix is in our [README](https://github.com/bharat-biradar/Google-Ml-Kit-plugin#requirements) and in issue https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/44
In your ymal file pull the code from our master to get the latest code.

[2021-07-06 02:32] #82 closed

[2021-07-06 03:58] yusriltakeuchi commented on #65
That's just example to reduce in android, how if we want to reduce in iOS?

[2021-07-06 07:44] swissonid commented on #26
Is there any technical reason that is holding us back from splitting this plugin into multiple packages? I don't see one use case where I need all the ml-models at once. Or do I oversee something?

[2021-07-06 12:39] SatishKumarRaizada commented on #26
@swissonid i completely agree. I think would add more value if we can split the models into different module like - TextRecognise, BarCode Reader etc...

[2021-07-06 13:44] cngeru commented on #26
@SatishKumarRaizada  and @swissonid  Someone opened an issue  regarding this issue [here](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/76)

[2021-07-06 13:58] unger1984 opened #83 "Crash on iOS by memory limit"
Simple example with only barcode scanner. Crashing on start with error:

[code]

May be, i can exclude other ml pods, that do not need me?

[2021-07-06 16:15] fbernaly commented on #26
@swissonid, @SatishKumarRaizada: collaboration is always welcome, feel free to send a PR with what you are proposing

[2021-07-06 16:16] fbernaly commented on #83
are you using the code from master? Could you share more logs? I have been testing the barcode scanner and so far no issues.

[2021-07-06 16:20] unger1984 commented on #83
Im try use 0.6.0 and master from this repo. Im write small plugin for barcode scanner https://github.com/unger1984/barcode_ml_scanner in android its work fine, but in iOS on IPhone 7 crash. In example folder located code that i cannot run (

[2021-07-06 16:43] bharat-biradar commented on #26
@swissonid I am checking if we can work with unbundled models instead of model bundels. If it works I think size won't be an issue then.

[2021-07-07 11:28] swissonid commented on #26
@fbernaly I spend yesterday on smaller lib ([google_ml_vision](https://github.com/brianmtully/flutter_google_ml_vision) )because that the one we use right now. Anyway, the problem is the same. And with a "simple" PR it isn't done. If the vision of this Plugin / Lib is to split it into smaller pieces, that will a fundamental change in the architecture. And gonna take its time.
[This is a sketched p

[2021-07-07 16:50] fbernaly commented on #26
Thanks @swissonid : I will look at it. Splitting this plugin into multiple packages will take some time.

[2021-07-07 16:54] fbernaly commented on #83
@unger1984 : have you tried our example app? try our example app and let me know if you can reproduce the crash.

[2021-07-08 07:51] bharat-biradar commented on #76
@wazini-john The plugin works with unbundled models but not all API's support unbundled models we have only 3 API's working with unbundled models. But there was a decrease in the size of apk. @fbernaly Should we change the available models to unbundled ones?

[2021-07-08 10:31] thanhbinh84 opened #84 "Example doesn't work with normal camera view"
Steps to reproduce:
1. Run app on Xiaomi Mi Max, android 7.0
2. Select Vision/Face detector
3. The app can detect eye, nose... but the camera screen shrinks
4. Remove row 117 in the camera_view.dart `fit: StackFit.expand,`
5. Rerun the app

Actual result:
- The camera screen ratio is normal but cannot detect and draw detection for eye, nose...

Expected result:
- Custom paint should work with any

[2021-07-09 07:32] wazini-john commented on #76
What API's ?
And how do we remove the overhead files while getting the same functionalities?

[2021-07-09 13:08] gibahjoe opened #85 "Barcode detection not working offline"
Hi, It seems I have to be online for bacorde reading to work. It works great when online but if I go in airplane mode and turn off wifi, it does not detect anymore. Please advice

[2021-07-10 07:24] radha1990kumari opened #86 "How do I run face detector in an isolate ?"
My code sample :-
[code]
I am getting this  error :-
[code]

[2021-07-10 16:53] bharat-biradar commented on #76
@wazini-john The details have been updated in the `readme`. Can I close this issue or do you have any other queries?

[2021-07-10 18:34] wazini-john commented on #76
sure.. thanks

[2021-07-10 18:39] wazini-john commented on #76
How to clean up any bundles built up in the app ? Or what lines do we add to prevent any kind of bundling?

[2021-07-12 02:05] ngant97 opened #88 "How to get format barcode"
I want to get format barcode.
example: upca, qrCode, pdf417, aztec, etc...
Please help me solution.

[2021-07-12 11:24] MahmouedInit opened #89 "[Face Detection] Galaxy Tab A7 face recognition doesn't work"
## Bug report

**Describe the bug**
I ran the example of face recognition feature on Android "Mobile Phone" & it worked probably.
Also I've even tried it on another tablet "Galaxy Tab A -SM-T295" and it worked just fine.
But when I'm trying it on "Galaxy Tab A7 - SM-T505N" It doesn't even work or even give any error, it just keep telling me there is 0 faces, but when I choose to take image from ca

[2021-07-12 13:10] wazini-john commented on #76
@bharat-biradar

[2021-07-12 17:56] bharat-biradar commented on #76
@wazini-john You can't prevent bundling but you can exclude other assets such pose detection model whose size nearly 24 mb. For information regarding this refer #26 .

[2021-07-12 17:56] #76 closed

[2021-07-12 18:00] bharat-biradar commented on #88
@ngant97 Call `barcode.value.format`. Refer [here](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/ab354b8c597afe6188e3033f249f5ccba508afe7/lib/src/vision/barcode_scanner.dart#L263) for details

[2021-07-12 18:00] #88 closed

[2021-07-12 18:04] bharat-biradar commented on #85
@gibahjoe Are facing the same issue even with the example app?

[2021-07-13 02:43] wazini-john commented on #76
What assets do we exclude all together ? @bharat-biradar

[2021-07-13 06:58] bharat-biradar commented on #76
@wazini-john Assets that you do not need. For example, if you are working on `face detection`, you won't be needing model for `pose detection` or `hobbes.tflite` etc... Exclude them as shown [here](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/26#issuecomment-872267543). At the end analyze your `apk`, if there assets that are not being used, ignore those assets.

[2021-07-13 07:09] wazini-john commented on #76
I'm using face detection in my app and since we'll be using Google Play face API.
1. Can we exclude all assets generated ?
2.  Does using Google Play APIs affect iOS?

[2021-07-13 07:22] bharat-biradar commented on #76
No, it does not.

You cannot exclude all the generated assets, because some of the assets are may be generated by other plugins or flutter itself. Exclude assets that are used by `google_ml_kit` plugin only.
![image](https://user-images.githubusercontent.com/62872048/125408583-b1c74600-e3d8-11eb-9799-530c9a314881.png)

If you see in this image `mlkit_pose`, `hobbes.tflite`, `object_labeler` etc...

[2021-07-13 08:34] mugglmenzel commented on #64
Thanks for adding custom ML support to the ```google_ml_kit``` package.

However, the remote model manager does not work for me.
While downloading the model with the deprecated ```firebase_ml_custom``` package works, it does not work with ```google_ml_kit```.

Following is how it works with ```firebase_ml_custom```:
[code]

The following does not work, suing the model manager from ```google_ml_kit

[2021-07-13 08:43] bharat-biradar commented on #64
@mugglmenzel On which platform did this error occur `iOS` or `android`?

[2021-07-13 08:46] mugglmenzel commented on #64
I am testing on Android. The behavior is that the Future<String> never returns on downloadModel().

[2021-07-13 12:24] wazini-john commented on #76
Sorry to disturb but do you have a list of `all assets` generated by the package ?

[2021-07-13 13:46] bharat-biradar commented on #76
The above screenshot contains the list of assets for the latest version of `example app`. Out of these `mlkit_pose`, `hobbes.tflite`, `object_labeler.tflite`, `mlkit_oft_default_classifier`, `mlkit_odt_lacalizer` are generated by plugin.

[2021-07-13 15:11] vladkharitonov opened #90 "[Pose Detection] Z Coordinate Support"
As stated in the original MLKit documentation for Pose Detection, the model supports Z coordinate for keypoints. It also supports accuracy values which are not available in PoseLandmarkType class. I wonder if you plan to implement them in the near future. Thanks.

[2021-07-13 15:15] wazini-john commented on #76
Final question ... Can I exclude `models` in `assets` ?

[2021-07-13 15:30] bharat-biradar commented on #76
What models?

[2021-07-13 15:39] wazini-john commented on #76
The one below `hobbes` [here](https://user-images.githubusercontent.com/78900743/124097350-2b1f7a00-da64-11eb-9199-7ef51f39d058.png)

[2021-07-13 16:34] fbernaly commented on #90
@vladkharitonov: yes, we are going to add those pretty soon

[2021-07-13 18:00] bharat-biradar commented on #76
Yes you can. Try excluding them, if they interfere with working you can always revert back 😀.

[2021-07-13 18:31] wazini-john commented on #76
Removing them breaks the app.
Thanks

[2021-07-14 10:58] SebghatYusuf opened #91 "[Text Recognition] Failed to do OCR while trying to start camera."
I'm using Text Detector and Barcode Detector, I'm able to run the app on several medium & high end devices, but when I'm trying to run on low end devices, when I click on button to open camera, it just stuck to load camera and I get the bottom error:

[code]

Any help would be highly appreciated :)

[2021-07-14 12:58] jerlyjelly opened #92 "[Pose Detection] Confidence for pose detection and an option for smoother landmarks?"
Is there support to filter based on confidence level?

Want to do something like this: [https://codepen.io/mediapipe/pen/jOMbvxw](url)

[2021-07-14 15:37] jerlyjelly opened #93 "[Pose Detection] Updating pose detection model dependency to 17.0.1-beta4"
There seems to be a lot of performance upgrades on the ML Kit model.

Any plans on upgrading to the latest 17.0.1 beta 4 model as specified on the Google ML Kit website? [https://developers.google.com/ml-kit/vision/pose-detection/android](url)

Thanks for the great plugin!

[2021-07-14 20:08] bharat-biradar commented on #93
@jerlyjelly We plan to update it shortly. We'll let you know when the changes are pushed to the master branch.

[2021-07-14 20:11] bharat-biradar commented on #91
@SebghatYusuf Which version of the plugin are you using?

[2021-07-15 06:20] SebghatYusuf commented on #91
@bharat-biradar version 0.6.0

[2021-07-15 22:25] gibahjoe commented on #85
Hi, My bad. I was resolving a dynamic link which apparently needed internet. False alarm.

[2021-07-15 22:25] #85 closed

[2021-07-17 04:57] wazini-john commented on #91
@SebghatYusuf
How did you implement the ability to download the models from google play ?

[2021-07-17 08:45] SebghatYusuf commented on #91
@wazini-john
I don't do anything, I'm just adding the package to my `pubspec.yaml` file and as described in `Readme.md` I just start using it. I don't know what other thing is necessary. can you please explain what is needed?

[2021-07-17 08:50] bharat-biradar commented on #91
@wazini-john I have added info regarding it in the readme's `android usage` section please go through it once.

[2021-07-17 08:52] bharat-biradar commented on #91
@SebghatYusuf Did your issue resolve, I could not find any info on minimum device spec requirements in google's original documentation, I have added a question on StackOverflow hope someone answers it.

[2021-07-17 08:55] SebghatYusuf commented on #91
@bharat-biradar
No the issue still occurs,  it's nor resolved yet.

[2021-07-17 09:45] SebghatYusuf commented on #91
@bharat-biradar I just fixed the issue,  I just needed to add this `<meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="ocr" />`
So, why it was working on high end devices?

[2021-07-17 09:45] #91 closed

[2021-07-17 21:30] arthas1888 opened #94 "Only works on ResolutionPreset.high CameraController"
Describe the bug
I'm building an android app using flutter that has a QR code scanning feature. I've broken out the QR code logic into a minimum reproduction case here.

Oddly enough, the QR scanning only works on my Samsung devices  (I have a Samsung S20 FE).
It's so strange when I test in my Pixel 3a and it doesn't work, only works with ResolutionPreset.high

I know the solutions is just to chan

[2021-07-18 05:08] bharat-biradar commented on #91
@SebghatYusuf According to the log I think it did not actually fail but the model was being downloaded, see here
`PlatformException(TextDetectorError, com.google.mlkit.common.MlKitException: Waiting for the OCR optional module to be downloaded. Please wait.`, when you called it for the first time.

But when you added this
`<meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:valu

[2021-07-18 05:22] bharat-biradar commented on #92
@jerlyjelly Sorry but the original API does not provide any such options to filter based on confidence, we can't implement something not provided by the original API.

But if you want to classify poses refer [here](https://developers.google.com/ml-kit/vision/pose-detection/classifying-poses) for some help.

[2021-07-18 05:22] #92 closed

[2021-07-18 08:04] hesmnyn commented on #91
just added the code you said but i still get the same issue :(((

do you know anything else to help me?

[2021-07-19 20:41] danj96dev opened #96 "How soon will pose inference be on part with the native android version?"
I tried out mlkit 0.6.0 on with flutter but human poses aren't detected as often and when they are the points are less accurate. There's especially difficulty with tracking the hands and legs.

Will this happen in the next few weeks, I'd like to know before deciding on flutter or 2 native apps thanks!

[2021-07-19 20:52] adriancsbna opened #97 "Problem compiling in iOs for publishing"
Hello.

I am trying to make the Archive to be able to publish the App but I get the following errors.
Doing flutter run or flutter run -release works correctly.

Any idea how to fix it?

![Captura de pantalla 2021-07-19 a las 22 51 33](https://user-images.githubusercontent.com/26508254/126225739-6c78c5ec-6371-40a6-8ae9-44b9d4289103.png)

[2021-07-20 00:34] fbernaly commented on #97
Look at the readme, I added some tips: https://github.com/bharat-biradar/Google-Ml-Kit-plugin#ios.

Give them a try and let me know if that fixes your issue.

[2021-07-20 07:03] bharat-biradar commented on #96
@danj96dev We already have a PR #95 , to update it, until PR is merged pull the code directly from this [branch](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/update_poseDetection). Though it is still implemented for android only, you can test if the accuracy of points is according to your need or not.

[2021-07-20 11:04] Sotatek-HieuVu commented on #89
The same with Google Pixel 3

[2021-07-20 17:06] adriancsbna commented on #97
Hello @fbernaly .

I tried what you indicated but it didn't work either.
When I run it normally it works, the problem is when doing the "Archive" in Xcode.

[2021-07-20 17:18] fbernaly commented on #97
What is your minimum ios target? are you excluding armv7 in the Xcode project and in the pod file?

[2021-07-20 17:21] adriancsbna commented on #97
Minimum ios Target: 10.0
Yes, I exclude from both places

[2021-07-20 17:46] fbernaly commented on #97
Try cleaning your DerivedData folder: https://programmingwithswift.com/delete-derived-data-xcode/
I was getting the same errors and after doing what I added to the readme and deleting the DerivedData it started to work

[2021-07-20 23:01] alessandrosilva commented on #89
Same problem with Xiaomi POCO M3

[2021-07-21 05:04] bharat-biradar commented on #89
@alessandrosilva @Sotatek-HieuVu Add this in your `androidManifest.xml` and try again let me know if it works.
[code]

[2021-07-21 11:42] alessandrosilva commented on #89
I did that but it didn't solve the problem, I also increased CameraController's resolution as I saw in another issue, but it didn't solve it either.

Remember that the problem only occurs when using the camera in real time, if you use a photo from the gallery everything is ok.

[2021-07-21 12:54] wazini-john commented on #64
@mugglmenzel Did it work ?

[2021-07-21 12:54] wazini-john commented on #64
@mugglmenzel Did it work ?

[2021-07-21 13:07] wazini-john commented on #91
@bharat-biradar  I read the documentation. Just trying to find out how to prevent bundling all together coz excluding models crashes the face detection functionalities.

[2021-07-21 15:19] utsavDave97 commented on #27
@bharat-biradar

[code]
When I tried this I got the following error:

[code]

Please advice

[2021-07-22 03:09] CaoGiaHieu-dev opened #98 "Can't run on android"
Hi . I using FaceDetector on camera and it's work 100% on ios . But in android notthing happen .
Im was reduce size app as same as issue #26 and some how it's cant detect face any more

[2021-07-22 07:20] Sotatek-HieuVu commented on #89
It's not works for me either. And I agree with @alessandrosilva. If you taking a picture, or pick photo from gallery, it works fine. Issue only happen when I detect realtime on camera

[2021-07-22 14:35] danj96dev commented on #96
Thank you, just saw it got merged, will you push a new version to pub.dev soon?

[2021-07-22 15:15] bharat-biradar commented on #96
@danj96dev Will publish it after updating `image labeling` on IOS.

[2021-07-23 15:57] JrmyDev opened #100 "[Barcode] Invalid barcode rawValue"
Hi,
My customer have issue on iPhone 6S while scanning barcode.
Sometimes, it returns barcode rawValue like `{"typeNumber": "0", "errorCode": "3", "version": "229"}`
`version` sometimes change.
I think errorCode may be related to MLkitException.ErrorCode
https://developers.google.com/android/reference/com/google/mlkit/common/MlKitException?hl=fr

Flutter version 2.2.3
Google ml kit version 0.6.0

[2021-07-23 16:18] fbernaly commented on #100
I have the same iPhone, could you share the barcodes your client is scanning so I can try to reproduce.

[2021-07-24 05:43] bharat-biradar commented on #89
I tried with 2 to 3 devices and did not come across any problems.
@Sotatek-HieuVu @alessandrosilva Was `face detection` in live camera working with `v6.0` the one currently available on `pub.dev` on your devices or it's not working the code currently on master.

[2021-07-24 05:45] bharat-biradar commented on #98
@CaoGiaHieu-dev Please refer to this issue #89 from here on, it's the same one and you stay up to date with the changes there.

[2021-07-24 05:45] #98 closed

[2021-07-24 05:52] bharat-biradar commented on #91
@wazini-john Please don't exclude model's if it's crashing. The only way to prevent the bundling altogether is to split the whole plugin into individual API's which we can't afford right now. But if you still want to reduce app size, instead of excluding the whole `models` try excluding one model at a time, example
`models/fssd_100_8bit_v1.tflite` and if not crashes it's fine otherwise you will ha

[2021-07-26 19:00] fbernaly commented on #64
We added this feature in these PRs for both iOS and Android:
* https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/69
* https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/99

We released both in 0.7.0. Could you confirm that that is solving your request to close this issue?

[2021-07-26 19:05] fbernaly commented on #74
I do know how to crop the image, just make sure that your image follows the Input Image guidelines:
* https://developers.google.com/ml-kit/vision/text-recognition/android#input-image-guidelines
* https://developers.google.com/ml-kit/vision/text-recognition/ios#input-image-guidelines

[2021-07-26 19:05] #74 closed

[2021-07-26 19:28] fbernaly commented on #77
We added this feature in these PRs for both iOS and Android:

* https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/69
* https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/99

We released both in 0.7.0.

[2021-07-26 19:28] #77 closed

[2021-07-26 19:30] fbernaly commented on #83
@unger1984 : any update? did you try our example app? can we close it?

[2021-07-26 19:31] fbernaly commented on #84
@thanhbinh84: example app is not production code, it is work in progress, feel free to send a PR with your contribution to fix this issue.

[2021-07-26 19:32] fbernaly commented on #90
We added this feature in 0.7.0.

[2021-07-26 19:32] #90 closed

[2021-07-26 19:33] fbernaly commented on #93
We added this in 0.7.0.

[2021-07-26 19:33] #93 closed

[2021-07-26 19:35] fbernaly commented on #100
@JrmyDev: We just released 0.7.0 we a few fixes for barcode, could you give it a try? also, share your barcode so I can test on my iPhone 6S and try to reproduce

[2021-07-27 06:42] JrmyDev commented on #100
@fbernaly For now, I'm not able to share you the barcode because I retrieve only the error remotely.
I will push a patch to retrieve more information and send you more information asap

[2021-07-27 12:58] mugglmenzel commented on #64
Thanks, I tested it now.
Unfortunately, the model download throws a Platformexception now:
[code]

[2021-07-27 15:13] cngeru opened #101 "Removing optional models breaks the app"
From the documentation and the issues raised in the repo I understand that we can strip away the models and assets on android to reduce bundle size. I am only using `face detection` in my app. I want to use `Google Play Api (face)` instead of the bundled models. I have tried removing the models from the app but the app breaks.

The models are `10 MB` in size which is huge considering they app can

[2021-07-29 04:46] #64 closed

[2021-07-29 04:47] wazini-john commented on #101
@cngeru Did you get a fix ?

[2021-07-29 05:59] Fadikhayo1995 opened #102 "Not working on iOS"

[2021-07-29 06:00] Fadikhayo1995 commented on #102
I have updated to the latest versions but still no luck on having face detection on iOS devices.

[2021-07-29 11:24] CaoGiaHieu-dev commented on #89
i got this issue when run on xiaomi redmi9T, android 10 QKQ1.200830.00
- Unhandled Exception: CameraException(error, Attempt to invoke virtual method 'android.view.Surface android.media.ImageReader.getSurface()' on a null object reference).

[2021-07-29 11:50] CaoGiaHieu-dev commented on #97
i have a same this issue when build ios-framework and put it on my ios project

[2021-07-29 18:33] mugglmenzel commented on #64
I could resolve the issue now and it's working perfectly! Thank you!

Issue seems to be around cached files. I had uninstalled the app from my qemu device and did a cold boot. After a reinstall during the flutter build, the model download worked flawlessly and so did loading a ImageLabeler.
Maybe this helps others who are migrating from FirebaseModelManager.

[2021-07-29 19:20] ReubenBeeler2 commented on #102
I am also having trouble on iOS. Unfortunately, I have no idea what problem you are experiencing, as you did not mention anything other than 'face detection', which makes it pretty much impossible for anyone to help you. Please indicate (specifically) what the problem is.

[2021-07-30 02:05] CaoGiaHieu-dev opened #103 "Problem in build ios framework"
Hi . I try to build ios framework with your package and get this error when add to my ios project and build
Could you help me to resolve this problem

![](https://user-images.githubusercontent.com/57854043/127479317-01791cc2-041c-4588-8c53-6c8e86a34a22.png)

<details>
<summary>error log</summary>

[code]

</details>

<details>
<summary>flutter doctor</summary>

[code]

</details>
version : google_

[2021-07-30 06:32] bharat-biradar commented on #89
@CaoGiaHieu-dev Please mention the plugin version, if you are using `7.0` and it's not working, try with `6.0` and please update me if it works with `6.0`, so I can make a fix.

[2021-07-30 07:00] CaoGiaHieu-dev commented on #89
@bharat-biradar
hi . i down to version 0.6.0 but it still get the same error

[2021-07-30 16:55] bharat-biradar commented on #89
@CaoGiaHieu-dev I think your issue is actually related to the `Camera plugin` rather than our plugin, as you are experiencing the same problem with both same versions and further `google_ml_kit` does not depend on `camera` plugin. I found a similar [issue](https://github.com/flutter/flutter/issues/19595) reported on the original flutter repo, maybe you might get some help there.

[2021-07-31 06:01] CaoGiaHieu-dev commented on #89
@bharat-biradar
that might be true, thanks for your support
btw . can you answer issue #103 .

[2021-07-31 19:41] bharat-biradar commented on #89
@CaoGiaHieu-dev Your issue looks a bit familiar to #97 please try following the instructions given there, if that doesn't fix ping fbernaly, I am not good with the IOS side of things.

[2021-08-01 15:42] radha1990kumari commented on #72
@bharat-biradar ,still same issue ,please reopen the issue until it is resolved .
[code]

[2021-08-01 15:56] radha1990kumari opened #104 "Local module descriptor class for com.google.android.gms.vision.face not found."
Upgraded from 0.6.0 to 0.7.0  and I got this error :
[code]

[2021-08-01 16:16] radha1990kumari commented on #104
`flutter clean` solved the issue

[2021-08-01 16:16] #104 closed

[2021-08-01 16:22] bharat-biradar commented on #72
@radha1990kumari All the API's have been updated to the latest versions, the deprecated warning is due to using `PluginRegistery` which is deprecated, and is used to support `v1` android embedding. This is not an issue and the warning can be ignored. Hope this clears your doubt.

[2021-08-01 16:23] radha1990kumari commented on #72
@bharat-biradar  but my release build fails
[code]

[2021-08-02 07:15] CaoGiaHieu-dev commented on #97
@fbernaly  @adriancsbna
hi . any update for this issue ?

[2021-08-02 20:20] detzioni opened #105 "Can't run the example"
I am trying to run the example on Android with the following setting:
----
### flutter doctor -v
[✓] Flutter (Channel master, 2.5.0-2.0.pre.113, on macOS 11.5.1 20G80
    darwin-x64, locale en-US)
    • Flutter version 2.5.0-2.0.pre.113 at /Users/up/Development/Flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 0abf02f855 (3 days ago), 2021-07-30 17:4

[2021-08-03 04:30] bharat-biradar commented on #105
@detzioni It is due to missing firebase's `google-services.json` file. You can add your own JSON file from any of you existing firebase project.

[2021-08-03 06:18] radha1990kumari commented on #101
@cngeru  , I am getting this log ,(though after stripping unused resources it was working earlier ) :
[code]

[2021-08-03 06:36] radha1990kumari opened #106 "Local module descriptor class for com.google.mlkit.dynamite.face not found"
Running on emulator with version `0.7.0`  .
[code]

[2021-08-03 14:15] detzioni commented on #105
Thank you

[2021-08-03 14:15] #105 closed

[2021-08-03 14:44] radha1990kumari commented on #106
Downgrading  version to `0.6.0` seems to solve the issue .

[2021-08-03 15:39] danj96dev opened #107 "Is pose inference slow compared to native or is it the flutter canvas?"
When I compare the pose tracking side by side, native android seems to be faster and smoother.
The smoothness is probably from smoothing out the coordinates but the tracking feels like it lags behind on the flutter library. Is this because stream mode hasn't been updated or because the canvas draws on the next frame in flutter, making it seem like it's behind the person in the camera feed?

[2021-08-03 16:16] radha1990kumari commented on #101
@cngeru  , yes my app is working fine after removing these resources , plugin version `0.6.0` , try `flutter clean` and then build  the apk ,hopefully it will resolve the issue

[2021-08-03 16:47] radha1990kumari opened #108 "How is my app able to run face detect even when libface_detector_v2_jni.so is not included ?"
I built an app earlier (using only face detection) and built a release apk (with excluding  unused models ) ,the size of my apk was 35.6 mb ,but after making some changes to app and building the apk I notice size to increase to 53.8 ,on analyzing apk  I find that my earlier apk didn't include `libface_detector_v2_jni.so` file and still my app was able to detect face .
Code for face detection
[code

[2021-08-03 20:44] cngeru commented on #101
@radha1990kumari Have you excluded the models ?
[code]

[2021-08-04 11:01] radha1990kumari commented on #101
@cngeru  ,I didn't include `!models` line but somehow  it was not included in my apk , I am using only face detection (to get bounding boxes around faces ) .My apk even didn't include `libface_detector_v2_jni.so' , but my new version has both and therby size is increased by 20mb . The only files which are present in old one but not in new one are `mlkit_odt_localizer` and `mlkit_odt_default_classi

[2021-08-05 01:17] HuongNTY commented on #89
I also have the same problem.Followed all the steps as instructed, versions of:
camera: ^0.8.1+7,
google_ml_kit: ^0.7.0
tflite_flutter: ^0.8.0
tflite_flutter_helper: ^0.2.0
and  I've added
<meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="face" />
but still not showing the identification frame. Help me please!

[2021-08-05 06:35] JrmyDev commented on #100
I was able to reproduce it on Android.
When I instanciate my barcode scanner without provinding barcode format :
`BarcodeScanner barcodeScanner = GoogleMlKit.vision.barcodeScanner();`

The scanner detect some object or shape as a barcode unknown or text type and return this kind of error
`"typeNumber": "0", "errorCode": "3", "version": "229"}`

It seems that I resolve it by submitting a barcode fo

[2021-08-05 10:02] bharat-biradar commented on #89
@HuongNTY please check with version `6.0` and tell me if it works, we switched from bundled to unbundled model from in `7.0` if that is that cause I want to revert this change for now.

[2021-08-05 21:46] radha1990kumari commented on #86
I am closing this cause I just ran it on main isolate and passed the data to another isolate

[2021-08-05 21:46] #86 closed

[2021-08-05 22:04] radha1990kumari commented on #108
Using the version `0.7.0`  doesn't bundles the models and this seems to give same  files as my old apk , but it gives this error
[code]

[2021-08-06 02:18] sikandernoori opened #109 "After 0.7.0 App Crashes on Image Processing Due to Firebase dependency"
════════ Exception caught by widgets library ═══════════════════════════════════
The following CameraException was thrown building ValueListenableBuilder<CameraValue>(dirty, state: _ValueListenableBuilderState<CameraValue>#1501f):
CameraException(Disposed CameraController, buildPreview() was called on a disposed CameraController.)

The relevant error-causing widget was
CameraPreview
lib/VisionDete

[2021-08-06 03:56] bharat-biradar commented on #108
@radha1990kumari What version did your old apk use.

[2021-08-06 04:05] bharat-biradar commented on #86
@radha1990kumari Please share your code snippet here so it might be helpful to others who might come across this issue.

[2021-08-06 05:11] radha1990kumari commented on #86
@bharat-biradar  , I am not running the face detection in a separate  spawned isolate (since I was not able to find a way to do it ). So, the `Readme`  of the package would suffice.  For those wanting to do so ,I don't  think there  is any need to, cause running the Face detector in main isolate didn't hang up my UI (which was my main concern ) but after getting the list of `Face` objects further

[2021-08-06 05:21] radha1990kumari commented on #108
@bharat-biradar , I was using `0.7.0` and  I found the issue earlier my app was able to also run on emulator but sometime after when I tried again it crashed my app , hence I suspected  it will also crash in my release apk but it doesn't so for the time being I am closing the issue

[2021-08-06 06:05] fbernaly commented on #103
@CaoGiaHieu-dev : Have you follow the instructions we have in the readme for iOS?
Try 0.7.0 we fix a couple of issues in that version.

[2021-08-06 06:08] CaoGiaHieu-dev commented on #103
@fbernaly
hi . I try version 0.7.0 already but still getting this error .
When i try config and run on .ios then it work but build to module and add to ios project will get error

[2021-08-06 08:50] HuongNTY commented on #89
I tried changing 6.0 but it still doesn't work

[2021-08-06 20:43] radha1990kumari opened #110 "Crashing app when running `facedetection` in Image stream function of `camera` plugin ."
ML-kit version `0.7.0`
[code]

[2021-08-07 20:07] dnsprado commented on #89
Hi guys. I have the very same issue when using real time face detection on Moto G9 Power device. It seems that the _processImage_ function on **face_detector.dart** return an empty list. Going deeper this function, I realized that the following:

returns an empty list.

When using both Samsung A9 and Samsung Tab A (T295) the code works properly, and faces are recognized as expected.

Have anyone t

[2021-08-08 02:27] pjbwchn commented on #109
I had the same error. It would be great to get this fixed to work independently of Firebase.

I did manage to remove this error, not an ideal fix:

1. In AppDelegate.swift file:
add: import FirebaseCore and add FirebaseApp.configure(),
for example:

import UIKit
import Flutter
import FirebaseCore

@UIApplicationMain
@objc class AppDelegate: FlutterAppDelegate {
  override func application(
    _ a

[2021-08-08 10:42] sikandernoori commented on #109
Not a Good Idea.
this Package is already too heavy due to unwanted libraries and now adding Firebase libs on top of it for No reason.

Use 0.60 version Instead.

[2021-08-08 15:46] aytunch opened #111 "Can we use this plugin to check if a video has inappropriate content like nudity or violence"
Hi thanks for this library @bharat-biradar
I want to do this on the device not on the cloud.
Our users record and chooses videos from their camera or internal storage.
I want to process these videos and check if they are safe before uploading them to Firebase storage.
By using ffmpeg i can make the videos in to many images so I can feed them to this plugin.
Do I need a seperate model for the inapp

[2021-08-09 08:03] CaoGiaHieu-dev commented on #109
hi . i getting this issue too . i using object detector but it only used on version 0.7.0 . anything suggest ?

[2021-08-09 08:54] bharat-biradar commented on #111
@aytunch I looked at the API, `safe-search` is not supported by the standalone kit. If you want it to use with `image-labeling` maybe you would need a custom model (I am not sure as I don't have much knowledge with ml) which detects something like labels like `spoof`, `medical`, `adult` etc... with a given confidence score. And you can then decide likely and unlikely based on the confidence score.

[2021-08-09 08:54] #111 closed

[2021-08-10 06:54] SebghatYusuf opened #112 "[iOS] - App is crashing while trying to use `text-recognition` & `barcode scanner`"
Unfortunately, I don't have a physical iOS device, so I wasn't able to test the text recognition and scanning barcode of the app, but it was working fine on Android so I assumed it will work on iOS, now I can see an issue on my Firebase Crashlytics. it happens when the user wants to open the scanner screen, can please help me with the following log?

[code]

I'm using version 0.6.0, and using `cam

[2021-08-10 07:49] HamadBangash353 opened #113 "Text Detection is not working on ios while on android it is working."
[code]

[2021-08-11 04:51] CaoGiaHieu-dev commented on #103
@fbernaly
hi . any update or suggests ?
btw. i found that you native ios using stdc++ that was removed on xcode 10+ so its make these things happen . Could you migrate it ?

[2021-08-11 06:17] momoDragon commented on #106
Same issue here. downgrading to 0.6.0 worked for me. should this issue be reopened? because 0.7.0 is not working as intended

[2021-08-11 10:22] SebghatYusuf commented on #112
ANY UPDATES????
@fbernaly @bharat-biradar
Can you please give me some input?

[2021-08-11 12:03] goodsw4all opened #114 "[iOS] GooggleService-Info.plist is needed building iOS app"
First of all, thank you for the plug-in. 👍

I get this error message while buidling for iOS
error: Build input file cannot be found: '/Volumes/MultiMediaHDD/Projects/FlutterProjects/Google-Ml-Kit-plugin/example/ios/Runner/GoogleService-Info.plist' (in target 'Runner' from project 'Runner')

In order to solve this issue, I had to download 'GoogleService-Info.plist' from Firebase and copy it into Ru

[2021-08-12 02:59] CaoGiaHieu-dev commented on #114
seem like a image labelling in version 0.7.0 need firebase to doing something on that . you can find that in change log https://pub.dev/packages/google_ml_kit/changelog
every else seem like not doing anything on firebase .

[2021-08-12 06:54] #114 closed

[2021-08-12 16:24] fbernaly commented on #114
@CaoGiaHieu-dev : you are right the example app needs the `GoogleService-Info.plist` to demo a feature for image labeling using a remote model, but when you are using the plugin for your app you do not need the `GoogleService-Info.plist` unless you need Firebase.

[2021-08-12 16:32] CaoGiaHieu-dev commented on #114
@fbernaly
i still need to add GoogleService-Info.plist when using version 0.7.0 . i still not know how to ignore image labeling .
btw could you mirgate ios in package . i see that its using something call libstdc++ (sorry im not good at ios and im stucking in this issue for 2 week ). i really need support ASAP

[2021-08-13 09:40] JrmyDev commented on #94
Exactly the same problem reported by my customer.
Too laggy with camera resolution high on Samsung SM-G950F
and not working with camera resolution medium on Xiaomi Mi Note 7 and 10 for example
How we do ?

[2021-08-13 18:44] Pranet-Hiranandani opened #115 "iOS MLKInvalid Local Model"
Hi, my app is running fine on android but on iOS I am getting an error, 'Terminating due to uncaught exception "MLKInvalidLocalModel" reason: Local model path (model.tflite) is invalid."
My tflite file is placed is ios/Runner/Resources/model.tflite. Model is showing in Copy Bundle Resources. I experimented with trying to use flutter_assets/ and with CustomLocalModel.file and CustomLocalModel.asset

[2021-08-14 17:30] pvkhaijvb commented on #94
this is my solution
instead
   ` final Size imageSize = Size(image.width.toDouble(), image.height.toDouble());`
by
[code]

in function  _processCameraImage
this is my code:

` Future _processCameraImage(CameraImage image) async {
    final WriteBuffer allBytes = WriteBuffer();
    for (Plane plane in image.planes) {
      allBytes.putUint8List(plane.bytes);
    }
    final bytes = allBytes.done().

[2021-08-14 17:35] pvkhaijvb commented on #113
[this is my solution](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/94#issuecomment-898934212)

[2021-08-14 19:34] tim-teacher opened #116 "This lib contain all ML libs, it should be divided"
This lib contain all ML libs, it should be divided to be able use only desired parts.

[2021-08-14 20:17] #73 closed

[2021-08-14 20:58] sinshev opened #117 "Definition of 'MLKText' must be imported from module 'MLKitTextRecognitionCommon.MLKText' before it is required"
When building on iOS I am getting 5 errors:
1) "Declaration of 'MLKTextRecognizedLanguage' must be imported from module 'MLKitTextRecognitionCommon.MLKTextRecognizedLanguage' before it is required"
2) "Definition of 'MLKText' must be imported from module 'MLKitTextRecognitionCommon.MLKText' before it is required"
3) "Definition of 'MLKTextBlock' must be imported from module 'MLKitTextRecognitionCo

[2021-08-14 23:23] dustin-graham commented on #117
I am also getting this issue. I'm on an M1 Mac if that helps.

[2021-08-15 10:36] minamax1994 commented on #117
Same issue here, on flutter v2.2.3 stable, on Mac OS X 10.15.7.

[2021-08-15 17:58] arthas1888 commented on #94
Thanks!!, really works!, I appreciate your answer, this is my code

`static Future<dynamic> detect({
    required CameraImage image,
    required Future<dynamic> Function(GoogleVisionImage image) detectInImage,
    required int imageRotation,
  }) async {
    return detectInImage(
      GoogleVisionImage.fromBytes(
        _concatenatePlanes(image.planes),
        _buildMetaData(image, _rotationIn

[2021-08-15 17:58] #94 closed

[2021-08-15 18:03] arthas1888 commented on #94
@pvkhaijvb I wonder, do you change the image.width by image.planes[0].bytesPerRow and how do you find out it?

[2021-08-15 18:06] arthas1888 commented on #94
@pvkhaijvb I wonder, Why do you change the image.width by image.planes[0].bytesPerRow and how do you find out it?

[2021-08-15 18:58] dustin-graham commented on #117
@minamax1994 , are you also on a Mac M1 chip?

[2021-08-15 20:08] bharat-biradar commented on #113
@pvkhaijvb If possible, can you please open a PR with your solution, so we may check and merge it? It will be helpful to others in the future as well.

[2021-08-15 20:15] bharat-biradar commented on #116
@tim-teacher Yes this has been a long-standing problem and we have already received complaints regarding this issue. We have yet to decide if we should split. But please feel free to open a PR with suggested changes.

[2021-08-15 20:25] sgm17 commented on #117
- Declaration of 'MLKTextRecognizedLanguage' must be imported from module 'MLKitTextRecognitionCommon.MLKTextRecognizedLanguage' before it is required
- Definition of 'MLKText' must be imported from module 'MLKitTextRecognitionCommon.MLKText' before it is required
- Definition of 'MLKTextBlock' must be imported from module 'MLKitTextRecognitionCommon.MLKTextBlock' before it is required
- Definitio

[2021-08-16 07:26] canibal1 commented on #117
Same issue here, I try flutter clean , delete  `Podfile`, `Podfile.lock`, `Pods/,` `.symlinks` . I try used iOS and `google_ml_kit : ^0.5.0`, `^0.6.0 `and `^0.7.0`. Five days ago (11.08.2021) working good but since last Thursday (12.08.2021) become not working....

[2021-08-16 08:21] minamax1994 commented on #117
@dustin-graham Not sure, I'm using AppCenter for generating builds.

[2021-08-16 08:59] Pranet-Hiranandani commented on #115
The model is working and runs fine on Android. Only getting this issue on iOS

[2021-08-16 11:08] pvkhaijvb commented on #94
I dont know. I just debug in my code, i shaw image.planes[0].bytesPerRow different from  plane.width in my Phone. Just replace it.

Some Android phone have image.planes[0].bytesPerRow same  plane.width.

[2021-08-16 11:22] sonsosad commented on #94
@pvkhaijvb I also had the same problem. Using this code solved the problem. Thanks

[2021-08-16 11:24] pvkhaijvb commented on #94
Wá đjnk c4p <3

[2021-08-16 11:24] pvkhaijvb commented on #94
Wá đjnk c4p <3

[2021-08-16 11:25] sonsosad commented on #94
@pvkhaijvb omg
Are you from Vietnam?

[2021-08-16 12:18] LebranD commented on #117
same issue

[2021-08-16 13:29] bharat-biradar commented on #89
Can someone having problem detecting in some devices try this [approach](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/94#issuecomment-898934212) instead and see if it works?

[2021-08-16 13:32] alessandrosilva commented on #89
I already tried it with this configuration, it didn't solve the problem.

[2021-08-16 16:35] dustin-graham commented on #117
Ok, I did some digging and experimenting this morning and found some interesting things.

My podfile.lock says that I'm depending on `MLKitTextRecognition (1.4.0-beta1):`

In that version of the dependency, `MLKitTextRecognition.h` looks like this:
[code]

1.4.0-beta1 is actually Text Recognition V2. In the latest version of V1, 1.3.0, `MLKitTextRecognition.h` looks like this:
[code]

The code in

[2021-08-16 19:04] canibal1 commented on #117
I am very happy that the problem has been resolved. It saved me from a great burden. :)

[2021-08-16 21:30] fbernaly commented on #117
I merged this PR: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/pull/118. Does that fix your issue?

[2021-08-16 21:41] canibal1 commented on #117
Yes, I tried a couple minute ago. It's working very well.
Just add pubspec.yaml file this git adress like that

[code]
and go ios file then,

`delete Podfile`
`delete Podfile.lock`
`delete Pods/`
`delete .symlinks`
`flutter clean`
`Pub get`
and run project.
Happy build debug and compiles 😄

[2021-08-17 18:21] jbx1 commented on #100
This problem seems to be more prevalent on 0.7.0 than on 0.6.0 for some reason.

[2021-08-17 18:22] jbx1 commented on #100
Actually 0.7.0 makes it worse. I didn't have this issue, and after upgrading from 0.6.0 to 0.7.0 I started to face this issue.

[2021-08-18 09:24] JrmyDev commented on #100
Try to define the list of barcode type to handle like
`BarcodeScanner barcodeScanner = GoogleMlKit.vision.barcodeScanner([BarcodeFormat.code128])`

[2021-08-18 09:44] jbx1 commented on #100
Yeah did that, and also added a check that if the value starts with `{"typeNumber"` ignore it and continue scanning as a workaround.

[2021-08-19 06:29] CaoGiaHieu-dev opened #119 "cant not use pose detection"
hi . im using pose detection and face detection in one func and get this error when build on ios

<details>
<summary>error log</summary>

[code]

</details>
version : google_ml_kit: ^0.7.0

[2021-08-19 10:13] bharat-biradar commented on #119
@CaoGiaHieu-dev In your code are you trying to use the detector after calling `close()`? Because the log says it was failed because the detector was deallocated.

[2021-08-19 10:17] CaoGiaHieu-dev commented on #119
@bharat-biradar
No i didn't . i'm just init then process though the camera streamImage . It work fine with face detection but not pose detection

[2021-08-19 15:48] luvishq commented on #117
@canibal1 : flutter run works but building on iOS through xCode  fails , getting the below issue :

Undefined symbol: _MLKPoseLandmarkTypeRightWrist
Undefined symbol: _MLKPoseLandmarkTypeRightThumb
Undefined symbol: _MLKPoseLandmarkTypeRightKnee

Any clue how to fix this ?

[2021-08-19 20:36] NighttCoder commented on #26
Any ideas to reduce AppSize in iOS. I am only using OCR and app size after including this plugin increases by ~50MB.

[2021-08-20 05:28] dustin-graham commented on #117
@luvishq , I'm not sure about that. I'm not seeing that on my end. Just to make sure we have a good starting point. Make sure you do a flutter clean. In xcode clean the build folder. Delete the pods folder. Then run a pod get, and run again.

Beyond that I'm not sure. Take a closer look at the error and see where it's happening. Can you provide more information about the error?

[2021-08-20 06:10] bharat-biradar commented on #119
can you provide me the code snippet you are using?

[2021-08-20 06:14] CaoGiaHieu-dev commented on #119
@bharat-biradar
sure .
``
void init(){
 _faceDetector =
      GoogleMlKit.vision.faceDetector(const FaceDetectorOptions(
    enableClassification: true,
    enableTracking: true,
    enableLandmarks: true,
    mode: FaceDetectorMode.accurate,
  ));
  _poseDetector = GoogleMlKit.vision.poseDetector(
      poseDetectorOptions: PoseDetectorOptions(
    model: PoseDetectionModel.base,
    mode: PoseDe

[2021-08-20 13:39] nombrekeff commented on #116
Yeah, something should be done as it's a pain to deal with.

[2021-08-21 10:42] Parthib commented on #116
I know there are a few solutions to reduce the apk size in Android according to this thread: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/26. It helped reduce my apk size significantly.

Anyone know if a similar solution exists for iOS?

[2021-08-21 11:36] sgsm74 opened #120 "Throw an exception about downloading module"
Hey guys I wrote a program based on example project, but every time I faced this exception:
`PlatformException (PlatformException(TextDetectorError, com.google.mlkit.common.MlKitException: Waiting for the text optional module to be downloaded. Please wait., null, null))`

what should I do?

[2021-08-23 04:49] luvishq commented on #117
@dustin-graham : I tried the above but it failed again, it seems there are some undefined symbols , Please see attached screenshot for the build error I am getting :

<img width="739" alt="Screen Shot 2021-08-22 at 9 48 45 PM" src="https://user-images.githubusercontent.com/70883221/130391433-2253f117-461b-4fc9-985e-d55aaa5886b7.png">

[2021-08-23 16:11] hsnbsst opened #121 "** BUILD FAILED ** Runner/GeneratedPluginRegistrant.m"
Failed to build iOS app
Error output from Xcode build:
↳
** BUILD FAILED **

Xcode's output:
↳
/Users/hsnbsst/Desktop/Android/Falistan/ios/Runner/GeneratedPluginRegistrant.m:10:9: fatal error: module 'device_info_plus' not found
@import device_info_plus;
[code]

[2021-08-24 16:45] nachtmaar commented on #117
@luvishq I had the same problem. A deletion of the Podfile.lock, flutter clean and cleaning derived data folder helped in my case. Of course, also checking out the fix PR as mentioned above by @canibal1.

[2021-08-24 20:36] dwach414 opened #122 "Need To Update Tagged Version"
The fix from commit https://github.com/bharat-biradar/Google-Ml-Kit-plugin/commit/039c01815afed39173750cebca6edb031e6678aa is not in any tagged version. We need this library and we can't use a git url for a release version. Please release and update with these new commits.

Thank you

[2021-08-25 10:44] officialFlutterDeveloper commented on #117
Honestly im so so annoyed and im so angry why can't I make this package work ! :(

[2021-08-25 10:45] officialFlutterDeveloper commented on #117
Launching lib/main.dart on iPhone 12 in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                           12.5s
Failed to build iOS app
Error output from Xcode build:
↳
    objc[50997]: Class AMSupportURLConnectionDelegate is implemented in both /usr/lib/libauthinstall.dylib (0x1fd2dfad8) and /System/Library/PrivateFrameworks/MobileDevice.frame

[2021-08-25 10:46] officialFlutterDeveloper commented on #117
it works on android but when I run here it throws error I have never been able to make ML kit work on IOS  please someone help me I even to padlock and changed the following

    - MLKitTextRecognition (~> 1.4.0-beta1)

to

 - MLKitTextRecognition (~> 1.3.0)

nothing works

[2021-08-25 14:11] luvishq commented on #117
@dustin-graham @nachtmaar : Still getting the same error :/

[2021-08-26 09:37] julian-wpt opened #123 "[iOS] - App is crashing while trying to use barcode scanner"
**Bug description**
I have implemented the plugin in version 0.7.1 to use the barcode scanner. In Android this works without problems. When I start the app, I get the following error on iOS (I implemented the requirements in readme):

8.6.0 - [Firebase/Core][I-COR000003] The default Firebase app has not yet been configured. Add `FirebaseApp.configure()` to your application initialization. This can

[2021-08-26 13:18] officialFlutterDeveloper opened #124 "MLKitTextRecognitionCommon.MLKTextElement"
Launching lib/main.dart on iPhone 12 in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                           12.5s
Failed to build iOS app
Error output from Xcode build:
↳
    objc[50997]: Class AMSupportURLConnectionDelegate is implemented in both /usr/lib/libauthinstall.dylib (0x1fd2dfad8) and /System/Library/PrivateFrameworks/MobileDevice.frame

[2021-08-26 14:59] officialFlutterDeveloper opened #125 "0.7.1 error"
im getting error on version 0.7.1 on IOS

Launching lib/main.dart on iPhone 8 Plus in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                           26.9s
Failed to build iOS app
Error output from Xcode build:
↳
    objc[63011]: Class AMSupportURLConnectionDelegate is implemented in both /usr/lib/libauthinstall.dylib (0x1fd2dfad8) and /Syste

[2021-08-27 04:16] thedeadhand opened #126 "Custom models?"
Does anyone know if this plugin supports custom models ?
Thanks

[2021-08-27 08:58] Chhinvanchhai opened #127 "i wish it support the last android SDK version, it make me sick to downgrade SDK version. It support only <29"

[2021-08-28 04:12] sbis04 opened #128 "Use classifier with MLKit Pose detector"
The official page for MLKit Pose Detection also talks about a [pose classification option](https://developers.google.com/ml-kit/vision/pose-detection/classifying-poses) by uploading a CSV file. We have generated a CSV file and tested it in that demo native Android app, but want to use it along with this plugin as our app is mostly in Flutter.

Is there a way to use classifier with a CSV file in th

[2021-08-28 17:00] nachtmaar commented on #117
@luvishq I had this additional error message: "building for iOS Simulator-x86_64 but attempting to link with file built for iOS Simulator-arm64".

Do you also have a Mac with arm chip ?

if yes, these commands helped:

[code]

[2021-08-29 13:35] nachtmaar opened #129 "Support for iOS Language Identification"
Hi @bharat-biradar, first of all I wanted to thank you for your work on this plugin!
I just migrated to it coming from the `firebase_ml_vision` package.

With this ticket, I want to start a conversation on the plans and possible time when the [Natural Language](https://developers.google.com/ml-kit/language/identification) features, especially the `Language Identification` is going to be implemente

[2021-08-29 14:15] bharat-biradar commented on #129
@nachtmaar Thank you for interest in plugin. Please feel free to open a PR or a draft PR if you have if you implemented a basic version but it's not yet completed even of ots written in swift. After opening a pr or to discuss what features to add in a pr please ping @fbernaly. He'll take a look when he's free (I am not good with iOS sode of things 😅).

[2021-08-29 15:54] officialFlutterDeveloper commented on #117
still can't make it work im using m1 Mac can anyone help me?

[2021-08-29 16:07] kouseralamin opened #130 "Chinese Text Recognition"
I tried to OCR Chinese text with this plugin, but I was not able to do it. Can we get an update with on device text recognition for Chinese text?

This is Text Recognition v2 [LINK](https://developers.google.com/ml-kit/vision/text-recognition/v2). It works for Chinese Text on device, but there is no flutter one.

[2021-08-29 18:35] bharat-biradar commented on #130
@kouseralamin Thank you for opening the issue. I was unaware of this release, I'll add it as soon as possible, currently I'm busy with other things.

[2021-08-30 04:25] kouseralamin commented on #130
@bharat-biradar Thank you for your reply. I hope everything will go smoothly.

[2021-08-30 07:28] KevinBeckers commented on #123
I experienced the same issue. Changing `ResolutionPreset.veryHigh` to `ResolutionPreset.medium` on the CameraController solved it for me.

[2021-08-30 09:30] officialFlutterDeveloper commented on #125
@fbernaly any update on this ? : /

[2021-08-30 11:59] julian-wpt commented on #123
I get the error at every `ResolutionPreset`, even with `ResolutionPreset.low` or `ResolutionPreset.medium`.

[2021-08-30 20:31] natalia-dev commented on #123
Same problem here. Changing `ResolutionPreset ` made no difference.

[2021-08-31 11:51] officialFlutterDeveloper opened #132 "Simple ML Text Recognition app on android is 110 mb"
I just want to use text recognition in my app is there anyway I can remove the ML kits I do not need because the app size is huge

[2021-08-31 13:57] cogitoo opened #133 "operating problem"
An error is reported when running the project

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugGoogleServices'.

   Searched Location:
  C:\Users\Lenovo\Documents\Google-Ml-Kit-plugin\example\android\app\src\debug\google-services.json
  C:\Users\Lenovo\Documents\Google-Ml-Kit-plugin\example\android\app\src\google-services.json
  C:\Users\Len

[2021-08-31 17:01] fbernaly commented on #125
@officialFlutterDeveloper : I wont be able to help for now with this, feel free to fork the repo and send a PR once you find a fix.

[2021-08-31 17:03] fbernaly commented on #129
@nachtmaar : let me know when your PR is ready for review

[2021-08-31 17:43] bharat-biradar commented on #133
@cogitoo Add the google-services.json file from any of your firebase projects in `example/android/app/`. This should solve your issue.

[2021-08-31 17:43] bharat-biradar commented on #132
@officialFlutterDeveloper Refer to #26. It has some ways through which you can reduce the app size.

[2021-08-31 17:43] #132 closed

[2021-08-31 17:48] officialFlutterDeveloper commented on #125
@fbernaly does this mean i won’t be able use ML text kit on my IOS :((( I thought you were working on this

[2021-09-01 01:54] cogitoo commented on #133
Thank you for opening the issue.

[2021-09-01 05:48] cogitoo commented on #133
@bharat-biradar I can't find google-services.json. I'm trying other solutions

[2021-09-01 05:51] bharat-biradar commented on #133
@cogitoo You can get the google-services.json file from a firebase project

[2021-09-01 06:10] cogitoo commented on #133
@bharat-biradar Thank you very much. The problem has been solved

[2021-09-01 06:13] #133 closed

[2021-09-05 00:46] Aaron009 commented on #124
I also encountered this problem, is it solved?

[2021-09-05 05:36] officialFlutterDeveloper commented on #124
@Aaron009 no it’s not fixed and I doubt it will ever get fixed I been waiting for a fix for a whole month I thought this plugin was made by official google employee seems like it was made by and worked on by 2 people who don’t have time to fix issues

[2021-09-06 05:24] Lawati97 opened #134 "Ml Kit vision"
When I check what does imageRotations type I see this dynamic imageRotation but the code states it as final InputImageRotation imageRotation so am not sure if this is right or no

[2021-09-06 07:07] bharat-biradar commented on #134
@Lawati97 Can you please add the code snippet showing what exactly you are unsure of?

[2021-09-06 15:16] officialFlutterDeveloper commented on #125
update for version 0.7.2. - ML text recognition for IOS still doesn't work : /

[2021-09-06 17:08] bharat-biradar commented on #125
@officialFlutterDeveloper Sorry for the trouble caused, we will update it when we get a fix. Meanwhile try any other available plugin if this is blocking your progress and this is not a plugin from a official google employee, I am just a student who doesn't even have a mac to solve iOS queries so please don't keep your hopes high.

[2021-09-06 20:17] natalia-dev commented on #123
Downgraded to version 0.6.0 and it worked

[2021-09-06 20:54] officialFlutterDeveloper commented on #125
I accidentally closed it. I’m new to GitHub 😅 but yes it has stopped my progress and there is no alternative if there is any for text recognition please let me know I’m very upset about this issue :(

[2021-09-07 08:50] officialFlutterDeveloper commented on #125
@bharat-biradar would it be possible you could use this https://www.macminivault.com/mac-mini-mac-pro-rentals/?keyword=mac%20mini%20cloud%20server I really really want you to fix the text recognition thing for IOS it already works on android im sure you and @fbernaly can make it happen you both are very talented developers I know you both have busy lives but I hope you understand my point of view

[2021-09-08 12:48] Pranet-Hiranandani commented on #115
Hi, can someone please help me with this issue, I'm really struggling a lot. @bharat-biradar

[2021-09-08 21:45] officialFlutterDeveloper commented on #117
@dustin-graham any idea how to fix the error?

[2021-09-09 08:06] SelanDeemantha commented on #89
Has anyone able to fix the issue in Galaxy Tab A7.  I recognized that the below method return an empty face list. So custom paint is also not drawn in the mentioned device.
 `final faces = await faceDetector.processImage(inputImage);`

Run on device:  Galaxy Tab A7

 Dependencies:

  sdk: ">=2.12.0 <3.0.0"

  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  google_ml_kit: ^0.7.2
  camera: ^0.

[2021-09-09 12:35] SelanDeemantha commented on #102
@ReubenBeeler2, Did you able to do face detection in IOS device

[2021-09-10 03:56] danielcmm opened #135 "Converting an InputImage to Image Widget with Image.memory"
Hi!

When i try to create an Image Widget from the InputImage bytes, using Image.memory function:

``
Image.memory(inputImage.bytes,fit: BoxFit.cover),
``

i get the following error:

[code]

I have debugged and there is data on inputImage.bytes.

What can i do to create an image representation/widget from the InputImage class?

Thanks in advance!

[2021-09-10 08:01] #127 closed

[2021-09-10 08:02] #126 closed

[2021-09-10 15:22] officialFlutterDeveloper opened #136 "Can you please fix MLTextRecongition for IOS"
Launching lib/main.dart on iPhone 11 Pro Max in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                           89.1s
Failed to build iOS app
Error output from Xcode build:
↳
    objc[39104]: Class AMSupportURLConnectionDelegate is implemented in both /usr/lib/libauthinstall.dylib (0x208a67ad8) and /System/Library/PrivateFrameworks/MobileDevi

[2021-09-10 16:31] nachtmaar commented on #129
Anything else we need to do in order to close this issue?
A release note about the exception for the Android side is required IMHO. Because people might already have used it and should prepare for the change in behaviour (throwing an exception then no language is detected)

[2021-09-13 10:04] om-ha commented on #86
I think this is a good issue to explore further. For example let's talk about TextRecognition. You have:
1. Camera View: Many FPS with high resolution according to resolution preset e.g. `ResolutionPreset.medium`.
2. Text Recognition by MLKit
3. Annotations above CameraView
4. Your in-house processing of recognized text

 Having all of this run on main isolate sounds scary. This issue is the [only

[2021-09-13 11:26] om-ha opened #137 "Isolates and Google-Ml-Kit-plugin"
This issue draws over https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/86

Considering how amazing this repo is and impact of this issue on its performance, it may be a good idea to explore usage of isolates.

For example let's take a simple example with TextRecognition. You have:

1. Camera Widget: Many FPS with high resolution according to resolution preset e.g. `ResolutionPreset.me

[2021-09-13 15:56] pdivita commented on #89
I'm experiencing the same issue, even with latest camera version (0.9.2+2) and mlkit (0.7.2): face is not being recognized.
My device is Galaxy Tab A7 SM-T500

[2021-09-13 18:27] TrueNight commented on #89
Same here, faces isn't being recognized on Xiaomi Redmi 9T

camera: ^0.9.2+2
google_ml_kit: ^0.7.2

[2021-09-13 18:34] TrueNight commented on #89
Solution from [another issue](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/94#issuecomment-898934212) works for me.
[code]

[2021-09-14 08:32] pdivita commented on #89
Didn't work for me unfortunately. Which device do you have? Can you share a zip with an example?

[2021-09-14 10:04] pdivita commented on #67
do you have an example on how to fix?

[2021-09-14 10:05] pdivita opened #138 "Changing some parameter the face is not recognized anymore"
On my Xiaomi 10 lite 5g it works with this configuration only:
 * Portrait
 * Resolution.preset low or high (not medium)
 * Using CameraPreview inside a Stack with "StackFit.expand" (but the aspect ratio is not ok), like the example of the package

Here comes the strange things:
 * If I rotate the screen to landscape, it doesn't recognize faces anymore
 * In portait: if I remove the "StackFit.expa

[2021-09-14 12:19] khairulTonu commented on #89
This solution didn't work for me. Face detection bounding box appears but it is at the bottom part of the camera. And after capturing the image has been broken.

[2021-09-14 18:05] fbernaly commented on #129
@nachtmaar : I think we can close this issue

[2021-09-14 18:05] #129 closed

[2021-09-14 19:31] #112 closed

[2021-09-14 19:39] SebghatYusuf opened #139 "[iOS] - app crashing when trying to change `ResolutionPreset.low`."
Hello,
I'm trying to use the app to do text recognition and reading barcode, when I set the `ResolutionPreset.low` to `ResolutionPreset.veryHigh` / `high` /`medium` the app is crashing.
It's running fine when I set `ResolutionPreset.low` but the issue is it's not able to detect barcode and text very well.
here is a little of code snippet:

[code]

any recommendations?

[2021-09-15 05:15] bharat-biradar commented on #129
@fbernaly Shall I publish a new version with current changes or wait for anything else to be added?

[2021-09-15 11:38] bharat-biradar commented on #138
@pdivitia Thank you for opening the issue. I also found that face was not being detected in landscape mode I'll check what's wrong and get back to you.

[2021-09-16 06:59] ducvu212 commented on #138
same issue :(

[2021-09-16 09:45] ykiran commented on #136
Would you please summarise the issue and what you did to fix it?
Others having the same issue might find it helpful.
Thanks.

[2021-09-16 09:56] officialFlutterDeveloper commented on #136
@ykiran

I did few things

1- I copied my ML app Xcode proj and Xcode workspace so all my settings and bundle id and google services is secured then  I made a new flutter project and copied the whole iOS folder and replaced it with my ML app  folder. then I pasted/ replaced my previously copied Xcode proj and Xcode workspace inside the app folder

2- when I went into project/IOS terminal and when

[2021-09-16 10:46] S-Man42 opened #140 "Is it possible to use the lib completely offline?"
Hi,

I was searching for a Android/iOS compatible QR-From-File Reader. But I need it to be working completely offline. However, as I saw it, the lib needs internet connection at least at the first startup. Is there a way to suppress this and add the required data to the resources or something?

Kind regards!

[2021-09-16 14:24] Surajsahani28 commented on #26
How we reduce app size in IOS ?

[2021-09-16 16:47] NighttCoder commented on #26
@Surajsahani28 I couldn’t find a way to reduce the app size with this plugin..I ended using the cloud ocr ..

[2021-09-19 04:32] meomap commented on #124
Man, we should respect hard works of all developers out there 🙏

I don't know anything about obj-c or cocoa pod but it seems there's a dependencies problem here. The latest ml kit versions are not supported by plugin yet:

[code]

My fix is to use the same dependencies as plugin's developers.  Just keep your `ios/Podfile.lock` and [example/ios/Podfile.lock](https://github.com/bharat-biradar/Google

[2021-09-19 12:45] om-ha commented on #27
@utsavDave97

Use this in your `pubspec.yaml` instead:

[code]

Explanation:
1. In my snippet above, you'd be cloning the repo using `HTTPS` not `SSH`.
2. In your snippet however, you are basically cloning the repo using SSH but with no SSH key assigned to your GitHub account, that's also stored on the cloning machine. So GitHub can't tell if you have access or not.

❌ `url: git@github.com:bharat-

[2021-09-19 12:56] om-ha commented on #27
To re-iterate @fbernaly  great answer, here are the exact steps to do here:

1. Delete old iOS Podfile
[code]
2. Modify pubspec
[code]
3. Get flutter packages
[code]
4. Cocoapods update or install
a. update `pod update`
b. install `pod install`

NOTE: this fix as mentioned by the author is temporary until the changes are updated on `https://pub.dev/`

[2021-09-19 13:09] om-ha commented on #27
Seems like this was already fixed in Version `0.7.1` as specified in the [changelog](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/CHANGELOG.md#071).

Can we please update the [README](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/README.md) So that users like me are no longer directed to this issue?

[2021-09-20 08:10] julian-wpt commented on #123
I retried it with version 0.7.2, but the error is still present. The problem with version 0.6.0 is, that it does not yet include the `BarcodeFormat` (in `BarcodeValue`) in the `Barcode` result.

[2021-09-21 18:06] hugopretorius914 commented on #123
I too have this issue, should I just configure firebase? That seems like a lot...

[2021-09-22 08:15] hesmnyn commented on #26
any update?
@fbernaly

[2021-09-22 13:37] #140 closed

[2021-09-22 13:44] S-Man42 opened #143 "[iOS] Cannot compile: FirebaseApp.configure() missing"
I following your `README `instructions to compile the app for iOS.

Unfortunately, I couldn't compile it with your sole instructions (FirebaseApp not configured).

I found a way to solve the problem. Just add

`FirebaseApp.configure()`

to AppDelegate.swift file.

When I tried to execute the barcode function, the iOS app crashed.

I needed to

1. register an app on firebase.google.com
2. Download

[2021-09-23 10:50] jronceroscb opened #145 "Barcode class no longer has BarcodeFormat field"
Not sure if this is intentional, but Barcode class had a BarcodeFormat field in firebase_ml_vision plugin.

This change means that if you allow "all" barcode formats, and you detect a barcode, you can't identify the format anymore (QR, etc), just the type (email, sms, etc).

[2021-09-24 09:00] bharat-biradar commented on #145
@jronceroscb I believe we still provide the barcode format it can be accessed by `barcode.value.format` and there is [enum](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/4c2ca1f42ee4d8287dee8862b6220ec14e331517/lib/src/vision/barcode_scanner.dart#L45) for the all the supported barcode formats.

[2021-09-24 11:14] eazyfin commented on #89
This worked for me in Redmi 9 Power, custom ROM

[2021-09-24 11:52] jronceroscb commented on #145
You are right, I was using google_ml_kit 0.6.0, it must have been added on 0.7.x version. Thanks for the reply.

[2021-09-24 11:52] #145 closed

[2021-09-24 17:33] kouseralamin commented on #130
Thank you for this update. I tested it in an android. It is working. Is there any plan for ios?

[2021-09-26 13:13] Pranet-Hiranandani commented on #101
Hi, you need to include the 'lib/**/libmlkitcommonpipeline.so' for the app to work. No libraries work without that. This is what I used for Custom Image Labelling. It reduced the APK size from around 300 MB to 60MB.

`packagingOptions {
        exclude 'lib/**/libtranslate_jni.so'
        exclude 'lib/**/libdigitalink.so'
        exclude 'lib/**/libxeno_native.so'
        //exclude 'lib/**/libmlki

[2021-09-27 01:01] COWRCHEN opened #146 "D/TransportRuntime.CctTransportBackend(14172): Making request to: https://firebaselogging.googleapis.com/v0cc/log/batch?format=json_proto3"
I could see this kind of logs from the android studio console. Does anyone know what it's for? can I disable the upload?

D/TransportRuntime.SQLiteEventStore( 4152): Storing event with priority=VERY_LOW, name=FIREBASE_ML_SDK for destination cct
D/TransportRuntime.JobInfoScheduler( 4152): Upload for context TransportContext(cct, VERY_LOW, MSRodHRwczovL2ZpcmViYXNlbG9nZ2luZy5nb29nbGVhcGlzLmNvbS92MGNj

[2021-09-28 01:38] mhilalsh opened #147 "Not Reading Data Matrix Codes"
I don't know what's the problem but I need to read data matrix codes, and the barcode scanner is not reading it, does anyone knows what kind of mistake I made?

[2021-09-28 02:12] mhilalsh commented on #147
it was my problem it's reading just fine

[2021-09-28 02:12] #147 closed

[2021-09-28 02:15] mhilalsh opened #148 "Can't Scan inverted Data Matrix codes (light on dark/ white on black)"
I'm trying to use the api to scan inverted data matrix codes (white on black) but it's not recognizing, I thought about looping on the bytes of the input image and invert the bytes but I can't find out how to do that, is there anything I can do to read inverted data matrix codes?

[2021-09-29 07:19] SebghatYusuf commented on #139
Closing the issue because I haven't received any feedback.

[2021-09-29 07:19] #139 closed

[2021-09-29 08:30] Arkania9 commented on #138
I had the same issue with the painter not drawing when I removed 'StackFit.expand'. What I did is I sized the camera width and height and move those values directly into custom paint.
CameraView:
    return Container(
      width: 300,
      height: 400,
      color: Colors.black,
      child: Stack(
        children: <Widget>[
          CameraPreview(_controller!),
          if (widget.customPain

[2021-09-30 05:34] vtorres94 opened #149 "MissingPlugingException"
![image](https://user-images.githubusercontent.com/57963655/135393096-894f136b-9f54-49fa-9ed4-bb6946ba2c17.png)

The app is not crashing but is not detecting nothing.

[2021-09-30 21:58] PabloLavin commented on #26
If it's not too much to ask for, I would love if anybody can list what
ignoreAssetsPattern
and
packagingoptions

refer to each of the ML Kit assets, or share a link of any docs that talk about that.

[2021-10-02 10:57] drneamati commented on #130
May you add v2 to ios please?

[2021-10-03 10:33] mhilalsh commented on #148
Okay I solved this issue

[2021-10-03 10:33] #148 closed

[2021-10-03 10:37] mhilalsh opened #151 "App crashes when navigating"
so I'm trying to scan some datamatrix code with the scanner, and it's reading and everything is fine, then I want to navigate back (pop) with the data but it crashes and if doesn't crash the behavior is very strange it's not navigating smoothly.
the app crashes without errors or exceptions and sometimes I get a fatal error flutter signal 11 (SIGSEGV), code 2 (SEGV_ACCERR), fault addr 0x71b4871f08

[2021-10-05 09:44] Amanullahgit opened #152 "application size is increased with Google-ML-Kit"
after changing from firebase_ml_kit to this package, the app size increased from 20mbs to 120mbs.

using this implementation:   implementation 'com.google.android.gms:play-services-mlkit-text-recognition:17.0.0'

[2021-10-05 13:46] bharat-biradar commented on #148
@mhilalsh Can you please add your solution here, so that it can be helpful to others

[2021-10-05 13:56] bharat-biradar commented on #152
@Amanullahgit Please refer  to this issue #26.

[2021-10-05 13:56] #152 closed

[2021-10-05 14:01] bharat-biradar opened #153 "Add Natural Language API's for IOS"
To add any one or all of the remaining Natural Language API's for IOS
- [x] On Device Translation
- [x] Entity Extraction
- [x] Smart Reply

[2021-10-05 14:02] mhilalsh commented on #148
in the CameraView page, I added a piece of code in the _processCameraImage() function, CameraImage format is usually YUV by default
YUV images consist of 3 planes Y , U and V each plane has bytes inside of it so what we want to do to the YUV image -before transforming it to an inputImage and send it to be processed- is to invert the bytes of each plane by substracting every byte from 255 (this is

[2021-10-08 10:43] itssidhere commented on #26
Does anyone have any idea about parameters for translation kit only? @bharat-biradar

[2021-10-08 15:31] itssidhere commented on #26
For anybody looking to seriously reduce the size, I would suggest going to the plugin implementation.
Comment unnecessary files in the build.grade. Then comment all the files src>nlp / src>vision based on what you need. This is a hit and trial method and you will get few errors just keep commenting down things whose implementation you have commented and in the end, it will compile. In my case, I o

[2021-10-11 09:07] mhilalsh opened #154 "Scanning with Image Picker is not working"
I'm trying to scan data matrix codes with the Image picker feature and I tried debugging, I didn't change the code but the invoke method and the api request doesn't return anything and the barcodes list is empty, if someone knows what I might be doing wrong please help me I need to work with this Image Picker.

[2021-10-11 10:33] mhilalsh commented on #154
I get this " {"typeNumber": "0", "errorCode": "3", "version": "85"} " when I try to print the string found in the barcodes list and when I try to view it while debugging the application crashes, does anybody know what's that?

[2021-10-11 10:40] SelanDeemantha commented on #89
Unfortunately, this solution hasn't worked for me (Galaxy Tab A7). Which device do you have ? Can you share more details

[2021-10-11 10:41] SelanDeemantha commented on #89
Unfortunately, this solution hasn't worked for me (Galaxy Tab A7). Which device do you have ? Can you share more details

[2021-10-13 01:33] Mijawel opened #155 "TextDetector not working with InputImage.fromFile();"
When I use the flutter camera plugin and convert the image as explained in the docs, it detects text. However when I use image_picker to get an image from file, it is not detecting any text.

I have no real idea why InputImage.fromFile() isn't working but reading through other issues posted on here, I've tried a couple things as follows: (which haven't helped)

I have noticed that the InputImageDa

[2021-10-14 00:12] mhilalsh opened #156 "Datamatrix Code scanner gives {"typeNumber": "0", "errorCode": "3", "version": "98"}"
in the image picker in the barcode scanner I use to extract a datamatrix code, it finds a barcode but the string gives me {"typeNumber": "0", "errorCode": "3", "version": "98"} , how can I fix that to get the string right?

[2021-10-16 13:23] bharat-biradar commented on #156
@mhilalsh Can you please share the barcode here?

[2021-10-18 03:17] doanbh opened #157 "Can't detect face in IOS"
I run example with Android, everything is working properly. I try with Iphone, face detect with camera still working fine.
But when I try with pick image from gallery then it doesn't work. It always returns like below:

2021-10-18 10:15:18.436004+0700 Runner[731:77394] [discovery] errors encountered while discovering extensions: Error Domain=PlugInKit Code=13 "query cancelled" UserInfo={NSLocalize

[2021-10-18 03:30] doanbh commented on #102
Same issues, Is there any way to solve this problem?

[2021-10-19 09:43] TrungNguyen153 commented on #154
+1 problem

[2021-10-20 04:41] caofuqing commented on #128
How to compare the two poses?

[2021-10-21 20:27] bharat-biradar commented on #154
@TrungNguyen153 Sorry for replying late, can you please share the image so I can replicate the error?

[2021-10-22 03:15] sbis04 opened #158 "Pass video frames to InputImage"
@bharat-biradar is there a way to convert the video frames to `InputImage` object and then pass it to perform the recognition on a video?

[2021-10-22 04:29] bharat-biradar commented on #158
@sbis04 Take a look at this [plugin](https://pub.dev/packages/export_video_frame) it might be of help to you. Let me know if it works

[2021-10-28 15:33] AjRathore opened #159 "App crashes in iOS15 with macOS Monterey (Mac M1)"
Hey,
I followed all the steps included in readme to create a sample app with the plugin. But as soon as it launches, it crashes (tested on iPhone Simulator ans on device). I also tried to run the example app but it also crashes the same way.

[2021-10-28 20:18] #159 closed, assigned to nobody

[2021-10-30 10:28] marinkobabic commented on #143
I'm having the same issue. Any feedback. With version 0.6.0 all worked fine.

[2021-10-30 10:45] marinkobabic commented on #143
It looks like you have introduced MLKitLinkFirebase. But by using this kit the idea was to not rely on firebase and to use the library completely offline. Is there an option to disable the usage of Firebase so that we are not getting the error
[code]
with the version 0.7.2 compilation works fine, but when it comes to the starting the stream the message above is reported and the app crashes.

[2021-10-31 09:08] skanderhamdi commented on #27
For anyone who faced the issue of **FirebaseCoreOnly**
Just add:
**pod 'Firebase'**
in your podfile.. **without any firebase_core** in pubspec.yaml

[2021-10-31 16:46] bharat-biradar commented on #26
@nachtmaar Sorry but I don't know about Ios side of things but please try and if it works, please mention it here.

[2021-11-02 08:20] petermoser opened #161 "ETA on iOS object detection?"
We are eagerly awaiting the Object Detection and Tracking feature on iOS for the flutter ml-kit-plugin. Would you have some information if this feature is being worked on and maybe an estimated time when it will be available since we need to make a decision soon if we should use native ML Kit for iOS and Android instead of flutter. Thank you!

[2021-11-02 19:43] skanderhamdi commented on #153
Hello,
I'm not familiar with Swift and creating plugins, as I needed on device translation for iOS, I've created a quick solution for:

- Download TranslateRemoteModel
- Delete TranslationRemoteModel
- Check if a model is downloaded
- Translate text

1. Add these lines to your Podfile
`
pod 'Firebase'
pod 'GoogleMLKit/MLKitCore', '2.2.0'
pod 'GoogleMLKit/Translate', '2.2.0'
`
2. run `pod install`

[2021-11-02 19:58] skanderhamdi commented on #153
Hello,
I'm not familiar with Swift and creating plugins, as I needed on device translation for iOS, I've created a quick solution for:

- Download TranslateRemoteModel
- Delete TranslationRemoteModel
- Check if a model is downloaded
- Translate text

Add these lines to your Podfile

[code]

run `pod install`

Inside your project, create one dart file for each one of the classes:

[code]

[code]
[c

[2021-11-02 22:46] cansavrun opened #162 "Definition of 'MLKText' must be imported"
Can anyone help me with these issues?

[2021-11-02 23:02] #162 closed

[2021-11-03 09:51] MobiliteDev opened #163 "java.lang.IllegalArgumentException with PendingIntents on Android 12"
Google ml kit plugin makes the app crash on Android 12.

**Step to reproduce :**
- Create a new sample application
VSCode : ctrl+shift+p -> Flutter: new project -> Application
- Change _compileSdkVersion_ to 31, _minSdkVersion_ to 23 and _targetSdkVersion_ to 31 in android/app/build.gradle
- Add _android:exported="true"_ on the _activity_ tag in android/app/src/main/AndroidManifest.xml
(this is a

[2021-11-03 11:36] caofuqing opened #164 "android横屏"
android横屏 画的线不对了

[2021-11-03 11:36] caofuqing commented on #164
iOS正常

[2021-11-03 13:47] bharat-biradar commented on #163
@MobiliteDev I think this error is because the [build.gradle](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/9621775908ab46a9efcb3836e4c9d4765d1921e9/android/build.gradle#L27) compile version is set to 30 in the plugin. Can you please try changing it to 31 and try again?

[2021-11-03 13:51] bharat-biradar commented on #161
@petermoser Thank you for your patience. @fbernaly will let you know if it's possible to be implemented in due time.

[2021-11-03 16:25] MobiliteDev commented on #163
@bharat-biradar Yeah it's working with this change. It would be nice to have a new version of the plugin with this change to ensure Android 11 compatibility

[2021-11-03 21:41] ashtana opened #165 "IOS How load custom model in image labeler google_ml_kit: 0.7.2"

[2021-11-03 21:55] ashtana commented on #165
I figured out that, The path to the model that I use there, for example just model.tflite and the model should be placed in /android/app/src/main/assets/model.tflite

But I still do not understand what architecture the model should be and how it should be created for its own classes and dataset in order to successfully load it and not receive errors.

[2021-11-03 21:57] ashtana commented on #165
I get when I try to load my model into the console:

I/Manager (25210): DeviceManager::DeviceManager
I/Manager (25210): findAvailableDevices
I/native  (25210): I1104 00:55:29.897558   27682 classifier_client_calculator.cc:139] Loading classifier efficientdet-lite0/v1
I/tflite  (25210): Initialized TensorFlow Lite runtime.
E/native  (25210): E1104 00:55:29.919796   27677 calculator_graph.cc:772] IN

[2021-11-03 22:21] ashtana commented on #165
I understand to join custom model in image labeler for android, but i don't know how do it for IOS. Please can you help me.

[2021-11-04 05:01] sonth-bhsoft commented on #120
Hello,
I got the same issue. Any idea?

[2021-11-04 06:28] sonth-bhsoft commented on #120
@sgsm74 I found that the issue only happens on Emulator. It works well on a real device.

[2021-11-04 06:37] sgsm74 commented on #120
No, for me it doesnt work even on real device.

[2021-11-05 14:37] aomlovebank1212 commented on #146
how to fix

[2021-11-07 02:17] KexiHe commented on #143
I am having the same problem. May be the reason is that: this plugin depends on Firebase in this version 0.7.2.  This is the evidences. By the way, I don't have a good idea to solve it, may be I have to avoiding this plugin or use/create another.

1. Plugin podspec
[https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/ios/google_ml_kit.podspec](url)
->Line 22, 23
[  s.dependency 'Goo

[2021-11-09 14:39] MobiliteDev commented on #163
@bharat-biradar It is working now. Thanks for your help.

[2021-11-09 14:39] #163 closed

[2021-11-11 07:14] flomingdev opened #167 "how to use tflite model into model name while performing image labeling ?"
As i can see below example code where we need to put modelName also there is the comment line which indicates where the tflite model stores but there is no brief explanation that how we can use it ?
I kindly request if anyone have some idea then comment down below.
Thank you.

 // Add the tflite model in android/src/main/assets
  Future<void> processImageWithRemoteModel(InputImage inputImage) asyn

[2021-11-11 14:29] jasin755 opened #168 "Cannot build it on simulator on Apple Silicon systems"

[2021-11-12 06:24] #164 closed

[2021-11-12 17:29] svprdga commented on #26
Thanks @nachtmaar for the effort  of creating the fork, that was exactly what I was looking for.

[2021-11-14 15:51] mathschy opened #169 "Cannot run example app"
Hello,

I am trying to use this plugin for OCR.

I can't run the example app.
I just git-cloned this repo, launched an iOS simulator and did `flutter run` and here is the output:
[code]
The error seems to be `    ld: framework not found FirebaseAnalytics`
(why does it need FirebaseAnalytics by the way ? seems unrelated to google_ml_kit ?)

Here is my flutter doctor
[code]
How do you manage to run

[2021-11-15 14:23] AlaaMarawi commented on #139
having the same problem !

[2021-11-15 14:51] AlaaMarawi opened #170 "LiveStream in example app does not stop on app navigation"
I am trying the example app for OCR but when navigation to another app by home or recent button on Android (without using back button ) it resumes  the live streaming
how to stop streaming in this situation ?

[2021-11-16 21:36] ranulfo commented on #109
this work for me, thanks

[2021-11-17 16:42] AlaaMarawi commented on #139
actually it works but very slow with ResolutionPreset.medium and crashes with ResolutionPreset.high and max (android)

[2021-11-17 17:19] AlaaMarawi commented on #154
I am having a similar problem with both camera image and file image with barcode reader:
1- camera picture rarely gives 'Found X barcodes' with error :

other times gives 0 results with no errors

2- gallery image never gives recognized barcodes with no errors

I tried same images in livestream and it works well
exp: https://jad5p481iok18f24519n5ve1-wpengine.netdna-ssl.com/wp-content/uploads/QRtoa

[2021-11-18 10:46] burcus opened #171 "Not detecting faces in photos taken with the camera"
It's not detecting faces on selfies. Also it's not detecting faces on screenshots which is contains face image. I'm working for iOS.
`    final List<Face> faces = await faceDetector.processImage(data);
`
In this conditions, faces are empty. This only works for "images" that contains face. But it's not work for "photos" and screenshot images. What can be causing this and how can I fix this issue?

[2021-11-24 11:20] burcus commented on #171
It was about the .heic file orientation issue. I fixed the orientation of image. And it works now.

[2021-11-24 11:20] #171 closed

[2021-11-24 15:26] paj-co opened #172 "[iOS] App is crashing with "uncaught exception FIRAppNotConfigured" when trying to scan barcode"
I'm migrating from google_ml_kit ^0.6.0 to ^0.7.3 version.

## 1. Problem

After making changes in Podfile, this lines
[code]
are causing an error:
[code]

However, when commented / removed, `pod install` finishes with success.

## 2. Problem

When above lines in Podfile are commented, and I'm trying to scan QR code, the app is crashing.
And it seems like `processImage` method from `BarcodeScanner

[2021-11-24 15:59] paj-co commented on #170
When using LiveStream you must be using camera plugin. From their documentation:
[code]

https://pub.dev/packages/camera#handling-lifecycle-states

So, you should stop image stream and dispose camera controller on `AppLifecycleState.inactive` and start again on `AppLifecycleState.resumed`

[2021-11-25 21:10] paj-co commented on #172
Ok, it seems, that I solved 1 problem. I wanted to combine Podfile configuration from 2 different packages, and I misplaced lines mentioned above. When `flutter_additional_ios_build_settings(target)` is above `target.build_configurations.each do |config|` everything seems to work fine.

But 2 problem still exists.

[2021-11-26 12:25] paj-co commented on #172
I have run project in Xcode instead of Android Studio. In Xcode I have got this error output:
[code]

So it seems, that there is a problem with Firebase configuration. On Android everything works fine.

[2021-11-26 12:56] paj-co commented on #123
I have just opened new issue with the same problem. Didn't noticed that the problem was already issued and exists for so long.
Is it a sign that this library has been somewhat neglected? 🤔

[2021-11-29 10:08] unoravi opened #174 "[ANDROID] App is working properly on debug mode but not works for profile mode."
I have created one cameraView demo and it's working properly with --debug mode. But when running the same on --profile or --release mode, it's facing an issue (hangs/crash) while loading cameraView.

Flutter Doctor :
[code]

Exception Logs :
[code]

[2021-11-29 12:39] ranulfo opened #175 "ld: framework not found FirebaseMLVision"
Hi Guys,

i encountered this error when i tried to compile for IOS:

_Xcode's output:
↳
    **ld: framework not found FirebaseMLVision**
    clang: error: linker command failed with exit code 1 (use -v to see
    invocation)
    note: Using new build system
    note: Planning
    note: Build preparation complete
    note: Building targets in parallel_

Can someone help me ?

my PodFile:
[code]

my

[2021-11-29 13:43] ranulfo opened #176 "barcode reader don't work in moto g 30"
Hi guys,

Barcode reader don't work in **motorola moto g 30.**

I alter resolution to "**Medium**", "**High**" and "**veryHigh**" but nothing happens.

Can someone help me ?
Thank's

[2021-11-30 17:24] luandnguyen commented on #176
Having this problem as well. Scanning works on all other phones except for Moto G. The camera feed is working, but detecting the QR code inside it doesn't seem to work (no outputs and just stay on the camera feed).

[2021-12-01 14:20] mathrb22 commented on #117
Hey @luvishq, I'm also having the same error when trying to build on XCode. I tried deleting the Podfile.lock, flutter clean and cleaning derived data folder but it didn't work either. I also changed the pubspec.yaml plugin reference to the following:

[code]

I've heard that is probably because of the `1.0.0-beta4` version on the MLKitPoseDetection plugin. Have you found a solution? Thank you in

[2021-12-01 22:07] canibal1 commented on #117
Hey guys @officialFlutterDeveloper  @mathrb22 @luvishq @,

Please try last version on the ios. It's fixed with last version. But if you still have an issue you can use my forked repo. Because I doesn't change anything. Maybe "github.com/bharat-biradar/Google-Ml-Kit-plugin.git" this github repo changed. I don't know. For my repo:

[code]

you can use it with as I mentioned comment https://github.co

[2021-12-02 12:07] paj-co opened #177 "Future of google_ml_kit plugin"
Firstly, I really appreciate work that you guys put in developing this plugin 👏.

However, it seems, that lately, you have been struggling to find time to reply to some issues and add corresponding solutions.
So, I just want to ask, if this lack of time is something temporary or it can last a little bit longer?

[2021-12-02 14:38] ranulfo commented on #175
I solved this problem removing all reference to FirebaseMLVision in
_Runner -> Targets Runner -> Build Settings -> Other Links Flags_

[2021-12-02 14:39] #175 closed

[2021-12-02 17:18] ranulfo commented on #176
I still have this problem, does anyone have any idea how to solve this?
thank's

[2021-12-08 23:36] jtkeyva commented on #14
@bharat-biradar any plans to implement translator for ios?
thanks

[2021-12-09 23:17] cansavrun opened #178 "İos build error"
I am gettings this error how can i solve it?

" error: could not build Objective-C module 'Firebase'"

[2021-12-10 11:43] dimitribocquet opened #179 "MLKInvalidLocalModel on IOS"
I am trying to use `imageLabeler` with a custom model, but I always have this error:

[code]

I have followed steps shown on this issue, with no luck: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/55.

[code]

![image](https://user-images.githubusercontent.com/3192298/145568818-fbfc6ea2-74ec-41af-b250-f761e57a29c1.png)

Please let me know how to solve the below.

Thank you!

[2021-12-14 12:19] venky9885 opened #180 "Size increased recently"
i am using this  package since 3 months  ,
one month before app bundle size : 35 MB(with google ml kit)

//
after that recently when i prepare  appbundle:  59 Mb(With google ml kit)
i tried  a trail to check app size  by removing google kit recently ,size is 29 Mb

From above sizes difference 59-29 = 30MB (it is size of google ml kit)

i am using only  text detector (ocr) ,but ml kit occupied 30mb

[2021-12-15 15:08] venky9885 commented on #180
i have managed to reduce app size by downgrading to 0.6 Version ,But you must look in to this issue

[2021-12-15 15:09] venky9885 commented on #180
I have managed this issue by downgrading to 0.6 version ,But you must look in to it

[2021-12-16 04:38] unoravi commented on #174
Any Updates ?

[2021-12-17 11:43] bharat-biradar commented on #180
Hi @venky9885 sorry for not responding early, could you please share your grade file so I can confirm what assets you are ignoring.

[2021-12-17 11:48] venky9885 commented on #180
[code]

[2021-12-17 12:16] bharat-biradar commented on #180
@venky9885 This is the latest snapshot of the assets targeted for `android-arm64` platform. There are some assets that are not being ignored according to your grade file.
![image](https://user-images.githubusercontent.com/62872048/146543293-a2367d63-f0a6-49c0-ba0c-10dc7887b349.png)

I suggest you analyse the size of your apk and ignore the assets accordingly it will be more effective. Hope this he

[2021-12-17 13:18] venky9885 commented on #180
ok , i will analyse size

[2021-12-17 13:18] #180 closed

[2021-12-18 09:06] saflisgit commented on #172
[This post saved me](https://medium.com/vector-com-mm/how-to-fix-ios-crash-during-the-start-firebase-configure-f3477df3154)

Add this line
 `FirebaseApp.configure()`
before
`GeneratedPluginRegistrant.register(with: self) ` line
to AppDelegate.swift file which is located under Runner folder.

After doing this, error will be changed to :

[GoogleService-Info.plist could be generated from firebase co

[2021-12-19 21:51] eripe970 opened #181 "Upgrade to iOS MlKit 2.5.0"
Hey,

If I understand correctly then the IOS part of the library is using GoogleMLKit 2.2.0. 2.5.0 seems to be available now, for example https://developers.google.com/ml-kit/vision/pose-detection/ios

Would be nice to get the latest version since that seems to be working better for pose detections.

[2021-12-21 06:41] bharat-biradar commented on #181
@eripe970 Thanks for opening the issue, after the current PR is merged I will open a PR with the suggested changes.

[2021-12-21 10:52] yuexunshi commented on #179
me too.

[2021-12-23 05:43] yuexunshi commented on #172
1. ios/Podfile:
[code]

[2021-12-23 09:13] eripe970 commented on #181
Awesome! 🙌 I tried just to bump the version numbers but it didn't work so guess something more needs to be changed

[2021-12-24 08:22] yuexunshi commented on #148
when i print it，it‘s wrong。
\^]0108809460304701112105121726051110202104280056\^]21121EC3<…>
what is \^] ？

[2021-12-24 09:27] yuexunshi opened #182 "print datamatrix string"
[code]

[2021-12-24 09:28] yuexunshi commented on #182
[print](https://i.stack.imgur.com/IAZU6.png)
[text](https://i.stack.imgur.com/7PJ1A.jpg)

[2021-12-26 12:01] MenaRaafat commented on #120
I think we need a way to query the download status in general, in order to properly display a message for the user. Like "Still downloading model" or "Please turn on Internet connection to download model" etc.

[2021-12-26 16:50] Marchewson commented on #172
hello, the solution that @yuexunshi gave  throws another error "terminating app due to uncaught exception 'com.firebase.core', reason: 'FirebaseApp.configure() could  not find a valid GoogleService-Info.plist in your project. Please download...'". What should I do?

[2021-12-26 18:41] saflisgit commented on #172
You can get GoogleService-Info.plist file by following steps in this link https://firebase.google.com/docs/ios/setup. Then locate the file under under ios/Flutter folder (not sure about location, may be ios/Runner).

[2021-12-28 14:48] MenaRaafat opened #183 "Why is there no headEulerAngleX available in Face detection?"
I implemented face detection using GoogleML-Kit on native android, where a detected face had a headEulerAngleX value.
In flutter, there seems to be no headEulerAngleX parameter available. Why?

[2022-01-02 13:58] augustinharter commented on #9
I have the same problem and it seems like this issue was not resolved properly?

the answer from @fbernaly seems outdated since creating InputImageDate from imageSize only is not supported with the current version as far as I can tell. Also his link to the source code base seems outdated and wrong.

`void processImage(XFile file) {
    // READ File Bytes
    File(file.path).readAsBytes().then((byt

[2022-01-02 18:48] saddy001 opened #185 "Crash on iPhone 6s with TextRecognizer"
I have it crashing on an iPhone 6s using the TextRecognizer. Here's the stacktrace:

<details>
  <summary>
    iPhone 6s stacktrace
  </summary>
Incident Identifier: xxxxx
Hardware Model:      iPhone8,1
Process:             Runner [438]
Path:                /private/var/containers/Bundle/Application/xxxxx/Runner.app/Runner
Identifier:          xxxxx
Version:             3.3.1 (38)
AppStoreTools:

[2022-01-03 22:38] Marchewson commented on #172
Thanks for the reply. But then my app will use Firebase when used on iOS? And i will be charged probably? I think that the whole point of this plugin was not to use firebase but ML Kit on device?

[2022-01-04 00:14] noeama commented on #113
This is working fine on Android but not on iOS:

`Future<String> textFromImage(File image) async {
    final InputImage inputImage = InputImage.fromFile(image);
    final TextDetector textDetector = GoogleMlKit.vision.textDetector();
    RecognisedText recognisedText;
    String returnText = '';

    try {
      recognisedText = await textDetector.processImage(
          inputImage);
    }catch(e)

[2022-01-04 09:19] saddy001 commented on #185
Because the error above looked like an out of memory exception to me ("VM - Fault hit memory shortage"), I reduced the camera resolution for iOS and now I have a different stack trace for the iPhone 6s. On Android, it is working fine. I also tested on an iPhone 11 and it's also crashing.

<details>
  <summary>
    new iPhone 6s stacktrace
  </summary>
Incident Identifier: xxxxx
Hardware Model:

[2022-01-04 14:05] jugamir commented on #172
Hi, I have the same problem. On android it works fine though. I also don't use any other firebase plugin. Any idea what could be the problem?

[2022-01-08 13:37] devtronic commented on #110
You can remove it in the build.gradle. More details:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/26

[2022-01-08 18:22] josemave2000 commented on #138
I have the same issue face detection not working for the landscape. Pls, any solution? Thanks

[2022-01-10 07:16] BharanidharanNichiIn opened #186 "How to get the text when tapped on text detector view while scanning"
Hi,
I have requirement like whenever the user tap on the ocr text while scanning in text detector view, i need to search that text may i know how to do that  call back method to get the value when tapped.

[2022-01-11 14:11] paj-co commented on #177
@bharat-biradar Thank you for your reply. Good luck in your search for a new iOS contributor!

[2022-01-11 14:38] paj-co commented on #172
It seems that if @yuexunshi solution works, there must be Firebase added to the project. Unfortunately my project is firebase-free and there are no plans to add it in the near future.
So it would help if solution would come from within package itself.

[2022-01-13 03:07] BharanidharanNichiIn commented on #186
This requirement i achieved this with touchable plugin. So i'm closing this.

[2022-01-13 03:07] #186 closed

[2022-01-13 17:02] SebghatYusuf opened #187 "[Android] - Crash on low spec devices `OutOfMemoryError`"
I've been using ML Kit for OCR and barcode reading, it's running fine on devices with higher amount of RAM, but for the lower spec devices for example 2GB of RAM it crashes `oom` :
 here is crashlytics logs:

[code]

[2022-01-13 19:22] prafull2001 opened #188 "iOS - App Crashes When Using RecognisedText"
I am trying to run a simple program that takes an image from a user's gallery and converts it into text. 'imageToText()' takes an image as input and is supposed to parse the detected text. As of now the program is able to print "loaded textDetector" but then immediately crashes when trying to set up the _recognisedText_ object as shown below the code.

I have also included the Xcode Output that I

[2022-01-14 08:31] lala-naibova commented on #188
I also get the same error

[2022-01-16 12:26] msarkrish commented on #176
Barcode not detected in Oneplus Nord N100(Android 11) also, @ranulfo @luandnguyen @bharat-biradar
Anyone found solution for this problem?

[2022-01-17 10:57] lala-naibova commented on #188
@prafull2001 ,  I did some changes in xcode,
I added FirebaseApp.configure() - to the AppDelegate (didFinishLaunchingWithOptions) and everything is Ok in this IDE,
but android studio doesn't see this changes

[2022-01-17 11:21] lala-naibova commented on #188
@prafull2001 , change IDE from studio to Visual Code, everything will be okay then

[2022-01-18 03:26] prafull2001 commented on #188
@lala-naibova why does that work for you? There should be no difference between IDEs especially if Android Studios is maintained by Google. Is the google_ml_kit plugin even maintained by google officially? It doesn't seem to have any official flutter support.

[2022-01-18 04:07] lala-naibova commented on #188
Now everything is okay with all IDE for me, after doing some changes in xcode I had to close the project in studio,

[2022-01-18 04:09] prafull2001 commented on #188
Are you talking about Android Studio? And could you please describe the changes you had to do?

[2022-01-18 04:11] lala-naibova commented on #188
Open runner in xcode, and add FirebaseApp.configure(); -to the appdelegate ,
P.S : import FirebaseCore

[2022-01-18 10:20] girllee opened #189 "How to use without firebase service"
In the China's network environment, there is no firebase and google play, how to use it in this case?

[2022-01-19 19:27] prafull2001 commented on #188
I am getting this error on my AppDelegate

<img width="850" alt="Screen Shot 2022-01-19 at 2 26 45 PM" src="https://user-images.githubusercontent.com/11901562/150200269-e8c3e15e-17ce-4112-9226-e50e7ca1f0d7.png">

[2022-01-19 19:50] lala-naibova commented on #188
Actually I didn't know why this happening, I also got this red lines ( I ll share with u if find some info about that). Anyway just  try to build your app in xcode then go to android studio and continue coding , This error doesnt affect to build operation

[2022-01-20 14:17] LeoRpc opened #190 "Pass many strokes (List<Offset>) in digitalInkRecogniser"
Hi,
First of all, thanks a lot to the people who are working to make this wonderful library available on Flutter!

On the android version of the library, the input object taken by the digitalInkRecogniser is an `Ink` element ([see documentation](https://developers.google.com/ml-kit/vision/digital-ink-recognition/android#build_an_ink_object)) which is basically a List of `Stroke`s.
On the flutter v

[2022-01-20 16:23] prafull2001 commented on #188
For me it does, my app crashes upon startup I'm not sure why, can't find anything relevant on the topic.

[2022-01-23 18:41] msarkrish commented on #189
This plugin support Barcode scanning, Image Labeling and much more,
If you want to use Barcode scanning then no need to include firebase service.
You cannot use google play service option while taking build, but you can use bundle option.
Example: you can check for barcode scan bundle option [here](https://developers.google.com/ml-kit/vision/barcode-scanning/android#before-you-begin)

[2022-01-24 01:18] siddzankat commented on #161
Thanks @bharat-biradar for all the work you have done on this plugin. Is there an update on above request? I am also looking for iOS support for object detection and tracking api. Thanks!

[2022-01-25 09:56] X-SLAYER opened #191 "Face Detection from a video"
Hello, is there a way to detect faces or poses from real-time video

[2022-01-26 05:02] xang555 opened #192 "Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent"
I test this plugin in android 12 but the app crashes immediately when I try to remove this plugin everything is well

## my environment information

- Google-Ml-Kit-plugin version `^0.7.3`
- Test on android 12
- set `compileSdkVersion 31`, `minSdkVersion 23`, `targetSdkVersion 31`
- flutter `2.8.1`

full error

[code]

[2022-01-26 07:05] xang555 commented on #192
Fixed

add the following

[code]

ref: [ml-kit issues](https://developers.google.com/ml-kit/known-issues)

[2022-01-26 12:59] X-SLAYER commented on #191
solved i used this method from camera and it's work fine for me

[code]

[2022-01-26 12:59] #191 closed

[2022-01-30 23:07] jonsamwell commented on #192
Also keeping the targetSdkVersion to 30 for now works

[2022-02-01 07:13] renanyoy commented on #188
adding FirebaseApp.configure() doesn't work for me, app crash with the error "firebase already configured" at launch.

[2022-02-02 10:39] hardikvij195 commented on #157
yea I am also facing the same issue, face is not getting detected on iOS

[2022-02-04 10:13] klimnaz opened #193 "faceDetector.close() returns nothing on iOS, so await takes forever"
[code]

Tested on iPhone Xr 14.6 iOs

[2022-02-06 15:04] jdiazgon55 opened #194 "Not able to run iOS example"
### Problem description

Related to #169.

I would like to run the iOS example.

I have freshly cloned this project, and I am not able to execute `flutter run` on folder `examples/ios`. I am getting the following output:

[code]
I have checked Info.plist file but the bundle identifier `$(PRODUCT_BUNDLE_IDENTIFIER)` seems correct.

### System configuration

macOS Monterey V. 12.2
XCode V. 13
Flutte

[2022-02-06 15:04] jdiazgon55 commented on #169
Hello @mathschy, were you able to run it on iOS? I am facing an issue on a previous step. I created an issue #194

[2022-02-07 06:55] renanyoy opened #195 "app crash on iOS - NSMallocException"
[code]

[2022-02-07 06:56] renanyoy commented on #188
sry for it's for another reason #188

[2022-02-09 09:15] jdiazgon55 commented on #183
It seems that they forgot to add it on the library, but I was able to get it. It's pretty easy, if I have time I will create a Pull Request.

Just find in every file of this package where headEulerAngleY is used, and add headEulerAngleX:

![Captura de pantalla 2022-02-09 a las 10 11 46](https://user-images.githubusercontent.com/28304354/153163572-1e07369f-7d63-4afd-b762-cf7fafe185e9.png)

[2022-02-09 18:10] GalegoServicos opened #196 "#improvement - Direct image reading from CameraImage"
cancelled

[2022-02-09 18:11] #196 closed

[2022-02-09 18:12] AlexsandroZanella2 opened #197 "#improvement - Direct image reading from CameraImage"
I didn't find the conversion of the camera's yuv formats to NV12 ready in the plugin, which is supported by mlKit. The YUV_420 format of the camera plugin is equivalent to the YUV_420_888 of android, which is not supported by the InputImage.fromByteArray of MlKit, so it is necessary to convert from YUV_420_888 to IMAGE_FORMAT_NV21 or IMAGE_FORMAT_YV12.

Obs: Alternatively, you can use InputImage.f

[2022-02-12 06:20] anounboy commented on #26
i only use pose detection and my  aaptOptions is

`aaptOptions {
                ignoreAssetsPattern '!mlkit_ocr:!mlkit_label_default_model:'
                ignoreAssetsPattern 'hobbes.tflite'

            }`

`packagingOptions {
        exclude 'lib/**/libtranslate_jni.so'
        exclude 'lib/**/libdigitalink.so'
        exclude 'lib/**/libxeno_native.so'
        exclude 'lib/**/libmlkitcommonp

[2022-02-12 10:59] M123-dev opened #198 "Disable firebase metrics/logging"
When using the scanner we often see:

Since privacy is a big point we need some kind of way to disable this logging for the end user, it would be great if there would be a way to do this

[2022-02-12 21:44] ritox842 opened #199 "Example app stuck when opening the camera"
Hey.

I'm a new user in Flutter and I'm trying to run the barcode example.
Im running the app in a real ios device (iPhone 12 pro) and as soon as I select the example from the list the application stuck and I see this in xcode:

<img width="829" alt="image" src="https://user-images.githubusercontent.com/7280441/153729384-133aa9c8-981c-45dc-a0ad-1e06212a7cda.png">

Seems like some kind of error wit

[2022-02-13 10:51] sina03030 commented on #135
I HAVE THE SAME PROBLEM .

[2022-02-15 10:26] officialFlutterDeveloper opened #200 "Google ML + Image_Picker"
hey there I am using image picker 0.8.4+1

and I am using ML to detect text I have a gallery option and camera option if I use picture from gallery it works I am able to detect but when I use camera option it does not detect anything why is that? camera uses Xfile

I get this error what does it mean

[Camera] Failed to read exposureBiasesByMode dictionary: Error Domain=NSCocoaErrorDomain Code=4864

[2022-02-19 20:17] salmanrajz commented on #199
same here :(

[2022-02-19 20:17] salmanrajz commented on #199
same here :(

[2022-02-21 05:45] Ritsz123 opened #201 "face detection not working on android 11+ devices"
face detection is not working on android 11+ devices,
I test face detection on 4 android devices but it was not working on 2 of them (having android 11+) versions.

Devices used for testing :
Realme 1 : android 9 (working)
Redmi 6A: android 9 (working)
Realme Narzo 20A: android 11 (not working)
Redmi note 7 pro: android 11 (not working)

[2022-02-21 09:21] ritox842 commented on #199
It's working for me now... I'm not sure what I did to make it work cause I tried many things but please try this and update here if it helps:

[code]

[2022-02-21 09:40] salmanrajz commented on #199
Sure I'll try but currently, I'm using this package, quite good for now as I need,

https://pub.dev/packages/camera_process

[2022-02-21 19:10] PandaTobi opened #202 "Image capture from Face Detection screen in example"
Does anyone know how to do this? I'm trying to snap an image as soon as it detects a face, but I'm not sure how to get an image file from an InputImage instance.

[2022-02-23 08:31] lala-naibova opened #203 "[ANDROID] text recognizer doesn't bring a data from imageStream"
In IOS this function works properly but in android I cann't get the data from streams. Thats why I'm taking pics of the screen every 3 sec. And this time phone freezes after 1minute.

[code]

[2022-02-23 10:45] mhilalsh opened #204 "How can I crop the cameraImage taken by CameraPreview"
in the scanner and I needed to implement a square overlay to the Camera preview, I take the image stream from the Camera Preview and send it to an API, now after adding the square overlay I need to square crop the cameraImage taken from the Camera preview before sending it to the API.

I only have the cameraImage -which is **YUV** 420 format- taken how can I crop it programmatically?

[2022-02-24 18:56] MushtaqAlvi opened #205 "Increasing apk size."
I want to know that this plugin implements which model to use like as [this page](https://developers.google.com/ml-kit/vision/face-detection/android) mention there are two models . If you select the unbundled model your app will be smaller because it will download the trained ml model after installation of apk . otherwise, if you select bundled the model will become inside apk (apk size increased)

[2022-02-27 20:15] stuut opened #206 "Crashes on ios device"
All features in provided example crash

[2022-02-28 15:01] ljmatan commented on #117
Still won't work for me, cleaned derived data, ran `flutter pub cache repair`, etc.

Also on M1 Mac

[2022-03-01 20:37] Aman-Malhotra commented on #117
could it be something specific to M1 ?
did all of the above but doesnt build on M1 chip mac.
@ljmatan @officialFlutterDeveloper  both are facing this on m1 and unable to solve.

[2022-03-02 13:11] FedurovKonstantin commented on #117
Hi i had same issue now and what did you do with that error?

[2022-03-02 19:53] LZZZZ commented on #177
I am willing to contribute with some money for anyone that can fix the current iOS problem, where it crashes or requires Firebase (issue #172 and others).

Would that be helpful, @bharat-biradar?

[2022-03-03 14:15] kodol73 opened #207 "TextDetector works ok on Android but doesn't work on iOS"
Hi,

TextDetectorV2 works ok on Android.
However, I have the following error on iOS using GoogleMlKit.vision.textDetectorV2()

-----------------------------------------------------------------------------------------------------------------------

[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: MissingPluginException(No implementation found for method vision#startTextDetectorV2 on channel g

[2022-03-03 23:09] kabilya commented on #188
Hi,
I had a similar problem and was crashing with RecognisedText.
The problem was the previous version was return a Map class instead of TextBlock.
But TextDetectoV2 is now returning an actual TextBlock.

I edited the RecognisedText class and is working now.

[code]

[2022-03-04 15:36] jdiazgon55 commented on #201
Is it happening on Android 10 aswell? At least in my phone it does not seem to work

[2022-03-06 12:17] Ritsz123 commented on #201
@jdiazgon55 not sure about android 10.

[2022-03-08 08:54] canibal1 commented on #117
Hey guys,

In this case, please analyze the problem by checking the error messages in flutter console and XCode console.
Because there are more descriptive error messages. XCode can sometimes show exactly where it went wrong.
### If you are using m1, don't forget to do these steps.

Make sure you are using the correct CocoaPods "`sudo arch -x86_64 gem install ffi`"and do the pod install with "`arc

[2022-03-10 03:07] migol06 opened #208 "Failed to open model file - Image Label"
I got this error while using CustomImageLabelerOptions.  See my code

` Future<void> processImageWithRemoteModel(String? path) async {
    final inputImage = InputImage.fromFilePath(path!);
    final options = CustomImageLabelerOptions(
        customModel: CustomLocalModel.asset, customModelPath: 'ph_currency');
    _imageLabeler = GoogleMlKit.vision.imageLabeler(options);
    processImage(inputI

[2022-03-10 03:53] #208 closed

[2022-03-10 22:24] haraldkofler opened #209 "works only up to com.google.mlkit:barcode-scanning:17.0.0"
If defining in build.gradle a mlkit:barcode-scanning newer than 17.0.0 the lib crashes with a ClassNotFound exception (Barcode).

**works:**

[code]

**does not work:**

[code]

produces the following exception:

[code]

[2022-03-11 15:59] jdiazgon55 commented on #202
Use the example file `camera_view` from [here](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/example/lib/VisionDetectorViews/camera_view.dart) and take the picture using the `CameraController` provided:

[code]

[2022-03-11 16:00] jdiazgon55 commented on #201
Confirmed it is not working on Android 10 and higher. I am going to try to fix this, wish me good luck :D

[2022-03-11 21:46] BilalKashif opened #210 "Pose Detection does not return correct coordinates in IOS."
Pose detection is correctly working on android and when I use it in ios it gives wrong coordinates

For example: The leftWrist gives the coordinates of rightWrist and rightWrist gives the coordinates of leftWrist

I changed left to right and right to left then it worked.

It seems that in ios it treats your left side as your right side.

Please check it and tell me that is it the fault in this pac

[2022-03-14 12:21] #170 closed

[2022-03-15 12:40] GeoGlass commented on #176
Moto G7 not reading barcode ITF type. But I guess it's a problem with Camera plugin.
this package worked fine.  https://pub.dev/packages/qr_mobile_vision

[2022-03-15 12:51] GeoGlass commented on #187
Using resolution `ResolutionPreset.high` or above crashes on lower devices.
On my Moto G7 it only works on `ResolutionPreset.low` and `ResolutionPreset.medium`

[2022-03-16 09:36] fabiosanto commented on #161
Hello @bharat-biradar, thanks again for your work on this plugin. Any update on the above request?
thank you

[2022-03-16 10:50] mhilalsh commented on #148
@yuexunshi Idk really, I don't even know anything about bytes or image processing I just kept manipulating the bytes and it worked for me so I thought I might share it maybe it'll work for someone else

[2022-03-18 00:28] mhidalgo opened #212 "Are custom models supported for Pose Estimation ?"
I don't see how to integrate custom models in the documentation.  I am trying to implement the model as seen here:

https://developers.google.com/ml-kit/vision/pose-detection/classifying-poses.

[2022-03-18 12:26] ardiirfanto commented on #201
Hello, i have some trouble with face detection.
In my case on Android 10+ for several device is work correctly. but on several devices is not working.
I set CameraController to ResolutionPreset.high , Low, Medium, VeryHigh still didnt work.

Please, Do you have a solution?
Thankyou

My Test Device Didnt Work:
Redmi 9T
Poco X3
And more..

[2022-03-19 15:39] X-SLAYER opened #213 "Android- App auto close on imageStream"
whenever I use the app with  faceDetector in debug, profile, or release mode it works fine but when i build the app and start it the app automatically close after the camera stream starts

[2022-03-20 18:28] X-SLAYER commented on #213
another note this crash happens only when I build the apk with `flutter build apk --split-per-abi` and install the **app-armeabi-v7a-release.apk** but with `flutter build apk --release` the app works fine is it normal?

[2022-03-21 06:55] fbernaly commented on #210
@BilalKashif : could you send a PR?

[2022-03-21 12:12] jtmuller5 commented on #210
I noticed that on iOS the landmarks returned by the model are not in any particular order. This made it look like the coordinates were wrong. To fix it, I just sorted the landmarks before handling them:

`landmarks.sort((a,b) => a.type.index.compareTo(b.type.index));`

[2022-03-21 16:05] fbernaly commented on #210
That means we can close this issue.
@BilalKashif : Confirm that that works for you.

[2022-03-21 22:27] #80 closed

[2022-03-21 22:27] #83 closed

[2022-03-21 22:27] #84 closed

[2022-03-21 22:28] #89 closed

[2022-03-21 22:31] #96 closed

[2022-03-21 22:32] #97 closed

[2022-03-21 22:37] fbernaly commented on #177
@LZZZZ: I am working on updating the iOS plugin. What is the specific issue you are facing?

I can take Venmo or PayPal.

[2022-03-22 10:21] vasu2408 commented on #188
I also faced the same issue.
But in my case it was Google-service.plist file, I forgot to add that file so it was giving me error.
Then I added it and added FirebaseApp.configure() and its done...

[2022-03-24 09:25] MlecznyU commented on #201
I face the same problem on one plus 8 pro Android 11

[2022-03-24 09:47] Ritsz123 commented on #201
@jdiazgon55 I tried this but still it is not working for me

[2022-03-24 10:27] ardiirfanto commented on #201
Hello, I'll try it and worked.

replace
`final Size imageSize = Size(image.width.toDouble(), image.height.toDouble());`

with
[code]

I found the solution [here](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/94#issuecomment-898934212)

Thanks for attention.

[2022-03-24 10:57] Ritsz123 commented on #201
@ardiirfanto
Thank you for the solution it works..

[2022-03-24 10:59] Ritsz123 commented on #201
Closing this thread as we found the solution https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/201#issuecomment-1077472040

[2022-03-24 10:59] #201 closed

[2022-03-24 11:31] Holofox commented on #179
@dimitribocquet, @yuexunshi, you can use a workaround:

[code]

**pubspec.yaml**
[code]

Sample:

[code]

[2022-03-30 03:54] yuexunshi commented on #179
thank you。

[2022-03-31 03:23] HiMsszhang opened #216 "How can I use detect pose in a video stream?"

[2022-04-07 07:49] palvajk commented on #200
I don't get this error, but I also have this issue. If I select a picture from gallery it works fine, detect the text, but if I use the camera and take the exactly same picture which i selected it didn't find anything.

[2022-04-08 01:43] naoaki-kaito opened #217 "does't open app on Android"
## problem
App is crashed immediately after app opened.
iOS works fine.

## How to reproduce
 - create new project `$ flutter new xxxx`
 - add "import dependencies" in pubspec.yaml `google_ml_kit: ^0.7.3`
 - setting viewing [Usage](https://pub.dev/packages/google_ml_kit#usage)
 - `$ flutter build apk`
 - `$ flutter run` and crashed.

## Versions
 - google_ml_kit: 0.7.3
 - Flutter: 2.10.4
 - dart:

[2022-04-08 20:42] #210 closed

[2022-04-09 14:47] SebghatYusuf commented on #187
Closing this issue as the memory management should be done to prevent the crash. especially on lower devices if it works for you use lower res, otherwise, try to minimize the memory use by preventing repetitive builds when not necessary.

[2022-04-09 14:47] #187 closed

[2022-04-11 10:38] hassanyassiin opened #218 "Can I use image labeling instead of object detection and tracking to view similar products as the capture one ?"
Hello, I'm building a flutter app that the user can capture a product (clothes, shoes, watches, etc...) and my app should view the similar products, I see that the object detection is still not yet implemented for iOS, so can I use image labeling for that issue, and if yes can anyone give me a hint what should I do, I'm learning now TensorFlow in Order to make my own custom model...

This is examp

[2022-04-11 14:12] p4-k4 commented on #153
Hi.

Will there be an implementation for the above from @skanderhamdi ? Or is there a reason why this is still open?

[2022-04-12 13:29] jtmuller5 commented on #210
I dug into this a little further and I think this issue should be reopened. In addition to the landmarks being out of order, the left and right landmarks are reversed on iOS (so your left knee is labeled as your right knee, your left ankle is labeled as your right ankle, and so on)

[2022-04-12 19:55] fbernaly commented on #210
@jtmuller5 : only reopen if you are going to send a PR to fix the issue.

[2022-04-13 07:17] bharat-biradar commented on #153
Hi @p4-k4 the api's have been implemented in the pr #215, it might take another week to merge and publish all the plugins.

[2022-04-13 07:17] #153 closed

[2022-04-13 07:19] p4-k4 commented on #153
@bharat-biradar That's awesome news, I look forward to it! Thanks a tonne mate.

[2022-04-14 15:07] arkkhanu opened #219 "MICR Not Supported"
There is no functionality of reading MICR font 13B.

[2022-04-15 08:26] baseplate77 commented on #212
check this [tflite_flutter](https://pub.dev/packages/tflite_flutter_helper)  package

[2022-04-18 21:13] ryanaidilp opened #221 "getting this weird platform exception & NoClassDefFoundError whenever I tried to update google ml kit"
I got this weird error where my face detector app working just fine on the beginning and then crashed after Im running pub update.

here's some thing I notice
[code]

[code]

I'm using the latest version and trying to downgrade it to version 5 and still got the same error

[2022-04-19 10:40] ChanakaWeerasinghe opened #222 "Realme 7i, Android 11 face detector not working even sample app"
Realme 7i, Android 11 Face detection is not working could you please help to resolve the issue.

[2022-04-21 08:55] X-SLAYER opened #225 "The method 'getLandmark' isn't defined for the type 'Face'"
after upgrading the `google_ml_kit` to the newest version `0.8.0` when I wanted to use the getLandmark like it mentionned here [google_mlkit_face_detection](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_face_detection) it didn't work
[code]
but I handle it like that.
So i don't know if it should be updated in the code or the document should mention it lik

[2022-04-21 11:55] mahmoud-atef-eden commented on #207
any solutions ??

[2022-04-21 11:57] X-SLAYER commented on #221
can you show a part of your code that u used?

[2022-04-21 12:11] mahmoud-atef-eden opened #226 "TextDetectorV2 Not Working on ios"
TextDetectorV2  Not Working on ios
Unhandled Exception: MissingPluginException(No implementation found for method vision#startTextDetectorV2 on channel google_ml_kit)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:175:7)

When I change TextDetectorV2  with TextDetector camera opened and start to detect but stopped after a while you can see the attached imag

[2022-04-21 12:25] ryanaidilp commented on #221
@X-SLAYER okay,

here's some of my code related to google ml kit

- camera_service.dart
[code]
- ml_vision_service
[code]

- face_detector_service.dart
[code]

after some debugging I notice that my code never get pass this line in face_detector_service.dart
[code]

[2022-04-21 12:44] X-SLAYER commented on #221
I think the problem is with the bytes passed to  `InputImage.fromBytes`
try to change this
[code]
to this

[code]

[2022-04-21 13:07] ryanaidilp commented on #221
@X-SLAYER okay, I'll try it

[2022-04-21 13:24] ryanaidilp commented on #221
@X-SLAYER now i got another error and my app keep crashing whenever I'm trying to open the camera to scan face.
here's the log

[code]

[2022-04-21 13:28] ryanaidilp commented on #221
here's my gradle and manifest file

- *android/build.gradle*
[code]

- *android/app/build.gradle*
[code]

- *AndroidManifest.xml
[code]

are there anything wrong with my configuration?

[2022-04-21 14:10] X-SLAYER commented on #221
try to use the last version 0.8.0

[2022-04-21 16:26] fbernaly commented on #226
@mahmoud-atef-eden: what plugin version are you using? we released `0.8.0` yesterday and we do not have such method `vision#startTextDetectorV2` in the latest one. Also, make sure you are passing the correct recognition script when creating the an instance of `TextRecognizer`: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_text_recognition/lib/src/text_rec

[2022-04-21 16:29] fbernaly commented on #225
Thanks @X-SLAYER that is the correct way to access the landmarks. We will update the readme, I forgot to update that. Also, you are welcome to send a PR and update the readme.

[2022-04-21 16:32] fbernaly commented on #222
@ChanakaWeerasinghe: we do not have all the devices to test using all the available Android OS variants and manufacturer, and we cannot use the emulator in all the cases. Please provide more detail of your issue so maybe another developer with the same hardware can step in and help. Also, we released `0.8.0` yesterday, please give it a try.

[2022-04-21 16:39] fbernaly commented on #221
@ryanaidilp: if you are using only face detection use `google_mlkit_face_detection: ^0.0.1` instead:
https://pub.dev/packages/google_mlkit_face_detection
 google_mlkit_face_detection is ours as well, and we split all the API to their corresponding plugin to avoid adding unnecessary dependencies to your project.

Now google_ml_kit v0.8.0 is just an umbrella plugin including all the plugins.

[2022-04-21 16:40] fbernaly commented on #219
@arkkhanu: could you provide more detail? is that implemented in the original APIs:
https://developers.google.com/ml-kit/guides ??

[2022-04-21 16:44] fbernaly commented on #218
@hassanyassiin : we released `0.8.0` yesterday and all the APIs are supported for both iOS and Android, except for selfie segmentation.

Also, be aware that `google_ml_kit` is an umbrella plugin that will include all the functionality for all the ML Kit APIs, and therefore will include more functionality that you intend to use. If your intentions is to only use object detection try `google_mlkit_o

[2022-04-21 16:46] fbernaly commented on #217
Could you try the latest version: `0.8.0`.

Also be aware that in our latest release we split the plugin in multiples plugins, and now `google_ml_kit` is an umbrella plugin. More details in our readme: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit

[2022-04-21 16:47] fbernaly commented on #216
you can find all the in our readme: https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_pose_detection

[2022-04-21 16:47] #216 closed

[2022-04-21 16:48] fbernaly commented on #213
@X-SLAYER: any update on this? did `flutter build apk --release` solve your issue?

[2022-04-21 16:54] fbernaly commented on #212
@mhidalgo: Google's ML Kit Pose Detection only offers an API to detect poses and return landmarks, with the landmarks returned by the API you can use that data as an input for another step using another package like the one @baseplate77  suggested, but that is outside the scope of this plugin.

[2022-04-21 16:54] #212 closed

[2022-04-21 16:57] fbernaly commented on #209
@haraldkofler: try our new plugin: `google_mlkit_barcode_scanning` it is using the latest: `com.google.mlkit:barcode-scanning:17.0.2`:
https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_barcode_scanning/android/build.gradle

 More info here:

https://pub.dev/packages/google_mlkit_barcode_scanning

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/mas

[2022-04-21 16:57] #209 closed

[2022-04-21 17:00] fbernaly commented on #207
@kodol73 , @mahmoud-atef-eden : try our new plugin: [google_mlkit_text_recognition](https://pub.dev/packages/google_mlkit_text_recognition).

We have split google_ml_kit in multiples plugins to allow devs to only include to their apps only what they need.

More info here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit

https://github.com/bharat-biradar/G

[2022-04-21 17:00] #207 closed

[2022-04-21 17:02] #206 closed

[2022-04-21 17:04] fbernaly commented on #183
Closing as resolved. That is included in the latest version:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/blob/master/packages/google_mlkit_face_detection/lib/src/face_detector.dart#L131-L159

[2022-04-21 17:04] #183 closed

[2022-04-21 17:08] fbernaly commented on #102
Face detection in the latest plugin version:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_mlkit_face_detection

Try the example app but make sure to read the [Getting Started](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit/example#getting-started)

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-p

[2022-04-21 17:08] #102 closed

[2022-04-21 17:09] #226 closed

[2022-04-21 17:13] fbernaly commented on #101
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:13] #101 closed

[2022-04-21 17:16] fbernaly commented on #26
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:16] #26 closed

[2022-04-21 17:17] #103 closed

[2022-04-21 17:18] fbernaly commented on #103
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:18] fbernaly commented on #106
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:18] #106 closed

[2022-04-21 17:21] fbernaly commented on #107
Yes, I have noticed some lagging as well. I think it is due to the FlutterMethodChannels, there is a small delay passing all that camera feed from Flutter to the native methods. We will look if there is a way to improve that, you are welcome to send a PR if you are interested in getting this fixed.

For now, closing this one for inactivity.

[2022-04-21 17:21] #107 closed

[2022-04-21 17:23] fbernaly commented on #108
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

More details here:

https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/pac

[2022-04-21 17:23] #108 closed

[2022-04-21 17:30] fbernaly commented on #109
We released a new version of [google_ml_kit](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/tree/master/packages/google_ml_kit) in which we have split all the plugins in multiple plugins to avoid removing the models for API you are not using, go to our readme and start using the new plugin you need.

Also, noticed that if you are using [Image Labeling](https://github.com/bharat-biradar/Goo